body {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
	background-color: #F9F9F9;
    font-family: Verdana, Arial,Vrinda,Tahoma;
    line-height: 175%;
    font-size:12px;
    color:#666;
}
html {
    background-color: #F9F9F9;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
}
a {
    color: #555;
    text-decoration:none;
}
a:hover {
    color: #0099CC;
}

img {
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    display:inline;
}
ul{
    margin:0;
    padding:0;
    list-style-position: outside;
    list-style-type: none;
}
li{
    margin:0;
    padding:0;
}
div{
    margin:0;
    padding:0;
}
.header_content {
    margin: 0 auto;
    padding:0px;
    width: 100%;
}
.header_content .logo {
    height: 50px;
    width: 20%;
    float: left;
}
.header_content .right_nav {
    float: right;
    width: 80%;
    height: 50px;
}

.right_nav .text_left {
    float: left;
    width: 20%;
    padding: 22px 0px 0px 0px;
    color: #CC3300;
}
.right_nav .text_right {
    float: right;
    width: 80%;
    display: inline;
    padding: 22px 0 0 0;
    text-align: right;
}
.nav_list a {
    display: inline;
    color:#3399CC;
}
.nav_list li {
      display:inline;
      }
.nav_return a {
    display: inline;
    color:#3399CC;
}
.nav_return li {
    display: inline;
}
#left_content {
    clear: both;
    width: 199px;
}
#left_content #user_info {
    background-image: url(../images/manage_r2_c1.jpg);
    background-repeat: no-repeat;
    height: 55px;
    padding: 10px 0 0 55px;
}
#left_content #user_info a{
    color:#0099CC;
}
#left_content #main_nav {
    width: 199px;
    background-image: url(../images/left_nav_bg.jpg);
    background-repeat: repeat-y;
}
#left_main_nav {
    float: left;
    width: 25px;
    line-height: 13px;
    color:#FFF;
}
#left_main_nav li{
    height:69px;
    width:12px;
    text-align: center;
    padding: 7px 6px 0 7px;
}
.left_back{
    background-image: url(../images/manage_r7_c2.jpg);
    background-repeat: no-repeat;
    cursor:pointer;
}
.left_back_onclick{
    background-image: url(../images/manage_r6_c2.jpg);
    background-repeat: no-repeat;
    color:#333333;
}
#left_main_nav a{
    color:#0099CC;
}#right_main_nav {
    width: 173px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #B4C9C6;
    border-bottom-color: #B4C9C6;
    float: right;
    background-color: #FFF;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #B4C9C6;
    height: 455px;
    text-align: left;
}
.list_tilte {
    background-image: url(../images/list_title.gif);
    background-repeat: no-repeat;
    margin: 0 auto;
    clear: both;
    height: 22px;
    width: 140px;
    padding-left: 30px;
    font-weight: bold;
    color: #0099CC;
    margin-top: 9px;
    cursor:pointer;
}
.list_tilte_onclick {
    background-image: url(../images/list_title_onclick.gif);
    background-repeat: no-repeat;
    margin: 0 auto;
    clear: both;
    height: 22px;
    width: 140px;
    padding-left: 30px;
    font-weight: bold;
    color: #0099CC;
    margin-top: 9px;
    cursor:pointer;
}
.list_detail {
    margin: 0 auto;
}
.list_detail li{
    list-style-image: url(../images/direct_blue.gif);
    list-style-position: inside;
    padding: 0 0 0 4px;
    }

#switchpic {
    width: 6px;
    cursor:pointer;
    clear: both;
    vertical-align: bottom;
    margin-top: 220px;
}
#nav {
    width:99%;
    float:left;
    background-image: url(../images/nav_bg.jpg);
}
#nav ul { 
      margin:0; 
      list-style:none; 
      padding: 0;
 }
#nav li {
     float:left; 
     margin:0; 
     padding:2px 35px 0 30px;
     line-height:24px;
     font-weight:bold;
}
.bg_image{
     background: url(../images/manage_r2_c14.jpg) no-repeat;
     cursor:pointer;
}
.bg_image_onclick{
    background: url(../images/manage_r2_c13.jpg) no-repeat;
    color:#09F;
}
#sub_info {
    width: 99%;
    float:left;
    background-image: url(../images/manage_r3_c11.jpg);
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-color: #B4C9C6;
    border-bottom-color: #B4C9C6;
    border-left-color: #B4C9C6;
    height: 27px;
    background-repeat: repeat-x;
    padding: 5px 0 0 0;
}

.left_title_1 {
    background-color: #F3F8F7;
    color:#73938E;
    font-weight:bold;
    line-height:30px;
    text-align:right
}
.left_title_2 {
    background-color: #fff;
    color:#CCC;
    font-weight:bold;
    line-height:30px;
    text-align:right;
}
#loin{
    margin: auto;
    height: auto;
    width: 1002px;
    padding-top: 98px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
#board{
    background-image: url(images/index-bpard.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    height: 300px;
    width: 645px;
    margin: auto;
}
.sumit{
    padding: 20px 20px 0px 220px;
}
.sumit p {
    padding: 2px;
}


dl {clear:both;}
dt {float:left; text-align:right; width:90px; line-height:25px; margin:0 10px 10px 0;}
dd {float:left; width:475px; line-height:25px; margin:0 0 10px 0;}
#footer {font-size:11px;}

#container {width:700px; margin:0 auto;}
.title{
    width: 96%;
    margin: auto;
}
.title li {
    font-size: 12px;
    color: #333333;
    text-align: left;
    float: left;
    padding: 3px;
    list-style-type: none;
    display: block;
}
.title a {
    color: #333333;
    text-decoration: none;
}

.title img {
    padding: 0px 5px;
}
.title ul {
    float: left;
    display: block;
    text-align: left;
}
.se{
    width:35%;
    float: right;
    margin: 2px;
    padding: 5px 3px;
    font-size: 12px;
    color: #647B3A;
}
#man_zone {
    width: 98%;
    border: 1px solid #B4C9C6;
    margin: auto;
    overflow: auto;
}
#man_zone h1 {
    font-size: 16px;
    background-image: url(images/h1-bg2.jpg);
    background-repeat: repeat-x;
    background-position: left bottom;
    color: #63ABC7;
    width: 88%;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin: auto;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #D1E7ED;
}
.zonetable{
    background-color:#FFF;
    width: 90%;
    margin: auto;
    border: 1px solid #E1EDF7;
}
.zonetable tr{
}
.zonetable td {
    background-image: url(../images/td.gif);
    background-position: left bottom;
    background-repeat: repeat-x;
    padding: 4px;
    font-size: 12px;
    color: #333;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #CEE1F0;
}
.zonetable th {
    background-image: url(../images/td.jpg);
    background-repeat: repeat-x;
    padding: 6px 2px 6px 2px;
    font-size: 13px;
    font-weight: bold;
    color: #3A85A0;
    text-align: left;
}
.zonetable  img {
    padding: 4px 8px;
}
.zonetable input,select,textfield{
    margin-top: 0px;
    margin-left: 0px;
    padding: 2px;
}
/*login*/

.formtable {
	background-color:#FFF;
	width: 80%;
	margin: auto;
	border: 2px solid #B3CDE3;

}
.formtable td {
	font-size: 12px;
	line-height: 18px;
	color: #777777;
	text-align: left;
	padding: 6px 0px 6px 0px;
	background-color: #F1F8FA;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #91C9E3;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #91C9E3;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #91C9E3;
}
.formtable th {
	padding: 6px 2px 6px 10px;
	font-size: 12px;
	font-weight: bold;
	color: #0075C4;
	text-align: left;
	background-color:  #DEEEF3;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #91C9E3;
}
.formtable tr.altrow {
	background-color: #ECECEC;
	margin-top:20px;
}

.formtable tr:hover, .formtable tr.hilite {
	color: #000000;
	background: #ECECEC;
}
.formtable  .form_submit {
	border: none;

}
.black{
    color: #000;
}
.formtable input,select,textfield,textarea{
    background-image: url(../images/input_bg2.jpg);
    background-repeat: repeat-x;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-color: #3A85A0;
    border-bottom-color: #3A85A0;
    border-left-color: #3A85A0;
    border-top-style: none;
    background-position: left -1px;
    font-size: 11px;
    color: #666;
    line-height: 20px;
    margin-top: 2px;
    margin-left: 16px;
    padding: 2px;
}
.formtable checkbox{
    background-image: url(../images/radio.gif);
    background-repeat: no-repeat;
    background-position: left top;
    height: 24px;
    width: 15px;
}

.pagetable{
    background-color:#FFF;
    width: 90%;
    margin: auto;
    border: 1px solid #E1EDF7;
}
.pagetable td {
    padding: 4px;
    font-size: 12px;
    color: #333;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #CEE1F0;
}
.pagetable th {
    padding: 6px 2px 6px 2px;
    font-size: 13px;
    font-weight: bold;
    color: #3A85A0;
    text-align: left;
}

.catetable{
    background-color:#FFF;
    width: 90%;
    margin: auto;
    border: 1px solid #E1EDF7;
}
.catetable td {
    padding: 4px;
    font-size: 12px;
    color: #333;
}
.catetable th {
    padding: 6px 2px 6px 2px;
    font-size: 13px;
    font-weight: bold;
    color: #3A85A0;
    text-align: left;
}
.pictable{
	width: 70%;
	border: 0px solid #B4C9C6;
	margin: auto;
	padding: 5px 20px;
	overflow: auto;
	padding: 20px;
}

.pictable tr{

}
.pictable th {
	padding: 4px;
	font-size: 12px;
	color: #333;
	text-align:center;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #91C9E3;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #91C9E3;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #91C9E3;
}
.pictable td {
	padding: 4px;
	font-size: 12px;
	color: #333;
	text-align:left;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #91C9E3;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #91C9E3;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #91C9E3;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #91C9E3;
}
/* download */
.related_table {
	font-size: 12px;
	line-height: 1.2;
	height: 24px;
	top: 5px;
	font-weight: normal;
	padding-top: 4px;
	text-align: left;
	padding-right: 8px;
	padding-left: 8px;
	border-top-color: #D6C9A0;
	border-left-color: #D6C9A0;
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	background-color: #FFFFFF;
	color: #666666;
}
.related_table th {
	color: #FFFFFF;
	background-color: #980203;
	font-size: 12px;
	line-height: 1.2;
	height: auto;
	top: 5px;
	font-weight: bold;
	padding-top: 4px;
	text-align: center;
	padding-right: 6px;
	padding-left: 6px;
	border-right-color: #D6C9A0;
	border-bottom-color: #D6C9A0;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	padding-bottom: 4px;
}
.related_table td {
	font-family: "Arial", "Helvetica", "sans-serif";
	height: auto;
	font-size: 12px;
	text-align: left;
	padding-left: 8px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D6C9A0;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #D6C9A0;
	padding-top: 4px;
	padding-right: 8px;
	padding-bottom: 4px;
}
.related_table td a:link {
	text-decoration: none;
	color: #666666;
}
.related_table td a:visited {
	color: #666666;
	text-decoration: none;
}
.related_table td a:hover {
	color: #FF0000;
	text-decoration: none;
}
.related_table td a:active {
	color: #666666;
}
.related_table  tr.altrow {
	background-color: #EAEAEA;
}