@charset "utf-8";
.formtable{
    width:718px;
    font-size:12px;
    border:1px solid #000;
}
.formtable th,.formtable td{
    padding:3px 5px;
    border: 1px solid #000;
}
.formtable .producttable{
    width:95%;
    margin:10px auto;
    border-collapse: collapse;
}
.formtable .producttable .nums{
    text-align:center;
}
