/* root element for accordion. decorated with rounded borders and gradient background image */
#accordion {
	width: 195px;
	background-color: #e5e5e5;
	border: 3px double #ccc;
}

/* accordion header */
#accordion h2 {
	margin:0;
	padding:3px 20px;
	font-size:13px;
	height:20px;
	font-weight:normal;
	border:1px solid #333;
	border-bottom:1px solid #ddd;
	cursor:pointer;
	background-color: #D4E7F8;
	background-image: url(../images/h40.gif);
	color: #FFF;
}

/* currently active header */
#accordion h2.current {
	cursor:default;
	background-color:#fff;
}

/* accordion pane */
#accordion div.pane {
	border:1px solid #fff;
	border-width:0 2px;
	display:none;
	padding:10px;
	color:#fff;
	font-size:12px;
	background-color: #CCC;
	background-image: url(../images/accor-bg-gry.gif);
	background-repeat: repeat-x;
	background-position: left top;
}

/* a title inside pane */
#accordion div.pane h3 {
	font-weight:normal;
	font-size:12px;
	color:#90C3EE;
	background-image: url(../images/arrow.gif);
	background-repeat: no-repeat;
	margin: 0px 0px 0px 0px;
	background-position: 5px 6px;
	border-bottom: 1px dashed #666;
	padding: 5px 0px 5px 30px;
}
/* a title inside pane */
#accordion div.pane h3 a{
	font-weight:normal;
	font-size:12px;
	color:#000;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: -5px;
	margin-left: 0;
}
#accordion .pane h3 a:hover {
	background-color: #099;
	color: #FFF;
}
#accordion .pane h3 a.current {
	color:#099;
}
#accordion .pane h3 a.current:hover {
	color:#fff;
	background-color: #099;
}
