      <table width="95%" border="0" cellpadding="0" cellspacing="0" class="pagetable">
            <tr>
                <td align="left" width="30%">  總共{TOTAL_RECORDS}筆，每頁{PAGE_RECORDS}筆，總共{TOTAL_PAGES}頁</td>
                <td align="left">分頁:
                    {FIRST_PAGE}
                    {PREV_ZONE}
                    <!-- START BLOCK : PAGE_LIST -->
                    {TAG_PAGE}
                    <!-- END BLOCK : PAGE_LIST -->
                    {NEXT_ZONE}
                    {LAST_PAGE}
                </td>
            </tr>
      </table>