    <!-- START BLOCK : ContactusStyle1 -->
     <select name="cu_contact_s"  style="width:60px">
         <!-- START BLOCK : CONTACTUSSTYLE1COURTESYTITLE_SELECT -->
        <option value="{VALUE_CONTACTUSSTYLE1COURTESYTITLE_KEY}" {SELECTED}>{VALUE_CONTACTUSSTYLE1COURTESYTITLE_NAME}</option>
         <!-- END BLOCK : CONTACTUSSTYLE1COURTESYTITLE_SELECT -->
     </select>
     <input name="cu_name" id="cu_name" type="text" class="validate[required]" value="{NAME}" size="12" style="width:120px" />
    <!-- END BLOCK : ContactusStyle1 -->  
     <!-- START BLOCK : ContactusStyle2 -->
     <input name="cu_name" id="cu_name" type="text" class="validate[required]" value="{NAME}" size="12" style="width:120px" />
     <select name="cu_contact_s"  style="width:60px">
         <!-- START BLOCK : CONTACTUSSTYLE2COURTESYTITLE_SELECT -->
        <option value="{VALUE_CONTACTUSSTYLE2COURTESYTITLE_KEY}" {SELECTED}>{VALUE_CONTACTUSSTYLE2COURTESYTITLE_NAME}</option>
         <!-- END BLOCK : CONTACTUSSTYLE2COURTESYTITLE_SELECT -->
     </select>
     <!-- END BLOCK : ContactusStyle2 --> 