    <!-- START BLOCK : MemberStyle1 -->
    <select name="m_contact_s">
         <!-- START BLOCK : MEMBERSTYLE1COURTESYTITLE_SELECT -->
        <option value="{VALUE_MEMBERSTYLE1COURTESYTITLE_KEY}" {SELECTED}>{VALUE_MEMBERSTYLE1COURTESYTITLE_NAME}</option>
         <!-- END BLOCK : MEMBERSTYLE1COURTESYTITLE_SELECT -->
     </select>
    {MSG_FNAME}<input name="m_fname" type="text" value="{FNAME}" size="12" />
    {MSG_LNAME}<input name="m_lname" type="text" value="{LNAME}" size="12" />
    <!-- END BLOCK : MemberStyle1 -->
    <!-- START BLOCK : MemberStyle2 -->
    {MSG_LNAME}<input name="m_lname" type="text" value="{LNAME}" size="12" />
    {MSG_FNAME}<input name="m_fname" type="text" value="{FNAME}" size="12" />
    <select name="m_contact_s">
         <!-- START BLOCK : MEMBERSTYLE2COURTESYTITLE_SELECT -->
        <option value="{VALUE_MEMBERSTYLE2COURTESYTITLE_KEY}" {SELECTED}>{VALUE_MEMBERSTYLE2COURTESYTITLE_NAME}</option>
         <!-- END BLOCK : MEMBERSTYLE2COURTESYTITLE_SELECT -->
     </select>
    <!-- END BLOCK : MemberStyle2 -->         