<!-- START BLOCK : ReceiverStyle1 -->
    <select name="m_reci_contact_s" id="m_reci_contact_s" class="validate[required]" type="select-one">
         <!-- START BLOCK : RECEIVERSTYLE1COURTESYTITLE_SELECT -->
        <option value="{VALUE_RECEIVER1COURTESYTITLE_KEY}" {SELECTED}>{VALUE_RECEIVER1COURTESYTITLE_NAME}</option>
         <!-- END BLOCK : RECEIVERSTYLE1COURTESYTITLE_SELECT -->
     </select>
    <input name="m_reci_name" id="m_reci_name" class="validate[required]" type="text" value="" size="12" />  
<!-- START BLOCK : ReceiverStyle1 --> 
<!-- START BLOCK : ReceiverStyle2 -->
    <input name="m_reci_name" id="m_reci_name"  class="validate[required]" type="text" value="" size="12" />     
    <select name="m_reci_contact_s" id="m_reci_contact_s" class="validate[required]" type="select-one">
         <!-- START BLOCK : RECEIVERSTYLE2COURTESYTITLE_SELECT -->
        <option value="{VALUE_RECEIVERSTYLE2COURTESYTITLE_KEY}" {SELECTED}>{VALUE_RECEIVERSTYLE2COURTESYTITLE_NAME}</option>
         <!-- END BLOCK : RECEIVERSTYLE2COURTESYTITLE_SELECT -->
     </select>
<!-- START BLOCK : ReceiverStyle2 -->
