<!-- START BLOCK : OrdererStyle1 -->
    <select name="m_contact_s">
         <!-- START BLOCK : ORDERERSTYLE1COURTESYTITLE_SELECT -->
        <option value="{VALUE_ORDERERSTYLE1COURTESYTITLE_KEY}" {SELECTED}>{VALUE_ORDERERSTYLE1COURTESYTITLE_NAME}</option>
         <!-- END BLOCK : ORDERERSTYLE1COURTESYTITLE_SELECT -->
     </select>
    {MSG_FIRST_NAME}:<input name="m_fname" id="m_fname" class="validate[required]" type="text" value="{FNAME}" size="12" />  
    {MSG_LAST_NAME}:<input name="m_lname" id="m_lname" class="validate[required]" type="text" value="{LNAME}" size="12" />  
<!-- END BLOCK : OrdererStyle1 -->
<!-- START BLOCK : OrdererStyle2 -->
    {MSG_LAST_NAME}:<input name="m_lname" id="m_lname" class="validate[required]" type="text" value="{LNAME}" size="12" />     
    {MSG_FIRST_NAME}:<input name="m_fname" id="m_fname" class="validate[required]" type="text" value="{FNAME}" size="12" />     
    <select name="m_contact_s">
         <!-- START BLOCK : ORDERERSTYLE2COURTESYTITLE_SELECT -->
        <option value="{VALUE_ORDERERSTYLE2COURTESYTITLE_KEY}" {SELECTED}>{VALUE_ORDERERSTYLE2COURTESYTITLE_NAME}</option>
         <!-- END BLOCK : ORDERERSTYLE2COURTESYTITLE_SELECT -->
     </select>
<!-- END BLOCK : OrdererStyle2 -->