<!-- START BLOCK : ReceiverStyle1 -->
    <select name="m_reci_contact_s" id="m_reci_contact_s" class="validate[required]" type="select-one">
         <!-- START BLOCK : RECEIVERSTYLE1COURTESYTITLE_SELECT -->
        <option value="{VALUE_RECEIVERSTYLE1COURTESYTITLE_KEY}" {SELECTED}>{VALUE_RECEIVERSTYLE1COURTESYTITLE_NAME}</option>
         <!-- END BLOCK : RECEIVERSTYLE1COURTESYTITLE_SELECT -->
     </select>
    {MSG_FIRST_NAME}:<input name="m_reci_fname" id="m_reci_fname" class="validate[required]" type="text" value="" size="12" />  
    {MSG_LAST_NAME}:<input name="m_reci_lname" id="m_reci_lname" class="validate[required]" type="text" value="" size="12" />  
<!-- START BLOCK : ReceiverStyle1 --> 
<!-- START BLOCK : ReceiverStyle2 -->
    {MSG_LAST_NAME}:<input name="m_reci_lname" id="m_reci_lname"  class="validate[required]" type="text" value="" size="12" />     
    {MSG_FIRST_NAME}:<input name="m_reci_fname" id="m_reci_fname"  class="validate[required]" type="text" value="" size="12" />     
    <select name="m_reci_contact_s" id="m_reci_contact_s" class="validate[required]" type="select-one">
         <!-- START BLOCK : RECEIVERSTYLE2COURTESYTITLE_SELECT -->
        <option value="{VALUE_RECEIVERSTYLE2COURTESYTITLE_KEY}" {SELECTED}>{VALUE_RECEIVERSTYLE2COURTESYTITLE_NAME}</option>
         <!-- END BLOCK : RECEIVERSTYLE2COURTESYTITLE_SELECT -->
     </select>
<!-- START BLOCK : ReceiverStyle2 -->
