<!DOCTYPE html>
<html>
    <head>
        <title>2秒後關閉</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="{TAG_ROOT_PATH}js/jquery/jquery-1.8.3.min.js"></script>
    </head>
    <body>
        <div>全部產品設為開發，2秒後關閉</div>
        <script type="text/javascript">
            jQuery(function($){
                window.opener.location.reload();
                //window.opener.focus();
                setTimeout(function(){
                    window.close();
                },2000);
            });
        </script>
    </body>
</html>
