<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{EPAPER_PAGE_TITLE}</title>

</head>

<body>
    <table border="0" cellpadding="5" cellspacing="0" style="border:1px solid #000; width:100%;font-family:'Verdana','sans-serif'; ">
        <tr style=" background-color:#cc0000;">
        <th cellpadding="5">{MSG_EPAPER_HEADER}</th></tr>


        <tr><td colspan="2" style="border-bottom:1px solid #eaeaea;"><h2 style="color:#8c0c09; margin:0px;font-size: large;">{EPAPER_TITLE}</h2></td></tr>
        <tr><td style="color:#555; margin:0px;font-size: small;">{EPAPER_CONTENT}</td></tr>


        <tr><td>
            <!-- START BLOCK : ATTACH_PRODUCT_LIST -->
            <div style="width:110px;display:inline-block;padding:5px;margin:5px;">
                <div style="width:110px;height:110px;display:table-cell;text-align:center;vertical-align: middle;">
                    <a href="{VALUE_P_LINK}"><img src="{VALUE_P_SMALL_IMG}" width="{VALUE_P_SMALL_IMG_W}" height="{VALUE_P_SMALL_IMG_H}" /></a>
                </div>
                <div style="height:60px;overflow: hidden;"><a href="{VALUE_P_LINK}" style="color:#8c0c09;text-decoration: none;font-size:12px">{VALUE_P_NAME}</a></div>
            </div>
            <!-- END BLOCK : ATTACH_PRODUCT_LIST -->
        </td></tr>


        <tr><td style="border-top:1px solid #eaeaea;text-align:center"></td></tr>
        <tr><td style="background-color:#cc0000; text-align:center; color:#fff; margin:0px;font-size: small;">{MSG_EPAPER_FOOTER}</td></tr>

    </table>
        <div style="width:450px;color:#999; margin:0px auto;font-size: 10px;">To be removed from this list, please click <a href="{TAG_BASE_URL}epaper_unsub.php?email={CURRENT_RECEIVER}">Unsubscription</a>.</div>
</body>
</html>
