<!-- INCLUDE BLOCK : HEADER -->
<div id="man_zone">
<h1>商品寄放管理</h1>
<form action="order.php" method="get" name="myform" class="formular" id="formID">
    <ul id="cusmenu">
        <li><a href="order.php?func=add_temp_store">新增寄放</a></li>
    </ul>
    <table width="95%" border="0" cellpadding="0" cellspacing="0" class="zonetable">
    <tr>
      <th width="5%">No.</th>
      <th width="15%">會員姓名</th>
      <th width="15%">手機號碼</th>
      <th width="15%">寄放數量</th>
      <th width="">操作</th>
    </tr>
    <!-- START BLOCK : TEMP_STORE_LIST -->
    <tr {TAG_TR_CLASS}>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <!-- END BLOCK : TEMP_STORE_LIST -->
  <input type="hidden" name="total_box" value="{VALUE_TOTAL_BOX}" />
  <input type="hidden" name="box_check" value="1" />
  <input type="hidden" name="ws_table" value="o" />
  </table>
    </form>
    <!-- INCLUDE BLOCK : ./templates/ws-manage-fn-pagination-tpl.html -->
</div>
<!-- INCLUDE BLOCK : FOOTER -->