<!-- INCLUDE BLOCK : HEADER -->
<div id="man_zone">
<h1>產品分類管理</h1>
<br>
<form action="products.php" method="get" name="myform" class="formular" id="formID">
    <table width="95%" border="0" cellpadding="0" cellspacing="0" class="catetable">
    <tr>
      <td>
        <ul class="simpleTree">
        <li class="root" id='0'><span>主分類</span>
        {VALUE_PC_CATE_TREE}
        </li>
        </ul>
      </td>
    </tr>
    </table>
    <table width="95%" border="0" cellpadding="0" cellspacing="0" class="zonetable">
    <tr>
      <td colspan="11">
      目前分類 : <a href="products.php?func=pc_list&pc_parent=0">主分類</a> > {TAG_PRODUCTS_CATE_LAYER} &nbsp;&nbsp;&nbsp;&nbsp;{TAG_BACK_PRE_EDIT_ZONE}
      </td>
    </tr>
    <tr>
      <td colspan="10">
        <div class="title">
        <ul>
          <li><img src="images/icon-add.gif" /><a href="products.php?func=pc_add&pc_parent={VALUE_PC_PARENT}" >新增</a></li>
          <li><img src="images/icon-open.gif" /><a href="#" Onclick="Javascript:return FormCheckOn(myform)">啟用</a></li>
          <li><img src="images/icon-stop.gif" /><a href="#" Onclick="Javascript:return FormCheckOff(myform)">停用</a></li>
          <li><img src="images/icon-refresh.gif" /><a href="#" Onclick="Javascript:return FormCheckSort(myform)">排序</a></li>
          <li><img src="images/icon-copy.gif" /><a href="#" Onclick="Javascript:return FormCheckCopy(myform)">複製</a></li>
          <li><img src="images/icon-lock.gif" /><a href="#" Onclick="Javascript:return FormCheckLock(myform)">上鎖</a></li>
          <li><img src="images/icon-key.gif" /><a href="#" Onclick="Javascript:return FormCheckUnlock(myform)">開放</a></li>
        </ul>
        <ul class="se">
          <li>
            關鍵字<input type="text" id="sk" name="sk" class="seinput" value="{VALUE_SEARCH_KEYWORD}"/><input type="button" value="搜尋" Onclick="Javascript:return FormCheckQuery(myform)" />
          </li>
        </ul>
      </div>
      </td>
    </tr>
    <tr>
      <th width="3%"><a href="javascript:click_all(myform);"><img src="images/ico-markers.gif" width="12" height="12" border="0" /></a></th>
      <th width="5%">No.</th>
      <th width="7%">排序</th>
      <th width="15%">產品分類圖片</th>
      <th width="32%">產品分類名稱</th>
      <th width="10%">最新編輯</th>
      <th width="8%">編輯權限</th>
      <th width="5%">修改</th>
      <th width="5%">刪除</th>
      <th width="5%">狀態</th>
    </tr>
    <!-- START BLOCK : PRODUCTS_CATE_LIST -->
    <tr {TAG_TR_CLASS}>
      <td align="center"><input type="checkbox" name="id[]" value="{VALUE_PC_ID}"></td>
      <td>{VALUE_PC_SERIAL}</td>
      <td><input type="text" name="sort_value[{VALUE_PC_ID}]" value="{VALUE_PC_SORT}" class="validate[custom[onlyNumber]]" size="2" maxlength="4"></td>
      <td><img src="{VALUE_PC_CATE_IMG}" border="0" width="75"></td>
      <td>{VALUE_PC_UP_SORT}<a href="products.php?func=pc_list&pc_parent={VALUE_PC_ID}">{VALUE_PC_NAME}</a></td>
      <td>{VALUE_PC_MODIFYACCOUNT}<br>{VALUE_PC_MODIFYDATE}</td>
      <td><img src="images/{VALUE_LOCK_IMG}" border="0" /></td>
      <td><a href="products.php?func=pc_mod&pc_id={VALUE_PC_ID}&st={VALUE_SEARCH_TARGET}&sk={SEARCH_KEYWORD}&nowp={VALUE_NOW_PAGE}&jp={VALUE_JUMP_PAGE}"><img src="images/icon-edit2.gif" width="11" border="0" alt="{MSG_MODIFY}" /></a></td>
      <td><a href="#" onClick="javascript:ConfirmMSG('{TAG_DELETE_CHECK_STR}','products.php?func=pc_del&pc_id={VALUE_PC_ID}&st={VALUE_SEARCH_TARGET}&sk={VALUE_SEARCH_KEYWORD}&nowp={VALUE_NOW_PAGE}&jp={VALUE_JUMP_PAGE}');"><img src="images/icon-del2.gif" width="10" height="9" border="0" /></a></td>
      <td><img src="images/{VALUE_STATUS_IMG}" alt='{VALUE_STATUS_IMG_ALT}{MSG_STATUS}'  border="0" /></td>
    </tr>
    <!-- END BLOCK : PRODUCTS_CATE_LIST -->
 </table>
 <input type="hidden" name="total_box" value="{VALUE_TOTAL_BOX}" />
 <input type="hidden" name="box_check" value="1" />
 <input type="hidden" name="ws_table" value="pc" />
 <input type="hidden" name="pc_parent" value="{VALUE_PC_PARENT}" />
 <input type="hidden" name="nowp" value="{VALUE_NOW_PAGE}" />
 <br>
</form>
      <div align="center"><font size='3' color='red'>{MSG_NO_DATA}</font></div>
      <!-- START BLOCK : PAGE_DATA_SHOW -->
      <table width="95%" border="0" cellpadding="0" cellspacing="0" class="pagetable">
        <tr>
            <td align="left" width="30%">  共 {VALUE_TOTAL_RECORDS} 筆，每頁 {VALUE_PAGES_LIMIT} 筆，總頁數：{VALUE_TOTAL_PAGES}</td>
            <td align="left">分頁:
            <!-- START BLOCK : PAGE_BACK_SHOW -->
                <a href="{VALUE_PAGES_BACK}">
                    <img src="images/number-back.jpg" border="0"/></a>
            <!-- END BLOCK : PAGE_BACK_SHOW -->
            {VALUE_PAGES_STR}
            <!-- START BLOCK : PAGE_NEXT_SHOW -->
                <a href="{VALUE_PAGES_NEXT}">
                    <img src="images/number-next.jpg" border="0"/></a>
            <!-- END BLOCK : PAGE_NEXT_SHOW -->
            </td>
        </tr>
      </table>
      <!-- END BLOCK : PAGE_DATA_SHOW -->
</div>
<!-- INCLUDE BLOCK : FOOTER -->