<!-- INCLUDE BLOCK : HEADER -->
<div id="man_zone">
<h1>各項功能Meta設定</h1>
<form name="myform" method="post" action="metatitle.php?func=mt_replace"  class="formular" id="formID">
    <ul class="tabs">
            <!-- START BLOCK : SEO_ZONE_ABOUTUS_T -->
            <li><a href="#aboutus">關於我們</a></li>
            <!-- END BLOCK : SEO_ZONE_ABOUTUS_T -->
            <!-- START BLOCK : SEO_ZONE_CONTACTUS_T -->
            <li><a href="#contactus">聯絡我們</a></li>
            <!-- END BLOCK : SEO_ZONE_CONTACTUS_T -->
            <!-- START BLOCK : SEO_ZONE_DOWNLOAD_T -->
            <li><a href="#download">檔案下載</a></li>
            <!-- END BLOCK : SEO_ZONE_DOWNLOAD_T -->
            <!-- START BLOCK : SEO_ZONE_FAQ_T -->
            <li><a href="#faq">FAQ</a></li>
            <!-- END BLOCK : SEO_ZONE_FAQ_T -->
            <!-- START BLOCK : SEO_ZONE_NEWS_T -->
            <li><a href="#news">最新消息</a></li>
            <!-- END BLOCK : SEO_ZONE_NEWS_T -->
            <!-- START BLOCK : SEO_ZONE_PRODUCTS_T -->
            <li><a href="#products">產品主頁</a></li>
            <!-- END BLOCK : SEO_ZONE_PRODUCTS_T -->
            <!-- START BLOCK : SEO_ZONE_APPLICATION_T -->
            <li><a href="#application">應用領域</a></li>
            <!-- END BLOCK : SEO_ZONE_APPLICATION_T -->
            <!-- START BLOCK : SEO_ZONE_SITEMAP_T -->
            <li><a href="#sitemap">網站地圖</a></li>
            <!-- END BLOCK : SEO_ZONE_SITEMAP_T -->
    </ul>
    <div class="panes">
       <!-- START BLOCK : SEO_ZONE_ABOUTUS -->
       <div>
        <table width="92%" border="0" align="center" cellpadding="0" cellspacing="0" class="formtable">
        <tr>
            <th colspan="2">關於我們</th>
        </tr>
        <tr>
            <th>網頁標題(Meta Title):</th>
            <td>
                <input name="au_seo_title" type="text" value="{VALUE_AU_SEO_TITLE}" size="60" />
            </td>
        </tr>
        <tr>
            <th>網頁關鍵字(Meta Keyword):</th>
            <td>
                <textarea name="au_seo_keyword" cols="50" rows="3" >{VALUE_AU_SEO_KEYWORD}</textarea>
            </td>
        </tr>
        <tr>
            <th>
                網頁敘述(Meta Description):</th>
            <td>
                <textarea name="au_seo_description" cols="50" rows="3" >{VALUE_AU_SEO_DESCRIPTION}</textarea>
            </td>
        </tr>
        <tr>
            <th>簡述:</th>
            <td>
                <textarea name="au_seo_short_desc" cols="50" rows="3" >{VALUE_AU_SEO_SHORT_DESC}</textarea>
            </td>
        </tr>
        <tr>
            <th>H1 標題:</th>
            <td>
                <input name="au_seo_h1" type="text"  value="{VALUE_AU_SEO_H1}" size="40" >
            </td>
        </tr>
        </table>
       </div>
       <!-- END BLOCK : SEO_ZONE_ABOUTUS -->
       <!-- START BLOCK : SEO_ZONE_CONTACTUS -->
       <div>
       <table width="92%" border="0" align="center" cellpadding="0" cellspacing="0" class="formtable">
        <tr>
            <th colspan="2">聯絡我們</th>
        </tr>
        <tr>
            <th>網頁標題(Meta Title):</th>
            <td>
                <input name="cu_seo_title" type="text" value="{VALUE_CU_SEO_TITLE}" size="60" />
            </td>
        </tr>
        <tr>
            <th>網頁關鍵字(Meta Keyword):</th>
            <td>
                <textarea name="cu_seo_keyword" cols="50" rows="3" >{VALUE_CU_SEO_KEYWORD}</textarea>
            </td>
        </tr>
        <tr>
            <th>網頁敘述(Meta Description):</th>
            <td>
                <textarea name="cu_seo_description" cols="50" rows="3" >{VALUE_CU_SEO_DESCRIPTION}</textarea>
            </td>
        </tr>
        <tr>
            <th>簡述:</th>
            <td>
                <textarea name="cu_seo_short_desc" cols="50" rows="3" >{VALUE_CU_SEO_SHORT_DESC}</textarea>
            </td>
        </tr>
        <tr>
            <th>H1 標題:</th>
            <td>
                <input name="cu_seo_h1" type="text"  value="{VALUE_CU_SEO_H1}" size="40" >
            </td>
        </tr>
        </table>
        </div>
        <!-- END BLOCK : SEO_ZONE_CONTACTUS -->
        <!-- START BLOCK : SEO_ZONE_DOWNLOAD -->
        <div>
        <table width="92%" border="0" align="center" cellpadding="0" cellspacing="0" class="formtable">
        <tr>
            <th colspan="2">檔案下載</th>
        </tr>
        <tr>
            <th>網頁標題(Meta Title):</th>
            <td>
                <input name="d_seo_title" type="text" value="{VALUE_D_SEO_TITLE}" size="60" /></td>
        </tr>
        <tr>
            <th>網頁關鍵字(Meta Keyword):</th>
            <td>
                <textarea name="d_seo_keyword" cols="50" rows="3" >{VALUE_D_SEO_KEYWORD}</textarea>
            </td>
        </tr>
        <tr>
            <th>網頁敘述(Meta Description):</th>
            <td>
                <textarea name="d_seo_description" cols="50" rows="3" >{VALUE_D_SEO_DESCRIPTION}</textarea></td>
        </tr>
        <tr>
            <th>
                簡述:</th>
            <td>
                <textarea name="d_seo_short_desc" cols="50" rows="3" >{VALUE_D_SEO_SHORT_DESC}</textarea>
            </td>
        </tr>
        <tr>
            <th>H1 標題:</th>
            <td>
                <input name="d_seo_h1" type="text"  value="{VALUE_D_SEO_H1}" size="40" >
            </td>
        </tr>
        </table>
        </div>
        <!-- END BLOCK : SEO_ZONE_DOWNLOAD -->
        <!-- START BLOCK : SEO_ZONE_FAQ -->
        <div>
        <table width="92%" border="0" align="center" cellpadding="0" cellspacing="0" class="formtable">
        <tr>
            <th colspan="2">FAQ</th>
        </tr>
        <tr>
            <th>網頁標題(Meta Title):</th>
            <td>
                <input name="f_seo_title" type="text" value="{VALUE_F_SEO_TITLE}" size="60" /></td>
        </tr>
        <tr>
            <th>
                網頁關鍵字(Meta Keyword):</th>
            <td>
                <textarea name="f_seo_keyword" cols="50" rows="3" >{VALUE_F_SEO_KEYWORD}</textarea>
            </td>
        </tr>
        <tr>
            <th>
                網頁敘述(Meta Description):</th>
            <td>
                <textarea name="f_seo_description" cols="50" rows="3" >{VALUE_F_SEO_DESCRIPTION}</textarea>
            </td>
        </tr>
        <tr>
            <th>簡述:</th>
            <td>
                <textarea name="f_seo_short_desc" cols="50" rows="3" >{VALUE_F_SEO_SHORT_DESC}</textarea>
            </td>
        </tr>
        <tr>
            <th>H1 標題:</th>
            <td>
                <input name="f_seo_h1" type="text"  value="{VALUE_F_SEO_H1}" size="40" >
            </td>
        </tr>
        </table>
        </div>
        <!-- END BLOCK : SEO_ZONE_FAQ -->
        <!-- START BLOCK : SEO_ZONE_NEWS -->
        <div>
        <table width="92%" border="0" align="center" cellpadding="0" cellspacing="0" class="formtable">
        <tr>
            <th colspan="2">最新消息</th>
        </tr>
        <tr>
            <th>網頁標題(Meta Title):</th>
            <td>
                <input name="n_seo_title" type="text" value="{VALUE_N_SEO_TITLE}" size="60" />
            </td>
        </tr>
        <tr>
            <th>網頁關鍵字(Meta Keyword):</th>
            <td>
                <textarea name="n_seo_keyword" cols="50" rows="3" >{VALUE_N_SEO_KEYWORD}</textarea>
            </td>
        </tr>
        <tr>
            <th>網頁敘述(Meta Description):</th>
            <td>
                <textarea name="n_seo_description" cols="50" rows="3" >{VALUE_N_SEO_DESCRIPTION}</textarea>
            </td>
        </tr>
        <tr>
            <th>簡述:</th>
            <td>
                <textarea name="n_seo_short_desc" cols="50" rows="3" >{VALUE_N_SEO_SHORT_DESC}</textarea>
            </td>
        </tr>
        <tr>
            <th>H1 標題:</th>
            <td>
                <input name="n_seo_h1" type="text"  value="{VALUE_N_SEO_H1}" size="40" >
            </td>
        </tr>
        </table>
        </div>
        <!-- END BLOCK : SEO_ZONE_NEWS -->
        <!-- START BLOCK : SEO_ZONE_PRODUCTS -->
        <div>
        <table width="92%" border="0" align="center" cellpadding="0" cellspacing="0" class="formtable">
        <tr>
            <th colspan="2">產品主頁</th>
        </tr>
        <tr>
            <th>網頁標題(Meta Title):</th>
            <td>
                <input name="p_seo_title" type="text" value="{VALUE_P_SEO_TITLE}" size="60" /></td>
        </tr>
        <tr>
            <th>網頁關鍵字(Meta Keyword):</th>
            <td>
                <textarea name="p_seo_keyword" cols="50" rows="3" >{VALUE_P_SEO_KEYWORD}</textarea>
            </td>
        </tr>
        <tr>
            <th>網頁敘述(Meta Description):</th>
            <td>
                <textarea name="p_seo_description" cols="50" rows="3" >{VALUE_P_SEO_DESCRIPTION}</textarea>
            </td>
        </tr>
        <tr>
            <th>簡述:</th>
            <td>
                <textarea name="p_seo_short_desc" id="elm1" cols="50" rows="3" >{VALUE_P_SEO_SHORT_DESC}</textarea>
            </td>
        </tr>
        <tr>
          <th>自訂頁面:</th>
          <td>
              <input type="radio" name="p_mt_seo_custom_status" value="0" {STR_P_SEO_CUSTOM_STATUS_CK0} onClick="document.getElementById('div_custom').style.display='none';"> 否
              <input type="radio" name="p_mt_seo_custom_status" value="1" {STR_P_SEO_CUSTOM_STATUS_CK1} onclick="document.getElementById('div_custom').style.display='';"> 是
              <br><font color="red">(如果選擇【是】的話，產品主頁面會出現編輯的內容；如果選擇【否】的話，必須先清空內容。)</font>
          </td>
        </tr>
        <tr id="div_custom" style="display:{STR_P_SEO_CUSTOM_STATUS_DISPLAY}">
          <th>&nbsp;</th>
          <td>
              <textarea id="elm2" name="p_mt_seo_custom" cols="50" rows="15">{VALUE_P_SEO_CUSTOM}</textarea>
          </td>
        </tr>
        <tr>
            <th>H1 標題:</th>
            <td>
                <input name="p_seo_h1" type="text"  value="{VALUE_P_SEO_H1}" size="40" >
            </td>
        </tr>
        </table>
        </div>
        <!-- END BLOCK : SEO_ZONE_PRODUCTS -->
        <!-- START BLOCK : SEO_ZONE_APPLICATION -->
        <div>
        <table width="92%" border="0" align="center" cellpadding="0" cellspacing="0" class="formtable">
        <tr>
            <th colspan="2">應用領域</th>
        </tr>
        <tr>
            <th>網頁標題(Meta Title):</th>
            <td>
                <input name="pa_seo_title" type="text" value="{VALUE_PA_SEO_TITLE}" size="60" /></td>
        </tr>
        <tr>
            <th>網頁關鍵字(Meta Keyword):</th>
            <td>
                <textarea name="pa_seo_keyword" cols="50" rows="3" >{VALUE_PA_SEO_KEYWORD}</textarea>
            </td>
        </tr>
        <tr>
            <th>網頁敘述(Meta Description):</th>
            <td>
                <textarea name="pa_seo_description" cols="50" rows="3" >{VALUE_PA_SEO_DESCRIPTION}</textarea>
            </td>
        </tr>
        <tr>
            <th>簡述:</th>
            <td>
                <textarea name="pa_seo_short_desc" id="elm4" cols="50" rows="3" >{VALUE_PA_SEO_SHORT_DESC}</textarea>
            </td>
        </tr>
        <tr>
          <th>自訂頁面:</th>
          <td>
              <input type="radio" name="pa_mt_seo_custom_status" value="0" {STR_PA_SEO_CUSTOM_STATUS_CK0} onClick="document.getElementById('div_app_custom').style.display='none';"> 否
              <input type="radio" name="pa_mt_seo_custom_status" value="1" {STR_PA_SEO_CUSTOM_STATUS_CK1} onclick="document.getElementById('div_app_custom').style.display='';"> 是
              <br><font color="red">(如果選擇【是】的話，產品主頁面會出現編輯的內容；如果選擇【否】的話，必須先清空內容。)</font>
          </td>
        </tr>
        <tr id="div_app_custom" style="display:{STR_PA_SEO_CUSTOM_STATUS_DISPLAY}">
          <th>&nbsp;</th>
          <td>
              <textarea id="elm3" name="pa_mt_seo_custom" cols="50" rows="15">{VALUE_PA_SEO_CUSTOM}</textarea>
          </td>
        </tr>
        <tr>
            <th>H1 標題:</th>
            <td>
                <input name="pa_seo_h1" type="text"  value="{VALUE_PA_SEO_H1}" size="40" >
            </td>
        </tr>
        </table>
        </div>
        <!-- END BLOCK : SEO_ZONE_APPLICATION -->
        <!-- START BLOCK : SEO_ZONE_SITEMAP -->
        <div>
        <table width="92%" border="0" align="center" cellpadding="0" cellspacing="0" class="formtable">
        <tr>
            <th colspan="2">網站地圖</th>
        </tr>
        <tr>
            <th>網頁標題(Meta Title):</th>
            <td>
                <input name="s_seo_title" type="text" value="{VALUE_S_SEO_TITLE}" size="60" /></td>
        </tr>
        <tr>
            <th>網頁關鍵字(Meta Keyword):</th>
            <td>
                <textarea name="s_seo_keyword" cols="50" rows="3" >{VALUE_S_SEO_KEYWORD}</textarea>
            </td>
        </tr>
        <tr>
            <th>網頁敘述(Meta Description):</th>
            <td>
                <textarea name="s_seo_description" cols="50" rows="3" >{VALUE_S_SEO_DESCRIPTION}</textarea>
            </td>
        </tr>
        <tr>
            <th>簡述:</th>
            <td>
                <textarea name="s_seo_short_desc" cols="50" rows="3" >{VALUE_S_SEO_SHORT_DESC}</textarea>
            </td>
        </tr>
        <tr>
            <th>H1 標題:</th>
            <td>
                <input name="s_seo_h1" type="text"  value="{VALUE_S_SEO_H1}" size="40" >
            </td>
        </tr>
        </table>
        </div>
        <!-- END BLOCK : SEO_ZONE_SITEMAP -->
                <input type="submit" name="submit" value="設定" />&nbsp;&nbsp;&nbsp;<input type="button" name="back" value="回到上一頁" onclick="history.back();" />
        </div>
</form>
</div>
<!-- INCLUDE BLOCK : FOOTER -->
