<!-- INCLUDE BLOCK : HEADER -->
<div id="man_zone">
<h1>首頁Banner設定</h1>
<form name="myform" method="post" action="system-config.php?func=sc_banner"  class="formular" id="formID">
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="formtable">
     <!-- START BLOCK : INDEX_BANNER_ITEM -->
      <tr>
      	<th>首頁Banner圖片{SERIAL}</th>
        <td>
        	<input type="text" name="ib_img[{SERIAL}]" id="ib_img_{SERIAL}" value="{VALUE_IB_IMG}" size="50" />
            <a href="javascript:mcImageManager.open('myform','ib_img_{SERIAL}');">選擇檔案</a>
            <br />
            <input type="text" name="ib_link[{SERIAL}]" id="ib_link_{SERIAL}" value="{VALUE_IB_LINK}" size="80" /> (連結位置)
        </td>
      </tr>
      <!-- END BLOCK : INDEX_BANNER_ITEM -->
      <tr>
      <th>&nbsp;</th>
        <td>
          <input type="submit" name="submit" value="修改" />&nbsp;&nbsp;&nbsp;<input type="button" name="back" value="回到上一頁" onclick="history.back();" />
        </td>
      </tr>
       <input type="hidden" name="banner_updata_ck" value="1">
    </table>
 </form>
 </div>
<!-- INCLUDE BLOCK : FOOTER -->