    <table width="92%" border="0" align="center" cellpadding="0" cellspacing="0" class="formtable">
        <tr>
            <th width="15%">姓名:</th>
            <td width="35%">{VALUE_M_NAME}</td>            
            <th width="15%">會員分類:</th>
            <td width="35%">{VALUE_MC_SUBJECT}</td>
        </tr>
        <tr>
            <th>狀態:</th>
            <td>{VALUE_M_STATUS}</td>            
            <th>訂閱電子報</th>
            <td>{VALUE_M_EPAPER_STATUS}</td>            
        </tr>
        <tr>
            <th>帳號:</th>
            <td>{VALUE_M_ACCOUNT}</td>
            <th>通訊e-mail:</th>
            <td>{VALUE_M_EMAIL}</td>
        </tr>
        <tr>
            <th>生日</th>
            <td>{VALUE_M_BIRTHDAY}</td>
            <th>公司名稱:</td>
            <td>{VALUE_M_COMPANY_NAME} </td>
        </tr> 
        <tr>
            <th>住址:</th>
            <td colspan="3"> {VALUE_M_ZIP}{VALUE_M_ADDRESS}</td>
        </tr>  
        <tr>
            <th>電話:</th>
            <td>{VALUE_M_TEL}</td>
            <th>行動電話:</th>
            <td>{VALUE_M_CELLPHONE}</td>
        </tr>             
        <tr>
            <th>傳真:</th>
            <td colspan="3">{VALUE_M_FAX}</td>
        </tr>
    </table>