<!-- INCLUDE BLOCK : HEADER -->
<div id="man_zone">
<h1>規格分類{MSG_MODE}</h1>
<form name="myform" method="post" action="spec.php?func=psc_replace"  class="formular" id="formID">
    <table width="92%" border="0" align="center" cellpadding="0" cellspacing="0" class="formtable">
        <tr>
            <th><font color="red">*</font>分類名稱:</th>
            <td>
                <input name="psc_subject" type="text" class="validate[required]" value="{VALUE_PSC_SUBJECT}" size="60" maxlength="255"></td>
        </tr> 
        <tr>
            <th>狀態:</th>
            <td>
                <input type="radio" name="psc_status" value="1" {STR_PSC_STATUS_CK1}> 啟用
                <input type="radio" name="psc_status" value="0" {STR_PSC_STATUS_CK0}> 停用
            </td>
        </tr>
        <tr>
            <th>資料類型:</th>
            <td>
                <input type="radio" name="psc_type" value="0" {STR_PSC_TYPE_CK0}> 預設
                <input type="radio" name="psc_type" value="1" {STR_PSC_TYPE_CK1}> 自訂
            </td>
        </tr>
        <tr>
            <th>排序:</th>
            <td>
                <input name="psc_sort" type="text" class="validate[custom[onlyNumber]]" value="{VALUE_PSC_SORT}" size="4" maxlength="4"></td>
        </tr>
        <tr>
            <th>&nbsp;</th>
            <td>
                <input type="submit" name="submit" value="{MSG_MODE}" />&nbsp;&nbsp;&nbsp;<input type="button" name="back" value="回到上一頁" onclick="history.back();" />
            </td>
        </tr>
    </table>
    <input type="hidden" name="action_mode" value="{VALUE_ACTION_MODE}">
    <input type="hidden" name="psc_id" value="{VALUE_PSC_ID}">
    <input name="st" type="hidden" id="st" value="{VALUE_SEARCH_TARGET}">
    <input name="sk" type="hidden" id="sk" value="{VALUE_SEARCH_KEYWORD}">
    <input name="nowp" type="hidden" id="nowp" value="{VALUE_NOW_PAGE}">
    <input name="jp" type="hidden" id="jp" value="{VALUE_JUMP_PAGE}">
</form>
</div>
<!-- INCLUDE BLOCK : FOOTER -->
