      <div align="center"><font size='3' color='red'>{MSG_NO_DATA}</font></div>
      <!-- START BLOCK : PAGE_DATA_SHOW -->
      <table width="95%" border="0" cellpadding="0" cellspacing="0" class="pagetable">
            <tr>
                <td align="left" width="30%">  共 {VALUE_TOTAL_RECORDS} 筆，每頁 {VALUE_PAGES_LIMIT} 筆，總頁數：{VALUE_TOTAL_PAGES}</td>
                <td align="left">分頁:
                <!-- START BLOCK : PAGE_BACK_SHOW -->
                    <a href="{VALUE_PAGES_BACK}">
                        <img src="images/number-back.jpg" border="0"/></a>
                <!-- END BLOCK : PAGE_BACK_SHOW -->
                {VALUE_PAGES_STR}
                <!-- START BLOCK : PAGE_NEXT_SHOW -->
                    <a href="{VALUE_PAGES_NEXT}">
                        <img src="images/number-next.jpg" border="0"/></a>
                <!-- END BLOCK : PAGE_NEXT_SHOW -->
                </td>
            </tr>
          </table>
          <!-- END BLOCK : PAGE_DATA_SHOW -->