            <!-- START BLOCK : SINGLE_FIELD -->
            <select name="st" id="st" class="seinput">
            <!-- START BLOCK : SEARCH_FIELD_OPTION -->
            <option value="{TAG_FIELD_VALUE}" {TAG_FIELD_SELECTED}>{TAG_FIELD_TITLE}</option>
            <!-- END BLOCK : SEARCH_FIELD_OPTION -->
            </select>
            關鍵字<input type="text" id="sk" name="sk" class="seinput" value="{VALUE_SEARCH_KEYWORD}"/>
            <!-- END BLOCK : SINGLE_FIELD -->
            <!-- START BLOCK : MULTIPLE_FIELDS -->
            <div id="search_field_condition">
                <ul>
                    <!-- START BLOCK : MULTIPLE_FIELD_LIST -->
                    <li><label>{FIELD_LABEL}: {TAG_FIELD}</label></li>
                    <!-- END BLOCK : MULTIPLE_FIELD_LIST -->
                </ul>
            </div>
            <!-- END BLOCK : MULTIPLE_FIELDS -->
            <input type="button" value="搜尋" id="smt_sform" />
            <input type="button" value="清除條件" id="reset_condition" />
            <!-- START BLOCK : EXPORT_BTN -->
            <input type="button" value="匯出Excel" id="exportxls" data-export-url="{exportUrl}" />
            <!-- END BLOCK : EXPORT_BTN -->
            <!-- START BLOCK : EXPORT_RID_BTN -->
            <input type="button" value="匯出美安訂單" id="exportridxls" data-export-url="{exportUrl}" />
            <!-- END BLOCK : EXPORT_RID_BTN -->
            <script type="text/javascript">
                function get_query(){
                    var search = location.search
                    var query = { };
                    if(search){
                        search = search.substr(1);
                        var tmp = search.split('&');
                        for(var i=0;i<tmp.length;i++){
                            var tmp2 = tmp[i].split('=');
                            if(tmp2.length>1){
                                if(tmp2[0]!='st' && tmp2[0]!='sk' && tmp2[0]!='nowp' && tmp2[0]!='jp'){
                                    query[tmp2[0]]=tmp2[1];
                                }
                            }
                        }
                        return query;
                    }
                }
                jQuery(function($){
                   $(document).ready(function(){
                      var query = get_query();
                      var form = $("<form name='sform' id='sform' method='get' action=''></form>");
                      for(var k in query){
                          form.append("<input type='hidden' name='"+k+"' value='"+query[k]+"'/>");
                      }
                      form.appendTo('body');
                      $("#smt_sform").click(function(){
                            var sform = $("#sform");
                            sform.removeAttr('target');
                            sform.removeAttr('action');
                            $(".seinput").each(function(idx,elm){
                                if($(elm).val()!==''){
                                    if(sform.find(':hidden').filter('[name='+$(elm).attr('name')+']').size()){
                                        sform.find(':hidden').filter('[name='+$(elm).attr('name')+']').val($.trim($(elm).val()));
                                    }else{
                                        var field = $("<input type='hidden' />");
                                        field.attr('name',$(elm).attr('name'));
                                        field.val($.trim($(elm).val()));
                                        sform.append(field);
                                    }
                                }
                            });
                            sform.submit();
                      });
                      $("#reset_condition").click(function(evt){
                          var query = get_query();
                          if(query && query.func){
                              location.href = location.pathname + '?func=' + query.func;
                          }else{
                              location.href = location.pathname;
                          }
                      });
                      $("#exportxls,#exportridxls").click(function(){
                            $("#sform").attr('action',$(this).attr('data-export-url'));
                            $("#sform").find(':hidden[name=func]').remove();
                            $("#sform").attr('target','_blank');
                            $("#sform").attr('method','post');
                            $(".seinput").each(function(idx,elm){
                                if($(elm).val()!==''){
                                    if($("#sform").find(':hidden').filter('[name='+$(elm).attr('name')+']').size()){
                                        $("#sform").find(':hidden').filter('[name='+$(elm).attr('name')+']').val($.trim($(elm).val()));
                                    }else{
                                        var field = $("<input type='hidden' />");
                                        field.attr('name',$(elm).attr('name'));
                                        field.val($.trim($(elm).val()));
                                        $("#sform").append(field);
                                    }
                                }
                            });                          
                            $("#sform").submit();
                      });
                   });
                });
            </script>