<!-- INCLUDE BLOCK : HEADER -->
<div id="man_zone">
<h1>產品管理</h1>
<br>
<form action="products.php" method="get" name="myform" class="formular" id="formID">
    <table width="95%" border="0" cellpadding="0" cellspacing="0" class="catetable">
    <tr>
      <td>
          {PRODUCTS_CATE_TREE}  
      </td>
    </tr>
    </table>
    <table width="95%" border="0" cellpadding="0" cellspacing="0" class="zonetable">
    <tr>
      <td colspan="11">
      目前分類 : <a href="products.php?func=p_list&pc_parent=0">主分類</a> > {TAG_PRODUCTS_CATE_LAYER} &nbsp;&nbsp;&nbsp;&nbsp;{TAG_BACK_PRE_EDIT_ZONE}
      </td>
    </tr>
    <tr>
      <td colspan="11">
        <div class="title">
        <ul>
          <li><img src="images/icon-add.gif" /><a href="products.php?func=p_add&pc_parent={VALUE_PC_PARENT}" >新增</a></li>
          <li><img src="images/icon-del.gif" /><a href="#" Onclick="Javascript:return FormCheckDel(myform)">刪除</a></li>
          <li><img src="images/icon-open.gif" /><a href="#" Onclick="Javascript:return FormCheckOn(myform)">啟用</a></li>
          <li><img src="images/icon-stop.gif" /><a href="#" Onclick="Javascript:return FormCheckOff(myform)">停用</a></li>
          <li><img src="images/icon-refresh.gif" /><a href="#" Onclick="Javascript:return FormCheckSort(myform)">排序</a></li>
          <li><img src="images/icon-copy.gif" /><a href="#" Onclick="Javascript:return FormCheckCopy(myform)">複製</a></li>
          <li><img src="images/icon-lock.gif" /><a href="#" Onclick="Javascript:return FormCheckLock(myform)">上鎖</a></li>
          <li><img src="images/icon-key.gif" /><a href="#" Onclick="Javascript:return FormCheckUnlock(myform)">開放</a></li>
          <li><img src="images/icon-key.gif" /><a href="products.php?func=unlockall" target="_blank">全部開放</a></li>
        </ul>
        <ul>
          <li>
                <select name="st">
                  <option value="all" {STR_SELECT_SEARCH_TARGET_CK0}>全部</option>
                  <option value="p_name" {STR_SELECT_SEARCH_TARGET_CK1}>產品名稱</option>
                  <option value="p_spec" {STR_SELECT_SEARCH_TARGET_CK2}>產品規格</option>
                  <option value="p_character" {STR_SELECT_SEARCH_TARGET_CK3}>產品特性</option>
                  <option value="p_desc" {STR_SELECT_SEARCH_TARGET_CK4}>產品敘述</option>
                </select>
            關鍵字<input type="text" id="sk" name="sk" class="seinput" value="{VALUE_SEARCH_KEYWORD}"/><input type="button" value="搜尋" Onclick="Javascript:return FormCheckQuery(myform)" />
          </li>
        </ul>
      </div>
      </td>
    </tr>
    <tr>
      <th width="3%"><a href="javascript:click_all(myform);" title="全選/取消"><img src="images/ico-markers.gif" width="12" height="12" border="0" /></a></th>
      <th width="5%">No.</th>
      <th width="7%">排序</th>
      <th width="15%">產品分類</th>
      <th width="7%">產品小圖</th>
      <th width="33%">產品名稱</th>
      <th width="10%">最新編輯</th>
      <th width="5%">權限</th>
      <th width="5%">修改</th>
      <th width="5%">刪除</th>
      <th width="5%">狀態</th>
    </tr>
    <!-- START BLOCK : PRODUCTS_LIST -->
    <tr {TAG_TR_CLASS}>
      <td align="center"><input type="checkbox" name="id[]" value="{VALUE_P_ID}"></td>
      <td>{VALUE_P_SERIAL}</td>
      <td><input type="text" name="sort_value[{VALUE_P_ID}]" value="{VALUE_P_SORT}" class="validate[custom[onlyNumber]]" size="2" maxlength="4"></td>
      <td>{VALUE_P_UP_SORT}{VALUE_PC_NAME}</td>
      <td><img src="{VALUE_P_SMALL_IMG}" border="0" width="75"></td>
      <td>{VALUE_P_NAME}</td>
      <td>{VALUE_P_MODIFYACCOUNT}<br>{VALUE_P_MODIFYDATE}</td>
      <td><img src="images/{VALUE_LOCK_IMG}" border="0" /></td>
      <td><a href="products.php?func=p_mod&p_id={VALUE_P_ID}&st={VALUE_SEARCH_TARGET}&sk={SEARCH_KEYWORD}&nowp={VALUE_NOW_PAGE}&jp={VALUE_JUMP_PAGE}"><img src="images/icon-edit2.gif" width="11" border="0" alt="{MSG_MODIFY}" /></a></td>
      <td><a href="#" onClick="javascript:ConfirmMSG('{TAG_DELETE_CHECK_STR}','products.php?func=p_del&p_id={VALUE_P_ID}&st={VALUE_SEARCH_TARGET}&sk={VALUE_SEARCH_KEYWORD}&nowp={VALUE_NOW_PAGE}&jp={VALUE_JUMP_PAGE}');"><img src="images/icon-del2.gif" width="10" height="9" border="0" /></a></td>
      <td><img src="images/{VALUE_STATUS_IMG}" alt='{VALUE_STATUS_IMG_ALT}{MSG_STATUS}'  border="0" /></td>
    </tr>
    <!-- END BLOCK : PRODUCTS_LIST -->
  </table>
  <input type="hidden" name="total_box" value="{VALUE_TOTAL_BOX}" />
  <input type="hidden" name="box_check" value="1" />
  <input type="hidden" name="ws_table" value="p" />
  <input type="hidden" name="pc_parent" value="{VALUE_PC_PARENT}" />
  <input type="hidden" name="nowp" value="{VALUE_NOW_PAGE}" />
  <br>
  </form>
    <!-- INCLUDE BLOCK : ./templates/ws-manage-fn-pagination-tpl.html -->
</div>
<!-- INCLUDE BLOCK : FOOTER -->