<!-- INCLUDE BLOCK : HEADER -->
<div id="man_zone">
<h1>討論區管理</h1>
<form action="sugarforum.php" method="get" name="myform" class="formular" id="formID">
    <table width="95%" border="0" cellpadding="0" cellspacing="0" class="zonetable">
    <tr>
      <td colspan="7">
        <div class="title">
        <ul>
          <li><img src="images/icon-del.gif" /><a href="#" Onclick="Javascript:return FormCheckDel(myform)">刪除</a></li>
        </ul>
        <ul>
          <li>
            <select name="st" class="seinput">
              <option value="all" {STR_SELECT_SEARCH_TARGET_CK0}>全部</option>
              <option value="f_name" {STR_SELECT_SEARCH_TARGET_CK1}>標題</option>
              <option value="f_content" {STR_SELECT_SEARCH_TARGET_CK2}>內容</option>
            </select>
            關鍵字<input type="text" id="sk" name="sk" class="seinput" value="{VALUE_SEARCH_KEYWORD}"/><input type="button" value="搜尋" Onclick="Javascript:return FormCheckQuery(myform)" />
          </li>
        </ul>
      </div>
      </td>
    </tr>
    <tr>
      <th width="3%"><a href="javascript:click_all(myform);"><img src="images/ico-markers.gif" width="12" height="12" border="0" /></a></th>
      <th width="5%">No.</th>
      <th width="30%">主題</th>
      <th width="10%">回覆</th>
      <th width="20%">作者</th>
      <th width="20%">最新回應</th>
      <th width="5%">刪除</th>
    </tr>
    <!-- START BLOCK : SUGARFORUM_LIST -->
            <tr>
              <td align="center"><input type="checkbox" name="id[]" value="{VALUE_T_ID}"></td>
              <td>{VALUE_GB_SERIAL}</td>
              <td><a href="sugarforum.php?func=f_detail&Theme_ID={VALUE_T_ID}">{VALUE_T_NAME}</a></td>
              <td>{VALUE_T_REPLY}</td>
              <td>{VALUE_T_DATE}<br />{VALUE_TM_NAME}</td>
              <td>{VALUE_R_DATE}<br />{VALUE_RM_NAME}</td>
              <td><a href="#" onClick="javascript:ConfirmMSG('{TAG_DELETE_CHECK_STR}','sugarforum.php?func=f_del&Theme_ID={VALUE_T_ID}&st={VALUE_SEARCH_TARGET}&sk={VALUE_SEARCH_KEYWORD}&nowp={VALUE_NOW_PAGE}&jp={VALUE_JUMP_PAGE}');"><img src="images/icon-del2.gif" width="10" height="9" border="0" /></a></td>
            </tr>
    <!-- END BLOCK : SUGARFORUM_LIST -->
    <input type="hidden" name="total_box" value="{VALUE_TOTAL_BOX}" />
    <input type="hidden" name="box_check" value="1" />
    <input type="hidden" name="ws_table" value="f" />
  </table>
    </form>
    <!-- INCLUDE BLOCK : ./templates/ws-manage-fn-pagination-tpl.html -->
</div>
<!-- INCLUDE BLOCK : FOOTER -->