<!-- INCLUDE BLOCK : HEADER -->
<div id="man_zone">
<h1>活動剪影分類{MSG_MODE}</h1>
<form name="myform" method="post" action="gallery.php?func=gc_replace"  class="formular" id="formID">
    <table width="92%" border="0" align="center" cellpadding="0" cellspacing="0" class="formtable">
        <tr>
            <th><font color="red">*</font>分類名稱:</th>
            <td>
                <input name="gc_subject" type="text" id="gc_subject" class="validate[required]"  value="{VALUE_GC_SUBJECT}" size="56" maxlength="255"></td>
        </tr> 
        <tr>
            <th>狀態:</th>
            <td>
                <input type="radio" name="gc_status" value="1" {STR_GC_STATUS_CK1}> 啟用
                <input type="radio" name="gc_status" value="0" {STR_GC_STATUS_CK0}> 停用
            </td>
        </tr>
        <tr>
            <th>排序:</th>
            <td>
                <input name="gc_sort" type="text" id="gc_sort" class="validate[custom[onlyNumber]]"  value="{VALUE_GC_SORT}" size="4" maxlength="4"></td>
        </tr>
        <tr>
            <th>說明:</th>
            <td>
                <textarea name="gc_desc" type="text" id="elm1" >{VALUE_GC_DESC}</textarea>
            </td>
        </tr>
        <!-- START BLOCK : SETTING_DIR_ZONE -->
        <tr>
            <th>設定資料夾:</th>
            <td>
                <input name="gc_dir" type="text" id="gc_dir" class="validate[required]"  value="{VALUE_GC_DIR}" size="40" />
                <!-- START BLOCK : UPDATE_DB_BUTTON -->
                <input id="update_pic" type="button" value="編輯圖片" /><span id="gc_dir_note" style="display:none;color:red">請先儲存資料夾設定，否則無法編輯圖片</span>
                <!-- END BLOCK : UPDATE_DB_BUTTON -->
                <br/>請指定此分類所屬圖片存放的資料夾，例如，upload_files/gallery
            </td>
        </tr>
        <!-- END BLOCK : SETTING_DIR_ZONE -->
      <!-- START BLOCK : SEO_EDIT_ZONE -->
        <tr>
        <th colspan="2">SEO 設定區域</th>
      </tr>

      <tr>
        <th>網頁標題(Meta Title):</th>
        <td>
            <input name="gc_seo_title" type="text"  value="{VALUE_GC_SEO_TITLE}" size="60" />
        </td>
      </tr>
      <tr>
        <th>網頁關鍵字(Meta Keyword):</th>
        <td>
            <textarea name="gc_seo_keyword" cols="50" rows="3" >{VALUE_GC_SEO_KEYWORD}</textarea>
        </td>
      </tr>
      <tr>
        <th>網頁敘述(Meta Description):</th>
        <td>
            <textarea name="gc_seo_description" cols="50" rows="3" >{VALUE_GC_SEO_DESCRIPTION}</textarea>
        </td>
      </tr>
      <!-- END BLOCK : SEO_EDIT_ZONE -->
        <tr>
            <th>&nbsp;</th>
            <td>
                <input type="submit" name="submit" value="{MSG_MODE}" />&nbsp;&nbsp;&nbsp;<input type="button" name="back" value="回到上一頁" onclick="history.back();" /></td>
        </tr>
    </table>
    <input type="hidden" name="gc_id" value="{VALUE_GC_ID}">
    <input type="hidden" name="gc_dir_old" value="{VALUE_GC_DIR}">
    <input type="hidden" name="action_mode" value="{VALUE_ACTION_MODE}">
    <input name="st" type="hidden" id="st" value="{VALUE_SEARCH_TARGET}">
    <input name="sk" type="hidden" id="sk" value="{VALUE_SEARCH_KEYWORD}">
    <input name="nowp" type="hidden" id="nowp" value="{VALUE_NOW_PAGE}">
    <input name="jp" type="hidden" id="jp" value="{VALUE_JUMP_PAGE}">
</form>
</div>
<div id="dialog" title="編輯圖片" style="display:none"><iframe id="gpwin" style="border:none;width:600px;height:440px;overflow:auto" ></iframe></div>
<!-- INCLUDE BLOCK : FOOTER -->
<script type="text/javascript">
    jQuery(function($){
       $(document).ready(function(){
            var gpwin = $("#gpwin");
            $("#dialog").dialog({
                autoOpen:false,
                modal:true,
                width:660,
                height:515
            });
           //設定更新資料庫裡的圖片內容
           $("#update_pic").click(function(evt){
                if(myform.gc_dir.value!=myform.gc_dir_old.value){
                    alert("請先儲存資料夾設定");
                    return false;
                }else if(myform.gc_dir_old.value==''){
                    alert("請先指定資料夾");
                    return false;
                }
                var url='gallery.php?func=gp_file&gc_id='+myform.gc_id.value;
                gpwin.attr('src',url);
                $("#dialog").dialog("open");
           });        
           $("#gc_dir").change(function(){
               if(myform.gc_dir.value!=myform.gc_dir_old.value){
                   $("#update_pic").attr("disabled","disabled");
                   $("#gc_dir_note").show();
               }else{
                   $("#update_pic").removeAttr("disabled");
                   $("#gc_dir_note").hide();
               }
           });
       });
    });
</script>
