<!-- INCLUDE BLOCK : HEADER -->
<div id="man_zone">
<h1>認證標章管理</h1>
<br>
<form name="myform" method="post" action="products.php?func=ca_replace"  class="formular" id="formID">
    <table width="92%" border="0" align="center" cellpadding="0" cellspacing="0" class="formtable">
      <tr>
        <th><font color="red">*</font>認證標章名稱:</th>
        <td colspan="3">
            <input name="ca_name" id="ca_name" type="text" class="validate[required]"  value="{VALUE_CA_NAME}" size="40" maxlength="255">
        </td>     
      </tr>
      <tr>
        <th>標章排序:</th>
        <td colspan="3">
            <input name="ca_sort" id="ca_sort" type="text" class="validate[custom[onlyNumber]]"  value="{VALUE_CA_SORT}" size="4" maxlength="4">
            <br><font color="red">請輸入數字如：0,1,2,3...數字『愈大』<br>前台的{MSG_PRODUCT_CATE}排列會愈前面</font>
        </td>             
      </tr>
      <tr>
          <th>標章小圖:</th>
        <td colspan="3">
            <table border="0" cellpadding="0" cellspacing="0" width="200" class="pictable">
              <tr>
                <th rowspan="2" align="center">
                  <a href="#" class="img_manage" rel="attach_img1">
                    <img src="{VALUE_PIC_PREVIEW1}" border="0" width="120" name="pic_preview1" id="pic_preview1">
                  </a>
                  <br>
                  <font color="red">點選圖框更換圖片</font>
                </td>
                <td><input type="text" size="40" name="ca_img" value="{VALUE_CA_IMG}" id="attach_img1" onchange="onImageSelect(this,'pic_preview1');"></td>
              </tr>
              <tr>
                <td><a href="javascript:LoadDefaultPic('attach_img1','pic_preview1')">&nbsp;&nbsp;&nbsp;&nbsp;取消圖片</a></td>
              </tr>
            </table>
        </td>
      </tr>      
      <tr>
        <th>&nbsp;</th>
        <td colspan="3">
            <input type="submit" name="submit" value="{MSG_MODE}" />&nbsp;&nbsp;&nbsp;<input type="button" name="back" value="回到上一頁" onclick="history.back();" />
        </td>
      </tr>
    </table>
    <input name="root_path" id="root_path" type="hidden"  value="{TAG_ROOT_PATH}">
    <input type="hidden" name="now_ca_id" value="{NOW_CA_ID}">
    <input type="hidden" name="action_mode" value="{VALUE_ACTION_MODE}">
    <input name="st" type="hidden" id="st" value="{VALUE_SEARCH_TARGET}">
    <input name="sk" type="hidden" id="sk" value="{VALUE_SEARCH_KEYWORD}">
    <input name="nowp" type="hidden" id="nowp" value="{VALUE_NOW_PAGE}">
    <input name="jp" type="hidden" id="jp" value="{VALUE_JUMP_PAGE}">
    </form>
    <br>
</div>
<!-- INCLUDE BLOCK : FOOTER -->