<!-- INCLUDE BLOCK : HEADER -->
<div id="man_zone">
<h1>電子報發送記錄</h1>
    <table width="95%" border="0" cellpadding="0" cellspacing="0" class="zonetable">
    <tr>
      <th width="5%">No.</th>
      <th width="25%">電子報</th>
      <th width="35%">發送日期</th>
      <th width="35%">發送群組</th>
    </tr>
    <!-- START BLOCK : EPAPER_SEND_HISTORY_LIST -->
    <tr {TAG_TR_CLASS}>
      <td>{VALUE_ES_SERIAL}</td>
      <td>{VALUE_E_SUBJECT}</td>
      <td>{VALUE_ES_MODIFYDATE}</td>
      <td>{VALUE_ES_GROUP}</td>
     </tr>
    <!-- END BLOCK : EPAPER_SEND_HISTORY_LIST -->
  </table>
    <!-- INCLUDE BLOCK : ./templates/ws-manage-fn-pagination-tpl.html -->
</div>
<!-- INCLUDE BLOCK : FOOTER -->