<!-- INCLUDE BLOCK : HEADER -->
<div id="man_zone">
<h1>檔案分享</h1>
<br>
<form action="download.php" method="get" name="myform" class="formular" id="formID">
  <table width="95%" border="0" cellpadding="0" cellspacing="0" class="zonetable">
    <tr>
      <th width="5%">No.</th>
      <th width="7%">年份</th>
      <th width="7%">季別</th>
      <th width="7%">月別</th>
      <th width="15%">分類</th>
      <th width="">標題</th>
      <th width="5%">修改</th>
      <th width="5%">狀態</th>
    </tr>
    <!-- START BLOCK : DOWNLOAD_LIST -->
    <tr {TAG_TR_CLASS}>
      <td>{VALUE_D_SERIAL}</td>
      <td>{VALUE_YEAR}</td>
      <td>{VALUE_SEASON}</td>
      <td>{VALUE_MONTH}</td>
      <td>{VALUE_DC_SUBJECT}</td>
      <td>{VALUE_D_SUBJECT}</td>
      <td><a href="download.php?func=d_mod&d_id={VALUE_D_ID}&st={VALUE_SEARCH_TARGET}&sk={SEARCH_KEYWORD}&nowp={VALUE_NOW_PAGE}&jp={VALUE_JUMP_PAGE}"><img src="images/icon-edit2.gif" width="11" border="0" alt="{MSG_MODIFY}" /></a></td>
      <td><img src="images/{VALUE_STATUS_IMG}" alt='{VALUE_STATUS_IMG_ALT}{MSG_STATUS}' border="0" /></td>
    </tr>
    <!-- END BLOCK : DOWNLOAD_LIST -->
      <input type="hidden" name="total_box" value="{VALUE_TOTAL_BOX}" />
      <input type="hidden" name="box_check" value="1" />
      <input type="hidden" name="ws_table" value="d" />
    </table>
    <br>
    </form>
    <!-- INCLUDE BLOCK : ./templates/ws-manage-fn-pagination-tpl.html -->
</div>
<!-- INCLUDE BLOCK : FOOTER -->