<!-- INCLUDE BLOCK : HEADER -->
<div id="man_zone">
<h1>好站連結分類{MSG_MODE}</h1>
<form name="myform" method="post" action="goodlink.php?func=lc_replace"  class="formular" id="formID">
    <table width="92%" border="0" align="center" cellpadding="0" cellspacing="0" class="formtable">
        <tr>
            <th><font color="red">*</font>分類名稱:</th>
            <td>
                <input name="lc_subject" type="text" class="validate[required]"  value="{VALUE_LC_SUBJECT}" size="96" maxlength="255"></td>
        </tr> 
        <tr>
            <th>狀態:</th>
            <td>
                <input type="radio" name="lc_status" value="1" {STR_LC_STATUS_CK1}> 啟用
                <input type="radio" name="lc_status" value="0" {STR_LC_STATUS_CK0}> 停用
            </td>
        </tr>
        <tr>
            <th>排序:</th>
            <td>
                <input name="lc_sort" type="text" class="validate[custom[onlyNumber]]"  value="{VALUE_LC_SORT}" size="4" maxlength="4"></td>
        </tr>
        <tr>
            <th>&nbsp;</th>
            <td>
                <input type="submit" name="submit" value="{MSG_MODE}" />&nbsp;&nbsp;&nbsp;<input type="button" name="back" value="回到上一頁" onclick="history.back();" /></td>
        </tr>
    </table>
    <input type="hidden" name="lc_id" value="{VALUE_LC_ID}">
    <input type="hidden" name="action_mode" value="{VALUE_ACTION_MODE}">
    <input name="st" type="hidden" id="st" value="{VALUE_SEARCH_TARGET}">
    <input name="sk" type="hidden" id="sk" value="{VALUE_SEARCH_KEYWORD}">
    <input name="nowp" type="hidden" id="nowp" value="{VALUE_NOW_PAGE}">
    <input name="jp" type="hidden" id="jp" value="{VALUE_JUMP_PAGE}">
</form>
</div>
<!-- INCLUDE BLOCK : FOOTER -->
