<!-- INCLUDE BLOCK : HEADER -->
<div id="man_zone">
<h1>各項功能Meta設定</h1>
<form name="myform" method="post" action="metatitle.php?func=mt_replace"  class="formular" id="formID">
    <ul class="tabs">
            <!-- START BLOCK : SEO_ZONE_TITLE -->
            <li><a href="#{VALUE_MT_NAME}">{VALUE_MT_NAME_TITLE}</a></li>
            <!-- END BLOCK : SEO_ZONE_TITLE -->
    </ul>
    <div class="panes">
       <!-- START BLOCK : SEO_ZONE_FIELDS -->
       <div>
        <table width="92%" border="0" align="center" cellpadding="0" cellspacing="0" class="formtable">
        <tr>
            <th colspan="2">{VALUE_MT_NAME_TITLE}</th>
        </tr>
        <tr>
            <th>網頁標題(Meta Title):</th>
            <td>
                <input name="meta[{VALUE_MT_NAME}][mt_seo_title]" type="text" value="{VALUE_SEO_TITLE}" size="60" />
            </td>
        </tr>
        <tr>
            <th>網頁關鍵字(Meta Keyword):</th>
            <td>
                <textarea name="meta[{VALUE_MT_NAME}][mt_seo_keyword]" cols="50" rows="3" >{VALUE_SEO_KEYWORD}</textarea>
            </td>
        </tr>
        <tr>
            <th>
                網頁敘述(Meta Description):</th>
            <td>
                <textarea name="meta[{VALUE_MT_NAME}][mt_seo_description]" cols="50" rows="3" >{VALUE_SEO_DESCRIPTION}</textarea>
            </td>
        </tr>
        <tr>
            <th>簡述:</th>
            <td>
                <textarea class="mceEditor" name="meta[{VALUE_MT_NAME}][mt_seo_short_desc]" cols="50" rows="3" >{VALUE_SEO_SHORT_DESC}</textarea>
            </td>
        </tr>
        <tr>
          <th>自訂頁面:</th>
          <td>
              <input type="radio" name="meta[{VALUE_MT_NAME}][mt_seo_custom_status]" value="0" {SEO_CUSTOM_STATUS_CK0} onClick="document.getElementById('div_custom_{VALUE_MT_NAME}').style.display='none';"> 否
              <input type="radio" name="meta[{VALUE_MT_NAME}][mt_seo_custom_status]" value="1" {SEO_CUSTOM_STATUS_CK1} onclick="document.getElementById('div_custom_{VALUE_MT_NAME}').style.display='';"> 是
              <br><font color="red">(如果選擇【是】的話，產品主頁面會出現編輯的內容；如果選擇【否】的話，必須先清空內容。)</font>
          </td>
        </tr>
        <tr id="div_custom_{VALUE_MT_NAME}" style="display:{SEO_CUSTOM_STATUS_DISPLAY}">
          <th>&nbsp;</th>
          <td>
              <textarea class="mceEditor" name="meta[{VALUE_MT_NAME}][mt_seo_custom]" cols="50" rows="15">{VALUE_SEO_CUSTOM}</textarea>
          </td>
        </tr>        
        <tr>
            <th>H1 標題:</th>
            <td>
                <input name="meta[{VALUE_MT_NAME}][mt_seo_h1]" type="text"  value="{VALUE_SEO_H1}" size="40" >
            </td>
        </tr>
        </table>
       </div>
       <!-- END BLOCK : SEO_ZONE_FIELDS -->
        <input type="submit" name="submit" value="設定" />&nbsp;&nbsp;&nbsp;<input type="button" name="back" value="回到上一頁" onclick="history.back();" />
    </div>
</form>
</div>
<!-- INCLUDE BLOCK : FOOTER -->
