<!-- START BLOCK : MAIN_CATE -->
<ul class="simpleTree">
    <li class="root" id="0"><span>主分類</span>
        {VALUE_CATE_TREE}
    </li>
</ul>
<!-- END BLOCK : MAIN_CATE -->
<!-- START BLOCK : SUB_CATE -->
<ul>
    <!-- START BLOCK : SUB_CATE_LIST --> 
    <li id="{VALUE_CATE_ID}" class="{OPEN_CLASS}">
        <span class="{ACTIVE_CLASS}">&nbsp;</span><a href="{VALUE_CATE_TREE_LINK}">{VALUE_CATE_TREE_LINK_NAME}</a>
        {VALUE_SUB_CATE_TREE}
    </li>
    <!-- END BLOCK : SUB_CATE_LIST --> 
</ul>
<!-- END BLOCK : SUB_CATE -->