    <ul>
      <!-- START BLOCK : 10000000 -->  
      <li><img src="images/icon-add.gif" /><a href="{ADD_LINK}" >新增</a></li>
      <!-- END BLOCK : 10000000 -->  
      <!-- START BLOCK : 01000000 -->  
      <li><img src="images/icon-del.gif" /><a href="#" Onclick="Javascript:return FormCheckDel(myform)">刪除</a></li>
      <!-- END BLOCK : 01000000 -->  
      <!-- START BLOCK : 00100000 -->  
      <li><img src="images/icon-open.gif" /><a href="#" Onclick="Javascript:return FormCheckOn(myform)">啟用</a></li>
      <!-- END BLOCK : 00100000 -->  
      <!-- START BLOCK : 00010000 -->  
      <li><img src="images/icon-stop.gif" /><a href="#" Onclick="Javascript:return FormCheckOff(myform)">停用</a></li>
      <!-- END BLOCK : 00010000 -->  
      <!-- START BLOCK : 00001000 -->  
      <li><img src="images/icon-refresh.gif" /><a href="#" Onclick="Javascript:return FormCheckSort(myform)">排序</a></li>
      <!-- END BLOCK : 00001000 -->  
      <!-- START BLOCK : 00000100 -->  
      <li><img src="images/icon-copy.gif" /><a href="#" Onclick="Javascript:return FormCheckCopy(myform)">複製</a></li>
      <!-- END BLOCK : 00000100 -->  
      <!-- START BLOCK : 00000010 -->  
      <li><img src="images/icon-lock.gif" /><a href="#" Onclick="Javascript:return FormCheckLock(myform)">上鎖</a></li>
      <!-- END BLOCK : 00000010 -->  
      <!-- START BLOCK : 00000001 -->  
      <li><img src="images/icon-key.gif" /><a href="#" Onclick="Javascript:return FormCheckUnlock(myform)">開放</a></li>
      <!-- END BLOCK : 00000001 -->  
    </ul>
