<!-- INCLUDE BLOCK : HEADER -->
<div id="man_zone">
<h1>訂單處理</h1>
<form name="myform" method="post" action="order.php?func=o_replace"  class="formular" id="formID">
    <table width="92%" border="0" align="center" cellpadding="0" cellspacing="0" class="formtable">
        <tr>
            <th colspan="2" class="table_title_color">訂單資訊</th>
        </tr>        
        <tr>
            <th>訂單編號:</th>
            <td>
                {VALUE_O_ID}
            </td>
        </tr>
        <tr>
            <th>訂單狀態:</th>
            <td>
            <!-- START BLOCK : ORDER_STATUS_LIST -->
                <input type="radio" name="o_status" value="{VALUE_O_STATUS}" {TAG_STATUS_CHECKED}>{VALUE_O_STATUS_SUBJECT}&nbsp;&nbsp;{TAG_BR}
            <!-- END BLOCK : ORDER_STATUS_LIST -->
                <input type="submit" value="{MSG_MODE}">
            </td>
        </tr>
        <tr>
            <th>付款方式:</th>
            <td>
                {VALUE_O_PAYMENT_TYPE}
            </td>
        </tr>
        <tr>
            <th>匯款後五碼</th>
            <td>{VALUE_O_ATM_LAST5}</td>
        </tr>
        <tr>
            <th>送貨區域</th>
            <td>{VALUE_O_SHIPPMENT_TYPE}</td>
        </tr>
        <!-- START BLOCK : DELIVERY_TIMESEC -->
        <tr>
            <th>配送日期及時段</th>
            <td>{VALUE_O_DELIVERY_STR}</td>
        </tr>
        <!-- END BLOCK : DELIVERY_TIMESEC -->        
        <!-- START BLOCK : ATM_DATA -->
        <tr>
            <th>ATM虛擬帳號:</th>
            <td>
                {VALUE_O_VIRTUAL_ACCOUNT}</td>
        </tr>
        <tr>
            <th>匯款金額:</th>
            <td>
                {VALUE_O_CURAMT}</td>
        </tr>
        <!-- END BLOCK : ATM_DATA -->        
        <tr>
            <th>內容:</th>
            <td>
                &nbsp;{VALUE_O_CONTENT}</td>
        </tr>         
        <tr>
            <th colspan="2" class="table_title_color">發票資訊</th>
        </tr>
        <tr>
            <th>發票類型:</th>
            <td>
                <!-- START BLOCK : INVOICE_TYPE_RADIO -->
                <label><input type="radio" name="o_invoice_type" value="{VALUE_INVOICE_TYPE_KEY}" {CHECKED}/>{VALUE_INVOICE_TYPE_NAME}</label>
                <!-- END BLOCK : INVOICE_TYPE_RADIO -->
            </td>
        </tr>
        <tr>
            <th>公司:</th>
            <td>
                <input type="text" name="o_company_name" id="o_company_name" value="{VALUE_O_COMPANY_NAME}"/></td>
        </tr>
        <tr>
            <th>統一編號:</th>
            <td>
                <input type="text" name="o_vat_number" id="o_vat_number" value="{VALUE_O_VAT_NUMBER}" maxlength="8"/></td>
        </tr>
        <tr>
            <th colspan="2" class="table_title_color">訂購者資訊</th>
        </tr>
        <tr>
            <th>姓名:</th>
            <td>
                {VALUE_O_NAME}</td>
        </tr>
        <tr>
            <th>電話:</th>
            <td>
                {VALUE_O_TEL}</td>
        </tr>
        <tr>
            <th>手機:</th>
            <td>
                {VALUE_O_CELLPHONE}</td>
        </tr>
        <tr>
            <th>郵遞區號:</th>
            <td>
                {VALUE_O_ZIP}</td>
        </tr>
        <tr>
            <th>住址:</th>
            <td>
                {VALUE_O_ADDRESS}</td>
        </tr>
        <tr>
            <th>e-mail:</th>
            <td>
                {VALUE_O_EMAIL}</td>
        </tr>
        <tr>
            <th colspan="2" class="table_title_color">收件者資訊</th>
        </tr>
        <tr>
            <th>姓名:</th>
            <td>
                <input type="text" name="o_reci_name" value="{VALUE_O_RECI_NAME}"/></td>
        </tr>
        <tr>
            <th>電話:</th>
            <td>
                <input type="text" name="o_reci_tel" value="{VALUE_O_RECI_TEL}"/></td>
        </tr>
        <tr>
            <th>手機:</th>
            <td>
                <input type="text" name="o_reci_cellphone" value="{VALUE_O_RECI_CELLPHONE}"/></td>
        </tr>
        <!-- START BLOCK : SINGLE_ADDRESS -->
        <tr>
            <th>住址:</th>
            <td>
                郵遞區號<input type="text" name="o_reci_zip" id="o_reci_zip" value="{VALUE_O_RECI_ZIP}" size="3"/><input type="text" name="o_reci_address" id="o_reci_address" value="{VALUE_O_RECI_ADDRESS}" size="50"/>
            </td>
        </tr>
        <!-- END BLOCK : SINGLE_ADDRESS -->
        <!-- START BLOCK : TW_ADDRESS -->
        <tr id="m_zone_row">
            <th>住址:</th>
            <td>
                郵遞區號<input type="text" name="o_reci_zip" id="o_reci_zip" value="{VALUE_O_RECI_ZIP}"/><br/>
                <select name="o_reci_city" id="o_reci_city"></select><select name="o_reci_area" id="o_reci_area"></select><input type="text" name="o_reci_address" value="{VALUE_O_RECI_ADDRESS}" size="50"/>
                <script type="text/javascript" src="{TAG_ROOT_PATH}js/zone_box.js"></script>
                <script type="text/javascript">
                    jQuery(function($){
                       //設定城市挑選器
                        $("#m_zone_row").zone_box({
                                MAIN_ID : "o_reci_city", // 縣市元素 ID (select 元素)
                                SUB_ID : "o_reci_area", // 區域元素 ID (select 元素)
                                ZIP_ID : "o_reci_zip", // 郵遞區號 ID (input 元素)
                                ZIP_GET : "", // 輸入郵遞區號
                        });     
                        $("#o_reci_zip").trigger("keyup");
                    });
                </script>
            </td>
        </tr>
        <!-- END BLOCK : TW_ADDRESS -->
        <tr>
            <th>e-mail:</th>
            <td>
                <input type="text" name="o_reci_email" value="{VALUE_O_RECI_EMAIL}"/></td>
        </tr>        
        <tr>
            <th colspan="2"  valign="top" class="table_title_color">訂單內容</th>
        </tr>
        <tr>
            <td colspan="2">
                <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="producttable">
                    <tr>
                        <th width="5%"> No.</th>
                        <th width="40%"> 產品</th>
                        <th width="10%"> 數量</th>
                        <th width="25%"> {MSG_PRODUCT_SPECIAL_PRICE}{VALUE_P_DISCOUNT}</th>
                        <th width="20%"> 小計</th>
                    </tr>
                    <!-- START BLOCK : ORDER_ITEMS_LIST -->
                    <tr>
                        <td>
                            {VALUE_P_SERIAL}
                        </td>
                        <td>
                            {VALUE_P_NAME}
                        </td>
                        <td>
                            {VALUE_P_AMOUNT}
                        </td>
                        <td>
                            {VALUE_P_SELL_PRICE}
                        </td>
                        <td>
                            {VALUE_P_SUBTOTAL_PRICE}
                        </td>
                    </tr>
                    <!-- END BLOCK : ORDER_ITEMS_LIST -->
                    <tr>
                        <td colspan="4">
                            <div align="right"> 小計:&nbsp;</div>
                        </td>
                        <td>
                        {VALUE_O_SUBTOTAL_PRICE}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <div align="right"> 運費:&nbsp;</div>
                        </td>
                        <td>
                        {VALUE_O_PLUS_PRICE}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <div align="right"> 手續費:&nbsp;</div>
                        </td>
                        <td>
                        {VALUE_O_CHARGE_FEE}
                        </td>
                    </tr>
                    <tr>
                        <th colspan="4">
                            <div align="right"> 合計:&nbsp;</div>
                        </th>
                        <th> 
                        {VALUE_O_TOTAL_PRICE}
                        </th>
                    </tr>
                </table>
            </td>
        </tr>
        <!-- START BLOCK : ALI_TABLE -->
        <tr>
        	<th colspan="2">支付寶、財富通 訂單訊息</th>
        </tr>
        <tr>
        	<th>訂單編號</th>
            <td>{VALUE_ALI_PNO}</td>
        </tr>
        <tr>
        	<th>平臺訂單號</th>
            <td>{VALUE_ALI_ORDER_NO}</td>
        </tr>
        <tr>
        	<th>支付平臺</th>
            <td>{VALUE_ALI_CHANNEL}</td>
        </tr>
        <!--
        <tr>
        	<th>平臺交易編號</th>
            <td>{VALUE_ALI_CHANNEL_NO}</td>
        </tr>
        -->
        <tr>
        	<th>訂單總價</th>
            <td>{VALUE_ALI_PRICE}</td>
        </tr>
        <tr>
        	<th>訂單原始價格</th>
            <td>{VALUE_ALI_O_PRICE}</td>
        </tr>
        <tr>
        	<th>收件人名稱</th>
            <td>{VALUE_ALI_NAME}</td>
        </tr>
        <tr>
        	<th>收件人電話</th>
            <td>{VALUE_ALI_TEL}</td>
        </tr>
        <tr>
        	<th>收件人電話 2</th>
            <td>{VALUE_ALI_TEL_2}</td>
        </tr>
        <tr>
        	<th>收件人E-mail</th>
            <td>{VALUE_ALI_MAIL}</td>
        </tr>
        <tr>
        	<th>收件地區代碼</th>
            <td>{VALUE_ALI_ZONE}</td>
        </tr>
        <tr>
        	<th>收件地址</th>
            <td>{VALUE_ALI_ADDRESS}</td>
        </tr>
        <tr>
        	<th>買方負擔運費</th>
            <td>{VALUE_ALI_SHIPAY}</td>
        </tr>
        <tr>
        	<th>貨運狀態</th>
            <td>{VALUE_ALI_SHIP_DESC}</td>
        </tr>
        <tr>
        	<th>訂單狀態</th>
            <td>{VALUE_ALI_STATUS}</td>
        </tr>
        <tr>
        	<th>狀態說明</th>
            <td>{VALUE_ALI_DESC}</td>
        </tr>
        <!-- END BLOCK : ALI_TABLE -->
        <!-- START BLOCK : ALI_ERROR -->
        <tr>
        	<th colspan="2">支付寶、財富通 訂單查尋失敗</th>
        </tr>
        <tr>
        	<th>查詢失敗</th>
            <td>無法查詢交易資料，此筆訂單並未交易完成。</td>
        </tr>
        <!-- END BLOCK : ALI_ERROR -->
    </table>
    <input type="hidden" name="o_id" value="{VALUE_O_ID}">
    <input name="st" type="hidden" id="st" value="{VALUE_SEARCH_TARGET}">
    <input name="sk" type="hidden" id="sk" value="{VALUE_SEARCH_KEYWORD}">
    <input name="nowp" type="hidden" id="nowp" value="{VALUE_NOW_PAGE}">
    <input name="jp" type="hidden" id="jp" value="{VALUE_JUMP_PAGE}">
</form>
</div>
<!-- INCLUDE BLOCK : FOOTER -->
