<form  name="myform" action="?func=c_finish" method="post">
    <div>

    <div class="cart_step"><img src="{TAG_THEME_PATH}cart_step1.png" /></div>
    <div id="nodata">{MSG_CART_EMPTY}</div>
    <!--<div class="cart_title_icon">付款方式</div>

    <div class="cart_pay">
    <table width="100%">
        <tr>
          <td>超商取貨付款 - 7-11</td>
          <td width="70" class="cart_pay_radio"><input type="radio" ></td>
          <td>7-11取貨付款，將酌收50元物流費。</td>
        </tr>
        <tr>
          <td>宅配貨到付款</td>
          <td class="cart_pay_radio"><input type="radio" ></td>
          <td>宅配貨到付款，將酌收50元物流費。（「貨到付款」服務僅限台灣本島）。</td>
        </tr>
        <tr>
          <td>信用卡線上刷卡</td>
          <td class="cart_pay_radio"><input type="radio" ></td>
          <td>信用卡宅配到府，將酌收50元物流費。( 僅限台灣地區發行之VISA、Master Card、JCB信用卡 )</td>
        </tr>
    </table>
    </div>-->
    </div>

    <br>

    <!-- START BLOCK : PAYMENT_TYPE -->
    <div class="cart_title_icon">{MSG_PAYMENT_TYPE}</div>
        <!-- START BLOCK : PAYMENT_TYPE_ITEMS -->
        <label><input type="radio" name="o_payment_type" value="{VALUE_PAYMENT_TYPE}" {VALUE_PAYMENT_CURRENT}>{VALUE_PAYMENT_TYPE_STR}</label>&nbsp;&nbsp;&nbsp;
        <!-- END BLOCK : PAYMENT_TYPE_ITEMS -->
    <br><br>
    
    <!-- START BLOCK : 7_11_CVS_CLOSE -->
    <div class="notice">
	    <h3>親愛的會員您好：</h3>
		<p>歐付寶與7-ELEVEN系統商因合約及相關串接等系統問題</p>
		<p class="pop">將於 2014年12月22日(一)00時00分起 關閉【7-ELEVEN】超商代碼繳費服務</p>
		<p>在關閉此服務前已成功取得超商代碼者將不受影響，仍可於繳費期限內至超商進行繳費；</p>
		<p>此服務重新啟用時間將視處理進度再另行公告！造成不便，敬請見諒！</p>
	</div>
	<!-- END BLOCK : 7_11_CVS_CLOSE -->
    <!-- END BLOCK : PAYMENT_TYPE -->


    <!-- START BLOCK : TAG_CART_ZONE -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="cart_table"> 
        <tr>
            <th width="5%"> No.</th>
            <th width="10%"> {MSG_PRODUCT_IMAGE}</th>
            <th width=""> {MSG_PRODUCT}</th>
            <!-- START BLOCK : SPEC_TITLE -->
            <th width="15%"> 規格</th>
            <!-- END BLOCK : SPEC_TITLE -->
            <th width="10%"> {MSG_AMOUNT}</th>
            <th width="10%"> {MSG_PRODUCT_PRICE}{VALUE_P_DISCOUNT}</th>
            <th width="10%"> {MSG_DISCOUNT}</th>
            <th width="10%"> {MSG_SUBTOTAL}</th>
            <th width="10%"> {MSG_DEL}</th>
        </tr>

        <!-- START BLOCK : TAG_CART_LIST -->
        <tr class="cart_line {INVENTORY_SHORT_CLASS}">
            <td>{VALUE_P_SERIAL}</td>
            <td><center><a href="{VALUE_P_SMALL_IMG}" rel="lightbox"><img src="{VALUE_P_SMALL_IMG}" width="60" alt="{VALUE_P_NAME}" border="0"/></a></center></td>
            <td class="cart_title"><a href="{VALUE_P_LINK}" target="_blank">{VALUE_P_NAME}</a></td>
            <!-- START BLOCK : SPEC_FIELD -->
            <td class="cart_title">{VALUE_SPEC}</td>
            <!-- END BLOCK : SPEC_FIELD -->
            <td>
                <select class="c_num" name="shop_value|{CART_P_ID}">
                    <!-- START BLOCK : TAG_CART_NUM -->
                    <option value="{VALUE_CART_NUM}" {VALUE_CART_CURRENT}>{VALUE_CART_NUM}</option>
                    <!-- END BLOCK : TAG_CART_NUM -->
                </select>
            </td>
            <td>{VALUE_P_SPECIAL_PRICE}</td>
            <td>{TAG_QUANTITY_DISCOUNT}</td>
            <td>{VALUE_P_SUBTOTAL_PRICE}</td>
            <td>
                <a href="#" class="cart-del" pid="{VALUE_P_ID}" {TAG_PS_ID} {TAG_C_ID}><img src="{TAG_THEME_PATH}ws-table-delete.gif"/></a>
            </td>
        </tr>
        <!-- END BLOCK : TAG_CART_LIST -->
        <!-- START BLOCK : TAG_CART_GIFT -->
        <tr class="cart_line">
            <td>{VALUE_P_SERIAL}</td>
            <td><center><a href="{VALUE_P_SMALL_IMG}" rel="lightbox"><img src="{VALUE_P_SMALL_IMG}" width="60" alt="{VALUE_P_SMALL_IMG_ALT}" border="0"/></a></center></td>
            <td class="title">{VALUE_P_NAME}</td>
            <!-- START BLOCK : GIFT_SPEC_FIELD -->
            <td class="spec">{VALUE_SPEC}</td>
            <!-- END BLOCK : GIFT_SPEC_FIELD -->
            <td>{VALUE_P_AMOUNT}</td>
            <td>{VALUE_P_SPECIAL_PRICE}</td>
            <td>{TAG_QUANTITY_DISCOUNT}</td>
            <td>{VALUE_P_SUBTOTAL_PRICE}</td>
            <td></td>
        </tr>
        <!-- END BLOCK : TAG_CART_GIFT -->
        <!-- START BLOCK : TAG_PLUS_FEE -->
        <tr>
            <td colspan="{CART_FIELDS_NUMS}"></td>
            <td><div align="right"> {MSG_PLUS_FEE}:&nbsp;</div></td>
            <td> <span id="s_charge_fee" >{VALUE_PLUS_FEE}</span></td>
            <td></td>
        </tr>
        <!-- END BLOCK : TAG_PLUS_FEE -->

        <!-- START BLOCK : TAG_PRICE_TOTAL -->
        <tr>
                <td colspan="{CART_FIELDS_NUMS}"></td>
            <td><div align="right">{MSG_SHIPPING_PRICE} :</div></td>
            <td><span id="ship_price">{VALUE_SHIPPING_PRICE}</span></td>
            <td></td>
        </tr> 
        <tr>
                <td colspan="{CART_FIELDS_NUMS}"></td>
            <td class="cart_red"><div align="right">{MSG_TOTAL} :</div></td>
            <td class="cart_red"><span id="total_str">{VALUE_TOTAL}</span></td>
            <td></td>
        </tr>
        <!-- END BLOCK : TAG_PRICE_TOTAL -->

    </table>

    <div class="cart_btn">
        <input type="button" class="shop_btn" value="繼續購物" onclick="cart_continue(myform,'{LINK_CONTINUE}');return false;" />
        <input type="button" id="continue" class="shop_btn" value="下一步" />
    </div>

    <br><br>

    <input type="button" name="ajax_btn" style="display: none;" />
    <input type="hidden" name="ajax_act" value="">
    <input type="hidden" name="ajax_del" value="">
    <input type="hidden" name="ajax_top" value="">
</form>
<!-- END BLOCK : TAG_CART_ZONE -->
<div id="additionalPurchaseZone">
    <h3>加購專區</h3>
    <!-- START BLOCK : CONDITION_LIST -->
    <div class="additionalPurchaseProducts">
        <h4> {price} 元加購區</h4>
        <div class="products_zone">
            <!-- START BLOCK : ADD_PROD -->
            <div class="products_list">
                <div class="products_pic">
                    <a href="{VALUE_P_LINK}"><img src="{VALUE_P_SMALL_IMG}" width="{VALUE_P_SMALL_IMG_W}" height="{VALUE_P_SMALL_IMG_H}"/></a>
                </div>
                <div class="products_title">
                    <a href="{VALUE_P_LINK}">{VALUE_P_NAME}</a>
                </div>
                <div class="products_price">
                    優惠價: <span class="sp">{VALUE_P_SPECIAL_PRICE}</span>&nbsp;&nbsp;加購價: <span class="ap">{VALUE_P_ADD_PRICE}</span>
                </div>
                <div class="operation"><a href="#" class="buymore" data-cid="{VALUE_C_ID}" data-pid="{VALUE_P_ID}">我要加購</a></div>
            </div>
            <!-- END BLOCK : ADD_PROD -->
            <div class="clear"></div>
        </div>
    </div>
    <!-- END BLOCK : CONDITION_LIST -->
    <script type="text/javascript">
        jQuery(function($){
            $(".buymore").click(function(evt){
                evt.preventDefault();
                var cid = $(this).attr('data-cid');
                var pid = $(this).attr('data-pid');
                var url = "{CART_PATH}?func=c_add&addpurchase=1";
                var data = "c_id="+cid+"&p_id="+pid;
                $.post(url,data,function(req){
                    if(req.code==1){
                        var NOW_TOP = parseInt(document.body.scrollTop, 10) ||parseInt(document.documentElement.scrollTop, 10);
                        var d = new Date();
                        location.href = '{TAG_ROOT_PATH}cart/?top='+ NOW_TOP+'&t=' + d.getTime();                        
                    }
                },'json');
            });
        });
    </script>
</div>
{VALUE_ST_SHOPPING_TERM}
{VALUE_ST_SHIPPING_TERM}
<div id="del-cart-dialog" title="刪除購物車項目" style="display:none">
    確定刪除嗎？
</div>

<script src="{TAG_ROOT_PATH}js/form_box.js" type="text/javascript"></script>
<script>
    jQuery(function($){
        $("input[name=ajax_btn]").form_box({
                NAME : "myform", // 表單名稱 (name)
                PHP : "{TAG_ROOT_PATH}cart/", // 傳送目標
                FUNC : "c_ajax", // func 附值
                AFTER : function() {  }, // 動作後執行擴充
        }, function(DATA){
                //callback
                var d = new Date();
                location.href = '{TAG_ROOT_PATH}cart/?top='+ DATA+'&t=' + d.getTime();
        });

//        $("input[name=c_del]").click(function(evt){
//                evt.preventDefault();
//                if(confirm("{TAG_DELETE_CHECK_STR}")){
//                        var DEL_SESS = $(this).attr("rel");
//                        $("input[name=ajax_del]").val(DEL_SESS);
//                        $("input[name=ajax_act]").val("c_del");
//
//                        $("input[name=ajax_btn]").click();
//                }else{
//                        return false;
//                }
//        });

        //----
        $(".c_num,input[name=o_payment_type]").change(function(){
                var NOW_TOP = parseInt(document.body.scrollTop, 10) ||parseInt(document.documentElement.scrollTop, 10);

                $("input[name=ajax_act]").val("c_mod");
                $("input[name=ajax_top]").val(NOW_TOP);
                $("input[name=ajax_btn]").click();
        });
        //前往結帳表單
        $("#continue").click(function(evt){
            evt.preventDefault();
            if($(":radio[name=o_payment_type]:checked").size()==0){
                alert("請先選擇付款方式");
                return false;
            }
            if($(".stocks_short").size()){
                alert("部分選購產品庫存不足，請調整購買數量");
                return false;
            }
            $(myform).trigger('submit');
        });
        
        if("{TAG_SCROLL_TOP}" != ""){
                var $BODY = (window.opera) ? (document.compatMode == "CSS1Compat" ? $('html') : $('body')) : $('html,body');
                $BODY.animate({ scrollTop: "{TAG_SCROLL_TOP}" }, 0);
        }
        
        $(".cart-del").click(function(evt){
            evt.preventDefault();
            $("#del-cart-dialog").data('activeRow',$(this).parents('tr'));
            $("#del-cart-dialog").data('p_id',$(this).attr('pid'));
            $("#del-cart-dialog").data('ps_id',$(this).attr('psid'));
            $("#del-cart-dialog").data('c_id',$(this).attr('cid'));
            $("#del-cart-dialog").dialog('open');
        });
        $("#del-cart-dialog").dialog({
            autoOpen:false,
            modal:true,
            width:400,
            height:180,
            buttons:{
                確定:function(){
                    var data = {
                        p_id: $("#del-cart-dialog").data('p_id'),
                        ps_id: $("#del-cart-dialog").data('ps_id'),
                        c_id: $("#del-cart-dialog").data('c_id'),
                        via_ajax:true
                    };
                    var dialog = $(this);
                    $.post("{CART_PATH}?func=c_del",data,function(req){
                        if(req.code==1){
                            var activeRow = $("#del-cart-dialog").data('activeRow');
                            var redirect = false;
                            activeRow.remove();
                            if($("tr.line").size()>0){
                                $("tr.line").each(function(idx,elm){
                                    $(elm).find("td.no").text(idx+1);
                                });
                            }
                            $("#del-cart-dialog").data('activeRow',null);
                            $("#del-cart-dialog").data('p_id',null);
                            $("#del-cart-dialog").data('ps_id',null);
                            $("#del-cart-dialog").data('c_id',null);
                            $("#sub_total_str").text(req.subtotal_price);
                            if(req.subtotal_price==0){
                                redirect = true;
                            }
                            dialog.dialog('close');
                            if(redirect){
                                location.replace('{TAG_ROOT_PATH}products.htm');
                            }else{
                                $("#ship_price").text(req.shipping_price);
                                $("#s_charge_fee").text(req.charge_fee);
                                $("#total_str").text(req.total_price);
                            }
                        }else{
                            alert('操作失敗!');
                        }
                    },'json');
                },
                取消:function(){
                    $(this).dialog('close');
                }
            }
        });        
    });
</script>