
    <!-- START BLOCK : MEMBER_LOGIN_FORM -->
    <table width="60%" border="0" align="center" cellpadding="4" cellspacing="1" >
        <tr>
            <td>
              {MSG_LOGIN_NOTICE1}</td>
            <td>
         </tr>
    </table>
    <form name="myform" method="post" action="{TAG_ROOT_PATH}login.php?func=check_data" id="formID" class="formular">
        <div class="member_login">
        <table>
          <tr>
            <td class="cart_title_icon">{MSG_MEMBER_LOGIN}</td>
          </tr>
          <tr>
            <td><input class="ipt1 iptbox" name="mm_account" id="mm_account" class="validate[required]" type="text" placeholder="{MSG_LOGIN_ACCOUNT}"></td>
          </tr>
          <tr>
            <td><input class="ipt1 iptbox" name="mm_password" id="mm_password" class="validate[required]" type="password" placeholder="{MSG_LOGIN_PASSWORD}"></td>
          </tr>
          <tr>
            <td>
                <input class="ipt2 iptbox" style="float: left;" name="security" maxlength="4" size="4" type="text" placeholder="{MSG_LOGIN_SECURITY}"> <div class="security_pic">{TAG_IMAGE_SECURITY_IMAGE}</div><br/><font color="#ff0000">{MSG_ERROR_MESSAGE}</font>             
            </td>
          </tr>
          <tr>
              <td class="fg_pw">
              <a href="{TAG_ROOT_PATH}member.php?func=m_forget">{MSG_LOGIN_FORGOT_PASSWORD}</a>
              <input type="button" class="shop_btn" value="{MSG_LOGIN_BTN}" onclick="myform.submit();return false;" />
              </td>
          </tr>
        </table>
        </div>



        <div class="login_first">
        <table>
          <tr>
            <td class="cart_title_icon">{TAG_FS_SHOPPING}</td>
          </tr>
          <tr>
            <td><a href="#" id="first"><div class="firstbuy_btn"><span>{TAG_LOGIN_MESSAGE1}</span><br>{TAG_LOGIN_MESSAGE2}</div></a></td>
          </tr>
        </table>
        </div>





<!--      <table width="90%" border="0" align="center" cellpadding="4" cellspacing="1" class="inquiry_table">
            <tr class="altrow2">
                <td colspan="2">
                        <input type="submit" name="login" value="{MSG_LOGIN_BTN}">
                        <input type="button" name="first" value="{MSG_FIRST_BTN}">
                </td>
            </tr>
        </table>-->
        <input type="hidden" name="callback" value="1">
        <input type="hidden" name="rp" value="1">
    </form>

    <script>
        jQuery(function($){
            $(function(){
                    $("a[id=first]").click(function(evt){
                        evt.preventDefault();
                        location.href = '?func=c_finish&first=1';
                    });
            });
        });
    </script>
    <!-- END BLOCK : MEMBER_LOGIN_FORM -->
    
    
    <!-- START BLOCK : TAG_CART_ZONE -->
        <div class="cart_step"><img src="{TAG_THEME_PATH}cart_step2.png" /></div>

        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="cart_table">
            <tr>
                <th width="5%"> No.</th>
                <th width="10%"> {MSG_PRODUCT_IMAGE}</th>
                <th width=""> {MSG_PRODUCT}</th>
                <!-- START BLOCK : SPEC_TITLE -->
                <th width="15%"> {MSG_SPEC}</th>
                <!-- END BLOCK : SPEC_TITLE -->                
                <th width="10%"> {MSG_AMOUNT}</th>
                <th width="10%"> {MSG_PRODUCT_PRICE}{VALUE_P_DISCOUNT}</th>
                <th width="10%"> {MSG_DISCOUNT}</th>
                <th width="10%"> {MSG_SUBTOTAL}</th>
            </tr>
            <!-- START BLOCK : TAG_CART_LIST -->
            <tr class="cart_line">
                <td>{VALUE_P_SERIAL}</td>
                <td><a href="{VALUE_P_LINK}" target="_blank"><img src="{VALUE_P_SMALL_IMG}" width="40" alt="{VALUE_P_NAME}" border="0"/></a></td>
                <td class="cart_title"><a href="{VALUE_P_LINK}" target="_blank">{VALUE_P_NAME}</a></td>
                <!-- START BLOCK : SPEC_FIELD -->
                <td class="cart_title">{VALUE_SPEC}</td>
                <!-- END BLOCK : SPEC_FIELD -->                
                <td>{VALUE_P_AMOUNT}</td>
                <td>{VALUE_P_SPECIAL_PRICE}</td>
                <td>{TAG_QUANTITY_DISCOUNT}</td>
                <td>{VALUE_P_SUBTOTAL_PRICE}</td>          
            </tr>
            <!-- END BLOCK : TAG_CART_LIST -->
            <!-- START BLOCK : TAG_CART_GIFT -->
            <tr class="cart_line">
                <td>{VALUE_P_SERIAL}</td>
                <td><a href="{VALUE_P_SMALL_IMG}" rel="lightbox"><img src="{VALUE_P_SMALL_IMG}" width="40" alt="{VALUE_P_SMALL_IMG_ALT}" border="0"/></a></td>
                <td class="cart_title">{VALUE_P_NAME}</td>
                <!-- START BLOCK : GIFT_SPEC_FIELD -->
                <td class="cart_title">{VALUE_SPEC}</td>
                <!-- END BLOCK : GIFT_SPEC_FIELD -->
                <td>{VALUE_P_AMOUNT}</td>
                <td>{VALUE_P_SPECIAL_PRICE}</td>
                <td>{TAG_QUANTITY_DISCOUNT}</td>
                <td>{VALUE_P_SUBTOTAL_PRICE}</td>
            </tr>
            <!-- END BLOCK : TAG_CART_GIFT -->            
            <!-- START BLOCK : TAG_PLUS_FEE -->
            <tr>
            	<td colspan="{CART_FIELDS_NUMS}"></td>
                <td><div align="right">{MSG_PLUS_FEE}:&nbsp;</div></td>
                <td> {VALUE_PLUS_FEE}</td>
            </tr>
            <!-- END BLOCK : TAG_PLUS_FEE -->
            <!-- START BLOCK : TAG_PRICE_TOTAL -->
            <tr>
            	<td colspan="{CART_FIELDS_NUMS}"></td>
                <td><div align="right">{MSG_SHIPPING_PRICE} :</div></td>
                <td>{VALUE_SHIPPING_PRICE}</td>
            </tr>
            <tr>
            	<td colspan="{CART_FIELDS_NUMS}"></td>
                <td class="cart_red"><div align="right">{MSG_TOTAL} :</div></td>
                <td class="cart_red">{VALUE_TOTAL}</td>
            </tr>
            <!-- END BLOCK : TAG_PRICE_TOTAL -->
        </table>
    <!-- END BLOCK : TAG_CART_ZONE -->
    
<br /><br />

<!--<div class="cart_title_icon2">信用卡付款</div>
<p class="cart_credit">※ 信用卡資訊將會以 SSL 256 bits 加密後，送至刷卡單位確認</p>


<div class="cart_order_info_frame">
<table class="cart_order_info">
<tr>
   <th>信用卡卡號</th>
   <td><input class="ipt3"> - <input class="ipt3"> - <input class="ipt3"> - <input class="ipt3"></td>
</tr>
<tr>
   <th>有效期限</th>
   <td><select><option>01</option></select> 月 <select><option>2014</option></select> 年</td>
</tr>
<tr>
   <th>背面後三碼</th>
   <td><input class="ipt3"></td>
</tr>
</table>
</div>

<br /><br />-->


    <!-- START BLOCK : MEMBER_DATA_FORM -->
	<form name="myform" method="post" action="?func=c_preview" id="formID" class="formular">
            <div class="cart_title_icon2">訂購人資訊{MSG_MEMBER_INFO}</div>

            <div class="cart_order_info_frame">
            <table class="cart_order_info">
            <!-- START BLOCK : PAYMENT_TYPE -->
            <tr>
                <th>{MSG_PAYMENT_TYPE}</th>
                <td>{VALUE_PAYMENT_TYPE}</td>
            </tr>
            <!-- END BLOCK : PAYMENT_TYPE -->
            <!-- START BLOCK : TAG_NEW_MEMBER_REGIST -->
            <tr>
            	<th><span class="red">*</span>{MSG_ACCOUNT}(e-mail)</th>
            	<td><input type="text" id="m_account" class="validate[required,custom[email],ajax[ajaxUser]] ipt1" name="m_account" value="{VALUE_M_ACCOUNT}" ><span class="cart_red">※ 訂單成立後，電子郵件即為您的會員帳號</span>	</td>
            </tr>
            <tr>
            	<th><span class="red">*</span>{MSG_PASSWORD}</th>
            	<td><input type="password" id="m_password" class="validate[required] ipt1" name="m_password" value="{VALUE_M_PASSWORD}" ><span class="cart_red">※ 請熟記密碼，此為往後登入的會員密碼，並請定期更換密碼</span></td>
            </tr>
            <tr>
            	<th><span class="red">*</span>{MSG_VALID_PASSWORD}</th>
            	<td><input type="password" id="v_password" class="validate[required,confirm[m_password]] ipt1" name="v_password" value="{VALUE_M_PASSWORD}" ></td>
            </tr>
            <!-- END BLOCK : TAG_NEW_MEMBER_REGIST -->
         
            <tr>
              <th width="70">{MSG_COMPANY_NAME}</th>
              <td><input name="m_company_name" value="{VALUE_M_COMPANY_NAME}" class=" ipt1" type="text" /></td>
            </tr>
            <tr>
              <th><span class="red">*</span>{MSG_CONTACT_PERSON}</th>
              <td>
              	 {TAG_CONTACT_WITH_S}
              </td>
            </tr>
            <!-- START BLOCK : SELECT_COUNTRY -->
            <tr>
                <th><span class="red">*</span>{MSG_COUNTRY}</th>
                <td><select type="select-one" name="m_country" id="m_country" class="validate[required]">
                    {TAG_SELECT_OPTION_COUNTRY}
                    </select></td>
            </tr>
            <!-- END BLOCK : SELECT_COUNTRY -->
            <!-- START BLOCK : SINGLE_ADDRESS -->
            <tr>
                <th><font color="#ff0000">*</font>{MSG_ADDRESS}</th>
                <td>
                    <input name="o_address" id="o_address" type="text" class="validate[required] ipt2" value="{VALUE_M_ADDRESS}" >
                </td>
            </tr>
            <!-- END BLOCK : SINGLE_ADDRESS -->
            <!-- START BLOCK : TW_ADDRESS -->
            <tr id="m_zone_row">
                <th><font color="#ff0000">*</font>{MSG_ADDRESS}</th>
                <td>
                    <select name="o_city" id="o_city"></select>
                    <select name="o_area" id="o_area"></select>  
                    <input name="o_address" id="o_address" class="validate[required]" type="text"   value="{VALUE_M_ADDRESS}" style="width:98%" >
                    <script type="text/javascript">
                       //設定城市挑選器
                       jQuery(function($){
                            $("#m_zone_row").zone_box({
                                    MAIN_ID : "o_city", // 縣市元素 ID (select 元素)
                                    SUB_ID : "o_area", // 區域元素 ID (select 元素)
                                    ZIP_ID : "o_zip", // 郵遞區號 ID (input 元素)
                                    ZIP_GET : "", // 輸入郵遞區號
                            });
                            $("#o_zip").trigger('keyup');
                       });
                    </script>
                </td>
            </tr>
            <!-- END BLOCK : TW_ADDRESS -->            
            <tr>
                <th>{MSG_ZIP}</th>
                <td>
                    <input id="o_zip" name="o_zip"  type="text" value="{VALUE_M_ZIP}" size="10" ></td>
            </tr>
            <tr>
                <th><span class="red">*</span>{MSG_TEL}</th>
                <td>
                    <input name="m_tel" type="text" id="m_tel" class="validate[required]  ipt1" value="{VALUE_M_TEL}" >
                    </td>
            </tr>
            <tr>
                <th>{MSG_FAX}</th>
                <td>
                    <input name="m_fax" type="text" class="ipt1" value="{VALUE_M_FAX}" >
                    </td>
            </tr>
            <tr>
                <th><span class="red">*</span>{MSG_CELLPHONE}</th>
                <td>
                    <input name="m_cellphone" id="m_cellphone" class="validate[required] ipt1" type="text" value="{VALUE_M_CELLPHONE}" >
                    </td>
            </tr>
            <tr>
                <th>
                    <span class="red">*</span>e-mail</th>
                <td>
                    <input name="m_email" type="text" id="m_email" class="validate[required,custom[email]]  ipt1" value="{VALUE_M_EMAIL}" >
                    </td>
            </tr>
            <tr>
              <th>{MSG_CONTENT}</th>
              <td>
                 <textarea name="content" cols="50" class="ipt2" rows="12" ></textarea>
              </td>
            </tr>
            </table>
            </div>

            <br /><br />
            
            <!-- START BLOCK : TAG_ADDRESSEE_BLOCK -->
            <div class="cart_title_icon2">收件人資訊{MSG_ADDRESSEE}</div>
            <p class="cart_aswell"><label><input type="checkbox" name="fsb_same" value="1">{MSG_SAM}</label></p>

            <div class="cart_order_info_frame">
            <table class="cart_order_info">
                <tr>
                    <th width="70">{MSG_ARRIVAL_TIME}</th>
                    <td>
                                            {MSG_YEAR_WORD} : <select class="date_picker" name="o_arrival_time[]" rel="y"></select>&nbsp;&nbsp;
                                            {MSG_MONTH_WORD} : <select class="date_picker" name="o_arrival_time[]" rel="m"></select>&nbsp;&nbsp;
                                            {MSG_DAY_WORD} : <select class="date_picker" name="o_arrival_time[]" rel="d"></select>&nbsp;&nbsp;
                                            <span id="date_week"></span>
                    </td>
                </tr>
                <tr>
                    <th><span class="red">*</span>{MSG_MEMBER_NAME}</th>
                    <td>
                            {TAG_CONTACTR_WITH_S}
                    </td>
                </tr>
                <tr>
                    <th><span class="red">*</span>{MSG_TEL}</th>
                    <td>
                            <input type="text" name="o_add_tel" id="o_add_tel" class="validate[required] ipt1" value="">
                    </td>
                </tr>
                <tr>
                    <th><span class="red">*</span>{MSG_CELLPHONE}</th>
                    <td>
                            <input type="text" name="o_add_cellphone" id="o_add_cellphone" class="validate[required] ipt1" value="">
                    </td>
                </tr>
                <!-- START BLOCK : SINGLE_ADDRESS_RECI -->
                <tr>
                    <th><span class="red">*</span>{MSG_ADDRESS}</th>
                    <td>
                            <input type="text" name="o_add_address" id="o_add_address" class="validate[required] ipt2" value="">
                    </td>
                </tr>
                <!-- END BLOCK : SINGLE_ADDRESS_RECI -->
                <!-- START BLOCK : TW_ADDRESS_RECI -->
                <tr id="m_reci_zone_row">
                    <th><font color="#ff0000">*</font>{MSG_ADDRESS}</th>
                    <td>
                        <select name="o_add_city" id="o_add_city"></select>
                        <select name="o_add_area" id="o_add_area"></select><br/>
                        <input type="text" name="o_add_address" id="o_add_address" class="validate[required] ipt2" value="">
                        <script type="text/javascript">
                            jQuery(function($){
                                $("#m_reci_zone_row").zone_box({
                                        MAIN_ID : "o_add_city", // 縣市元素 ID (select 元素)
                                        SUB_ID : "o_add_area", // 區域元素 ID (select 元素)
                                        ZIP_ID : "o_add_zip", // 郵遞區號 ID (input 元素)
                                        ZIP_GET : "", // 輸入郵遞區號
                                });
                                $("#o_add_zip").trigger('keyup');
                            });
                        </script>
                    </td>
                </tr>
                <!-- END BLOCK : TW_ADDRESS_RECI -->                
                <tr>
                    <th>{MSG_ZIP}</th>
                    <td>
                        <input name="o_add_zip" id="o_add_zip" type="text"   value=""  size="5"  />
                    </td>
                </tr>
                <tr>
                    <th>e-mail</th>
                    <td>
                            <input type="text" name="o_add_mail" class="ipt1" value="">
                    </td>
                </tr>
            </table>
            </div>

            <br /><br /> 
            
            <div class="cart_title_icon2">發票資訊{MSG_INVOICE_INFO}</div>
            <table class="cart_order_info">
            <tr>
            	<td colspan="2">
                    <!-- START BLOCK : INVOICE_TYPE_LIST -->
                    <input type="radio" name="o_invoice_type" id="o_invoice_type_{VALUE_INVOICE_ID}" class="validate[required] v_mid" value="{VALUE_INVOICE_ID}" {TAG_CHECKED}/><label for="o_invoice_type_{VALUE_INVOICE_ID}">{VALUE_INVOICE_LABEL}</label>
                    <!-- END BLOCK : INVOICE_TYPE_LIST -->
            	</td>
            </tr>
            <tr class="tri_block" style="display: none;">
            	<th>{MSG_COMPANY_NAME}</th>
            	<td>
            		<input type="text" name="o_invoice_name" class="ipt1" value="">
            	</td>
            </tr>
            <tr class="tri_block" style="display: none;">
            	<th>{MSG_VAT}</th>
            	<td>
            		<input type="text" name="o_invoice_vat" class="ipt1" value="">
            	</td>
            </tr>
            <tr>
            	<td colspan="2">
            		<textarea rows="5" cols="40" name="o_invoice_text"></textarea>
            	</td>
            </tr>            
            </table>


            <br /><br />      
            
            <!-- END BLOCK : TAG_ADDRESSEE_BLOCK -->
            

            <div class="cart_btn">
            <input type="button" class="shop_btn" id="gotopreview" value="{MSG_NEXT_STEP}>>" />
            </div>

            <br /><br />
            
	</form>
    <!-- END BLOCK : MEMBER_DATA_FORM -->
    
    
	<script>
            jQuery(function($){
		function week_get(){
			var DATE_GET = new Array();
			$(".date_picker").each(function(KEY){
				DATE_GET[KEY] = $(this).val();
			});
			
			var DATE_STR = DATE_GET[0] +'-'+ DATE_GET[1] +'-'+ DATE_GET[2];
			var THY_DAY = new Date(DATE_STR);
			var THY_WEEK = THY_DAY.getDay();
			
			switch(THY_WEEK){
				default:
					var WEEK_STR = '日';
				break;
				case 1:
					var WEEK_STR = '一';
				break;
				case 2:
					var WEEK_STR = '二';
				break;
				case 3:
					var WEEK_STR = '三';
				break;
				case 4:
					var WEEK_STR = '四';
				break;
				case 5:
					var WEEK_STR = '五';
				break;
				case 6:
					var WEEK_STR = '六';
				break;
			}
			
			$("#date_week").html('星期'+ WEEK_STR);
		}
		
		$(function(){
			$(".altrow_table tr").each(function(KEY){
				if(KEY % 2 == 0){
					$(this).addClass("altrow");
				}
			});
			
			$(".red").css({ "color":"red" });
			
			//----
			$(":checkbox[name=fsb_same]").click(function(){
				var FSB_VAL = $(this)[0].checked;
				if(FSB_VAL){
					var FSB_FNAME = $("input[name=m_fname]").val();
					var FSB_LNAME = $("input[name=m_lname]").val();
					var FSB_CONTACT_S = $("select[name=m_contact_s]").val();
					var FSB_TEL = $("input[name=m_tel]").val();
					var FSB_CELLPHONE = $("input[name=m_cellphone]").val();
					var FSB_ZIP = $("#o_zip").val();
                                        var FSB_ADDRESS = $("input[name=o_address]").val();
					var FSB_MAIL = $("input[name=m_email]").val();
					
					$("input[name=m_reci_fname]").val(FSB_FNAME);
					$("input[name=m_reci_lname]").val(FSB_LNAME);
					$("select[name=m_reci_contact_s]").val(FSB_CONTACT_S);
					$("input[name=o_add_tel]").val(FSB_TEL);
					$("input[name=o_add_cellphone]").val(FSB_CELLPHONE);
					$("input[name=o_add_address]").val(FSB_ADDRESS);
					$("input[name=o_add_mail]").val(FSB_MAIL);
					$("input[name=o_add_zip]").val(FSB_ZIP);
                                        $("#o_add_zip").trigger('keyup');
				}else{
					$("input[name=m_reci_fname]").val('');
					$("input[name=m_reci_lname]").val('');
					$("select[name=m_reci_contact_s]").val('');
					$("input[name=o_add_tel]").val("");
					$("input[name=o_add_cellphone]").val("");
					$("input[name=o_add_address]").val("");
					$("input[name=o_add_mail]").val("");
                                        $("#o_add_city").val('').trigger('change');
					$("input[name=o_add_zip]").val("");
				}
			});
			
			//----
			$("input[name=o_invoice_type]").change(function(){
				var TYPE_VAL = $(this).val();
				
				if(TYPE_VAL == 2){
					$(".tri_block").hide();
				}else{
					$(".tri_block").show();
				}
			});
			
			//----
			$(".date_picker").date_box({
				SWITCH : 0, // 功能選擇 , 0 => 綜合功能 , 1 => 年 , 2 => 月 , 3 => 日
				SET : "{VALUE_ARRIVAL_START}", // 預設日期, 格式範例 : 1900-01-01,
				RANGE : "{VALUE_ARRIVAL_RANGE}", // 限制範圍,指定時間往後計算天數
			});
			
			week_get();
			$(".date_picker").change(function(){
				week_get();
			});
			
			//----
			
			//----
			$(document).get_box({
				CLICK : false, // 按鍵後才啟動功能 , true => 按鍵啟動  , false => 直接啟動
				CALL : "", // key 值
				PHP : "{TAG_ROOT_PATH}cart/", // 取值目標
				FUNC : "c_check", // func 附值
				AFTER : function() {  }, // 動作後執行擴充
			}, function(DATA){
				//callback
				if(!DATA){
					location.href = '{TAG_ROOT_PATH}';
				}
			});
			$("#gotopreview").click(function(){
                            if($(":radio[name=o_invoice_type]:checked").val()==3 && ($("input[name=o_invoice_name]").val()=="" || $("input[name=o_invoice_vat]").val()=="")){
                                alert("{MSG_NEED_EXTRA_VAT_INFO}");
                                return false;
                            }
                            $(myform).trigger('submit');
                        });
			//----
			{MSG_PAYMENT_ALERT}
		});
            });
	</script>
