<form  name="myform" action="?func=c_finish" method="post">
    <div>

    <div class="cart_step"><img src="{TAG_THEME_PATH}cart_step1.png" /></div>
    <div id="nodata">{MSG_CART_EMPTY}</div>
    <!--<div class="cart_title_icon">付款方式</div>

    <div class="cart_pay">
    <table width="100%">
        <tr>
          <td>超商取貨付款 - 7-11</td>
          <td width="70" class="cart_pay_radio"><input type="radio" ></td>
          <td>7-11取貨付款，將酌收50元物流費。</td>
        </tr>
        <tr>
          <td>宅配貨到付款</td>
          <td class="cart_pay_radio"><input type="radio" ></td>
          <td>宅配貨到付款，將酌收50元物流費。（「貨到付款」服務僅限台灣本島）。</td>
        </tr>
        <tr>
          <td>信用卡線上刷卡</td>
          <td class="cart_pay_radio"><input type="radio" ></td>
          <td>信用卡宅配到府，將酌收50元物流費。( 僅限台灣地區發行之VISA、Master Card、JCB信用卡 )</td>
        </tr>
    </table>
    </div>-->
    </div>

    <br>

    <!-- START BLOCK : PAYMENT_TYPE -->
    <div class="cart_title_icon">{MSG_PAYMENT_TYPE}</div>
        <!-- START BLOCK : PAYMENT_TYPE_ITEMS -->
        <label><input type="radio" name="o_payment_type" value="{VALUE_PAYMENT_TYPE}" {VALUE_PAYMENT_CURRENT}>{VALUE_PAYMENT_TYPE_STR}</label>&nbsp;&nbsp;&nbsp;
        <!-- END BLOCK : PAYMENT_TYPE_ITEMS -->
    <br><br>
    <!-- END BLOCK : PAYMENT_TYPE -->


    <!-- START BLOCK : TAG_CART_ZONE -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="cart_table"> 
        <tr>
            <th width="5%"> No.</th>
            <th width="10%"> {MSG_PRODUCT_IMAGE}</th>
            <th width="30%"> {MSG_PRODUCT}</th>
            <th width="10%"> {MSG_AMOUNT}</th>
            <!-- START BLOCK : TAG_PRICE_TH -->
            <th width="20%"> {MSG_PRODUCT_SPECIAL_PRICE}{VALUE_P_DISCOUNT}</th>
            <th width="15%"> {MSG_SUBTOTAL}</th>
            <!-- END BLOCK : TAG_PRICE_TH -->
            <th width="10%"> {MSG_DEL}</th>
        </tr>

        <!-- START BLOCK : TAG_CART_LIST -->
        <tr class="cart_line">
            <td>{VALUE_P_SERIAL}</td>
            <td><center><a href="{VALUE_P_SMALL_IMG}" rel="lightbox"><img src="{VALUE_P_SMALL_IMG}" width="60" alt="{VALUE_P_NAME}" border="0"/></a></center></td>
            <td class="cart_title"><a href="{VALUE_P_LINK}" target="_blank">{VALUE_P_NAME}</a></td>
            <td>
                <select class="c_num" name="shop_value|{VALUE_P_SESS}">
                        <!-- START BLOCK : TAG_CART_NUM -->
                        <option value="{VALUE_CART_NUM}" {VALUE_CART_CURRENT}>{VALUE_CART_NUM}</option>
                        <!-- END BLOCK : TAG_CART_NUM -->
                </select>
            </td>
            <!-- START BLOCK : TAG_PRICE_TD -->
            <td>{VALUE_P_SPECIAL_PRICE}</td>
            <td>{VALUE_P_SUBTOTAL_PRICE}</td>
            <!-- END BLOCK : TAG_PRICE_TD -->
            <td>
                <a href="#"><input name="c_del" type="button" value="" style="cursor: pointer; border: 0; padding: 0; width: 13px; height: 14px; background: url({TAG_THEME_PATH}ws-table-delete.gif);" rel="{VALUE_P_SESS}"></a>
            </td>
        </tr>
        <!-- END BLOCK : TAG_CART_LIST -->

        <!-- START BLOCK : TAG_PLUS_FEE -->
        <tr>
            <td colspan="5"><div align="right"> {MSG_PLUS_FEE}:&nbsp;</div></td>
            <td colspan="2"> {VALUE_PLUS_FEE}</td>
        </tr>
        <!-- END BLOCK : TAG_PLUS_FEE -->

        <!-- START BLOCK : TAG_PRICE_TOTAL -->
        <tr>
                <td colspan="4"></td>
            <td><div align="right">{MSG_SHIPPING_PRICE} :</div></td>
            <td>{VALUE_SHIPPING_PRICE}</td>
            <td></td>
        </tr> 
        <tr>
                <td colspan="4"></td>
            <td class="cart_red"><div align="right">{MSG_TOTAL} :</div></td>
            <td class="cart_red">{VALUE_TOTAL}</td>
            <td></td>
        </tr>
        <!-- END BLOCK : TAG_PRICE_TOTAL -->

    </table>

    <div class="cart_btn">
        <input type="image" src="{TAG_THEME_PATH}btn_prev.png" onclick="cart_continue(myform,'{LINK_CONTINUE}');return false;" />
        <a href="#" id="continue"><img src="{TAG_THEME_PATH}btn_next.png" /></a>
    </div>

    <br><br>

    <input type="button" name="ajax_btn" style="display: none;" />
    <input type="hidden" name="ajax_act" value="">
    <input type="hidden" name="ajax_del" value="">
    <input type="hidden" name="ajax_top" value="">
</form>
<!-- END BLOCK : TAG_CART_ZONE -->

{VALUE_ST_SHOPPING_TERM}
{VALUE_ST_SHIPPING_TERM}


<script src="{TAG_ROOT_PATH}js/form_box.js" type="text/javascript"></script>
<script>
    jQuery(function($){
        $("input[name=ajax_btn]").form_box({
                NAME : "myform", // 表單名稱 (name)
                PHP : "{TAG_ROOT_PATH}cart/", // 傳送目標
                FUNC : "c_ajax", // func 附值
                AFTER : function() {  }, // 動作後執行擴充
        }, function(DATA){
                //callback
                location.href = '{TAG_ROOT_PATH}cart/?top='+ DATA;
        });

        $("input[name=c_del]").click(function(evt){
                evt.preventDefault();
                if(confirm("{TAG_DELETE_CHECK_STR}")){
                        var DEL_SESS = $(this).attr("rel");
                        $("input[name=ajax_del]").val(DEL_SESS);
                        $("input[name=ajax_act]").val("c_del");

                        $("input[name=ajax_btn]").click();
                }else{
                        return false;
                }
        });

        //----
        $(".c_num,input[name=o_payment_type]").change(function(){
                var NOW_TOP = parseInt(document.body.scrollTop, 10) ||parseInt(document.documentElement.scrollTop, 10);

                $("input[name=ajax_act]").val("c_mod");
                $("input[name=ajax_top]").val(NOW_TOP);
                $("input[name=ajax_btn]").click();
        });
        //前往結帳表單
        $("#continue").click(function(evt){
            evt.preventDefault();
            if($(":radio[name=o_payment_type]:checked").size()==0){
                alert("請先選擇付款方式");
                return false;
            }
            $(myform).trigger('submit');
        });
        
        if("{TAG_SCROLL_TOP}" != ""){
                var $BODY = (window.opera) ? (document.compatMode == "CSS1Compat" ? $('html') : $('body')) : $('html,body');
                $BODY.animate({ scrollTop: "{TAG_SCROLL_TOP}" }, 0);
        }
    });
</script>