<!-- INCLUDE BLOCK : HEADER -->
<div id="man_zone">
<h1>訂單處理</h1>
<form name="myform" method="post" action="admin.php?func=o_replace"  class="formular" id="formID">
    <table width="92%" border="0" align="center" cellpadding="0" cellspacing="0" class="formtable">
        <tr>
            <th colspan="2" class="table_title_color">訂單資訊</th>
        </tr>        
        <tr>
            <th width="15%">訂單編號:</th>
            <td width="85%">
                {VALUE_O_ID}
            </td>
        </tr>
        <tr>
            <th>訂單狀態:</th>
            <td>
                <input type="hidden" name="origin_status" id="origin_status" value="{ORIGIN_STATUS}">                
            <!-- START BLOCK : ORDER_STATUS_LIST -->
                <input type="radio" name="o_status" value="{VALUE_O_STATUS}" {TAG_STATUS_CHECKED} {TAG_DISABLED}><span class="{STATUS_CLASS}">{VALUE_O_STATUS_SUBJECT}</span>&nbsp;&nbsp;{TAG_BR}
            <!-- END BLOCK : ORDER_STATUS_LIST -->
                <input type="button" id="changeorder" value="{MSG_MODE}"/>
                <script type="text/javascript">
                    jQuery(function($){
                        $("#changeorder").click(function(evt){
                            if($(":radio:checked").val()!=$("#origin_status").val()){
                                if($(":radio:checked").val()>=3){
                                    if(!confirm("訂單狀態更改後無法再修改，確定繼續嗎？")){
                                        return false;
                                    }
                                }
                            }
                            $(myform).trigger('submit');
                        });
                    });
                </script>                
            </td>
        </tr>
        <tr>
            <th>付款狀態:</th>
            <td>
                <!-- START BLOCK : PAID_STATUS_RADIO -->
                <label><input type="radio" name="o_paid" value="{VALUE_PAID_STATUS_KEY}" {CHECKED}/>{VALUE_PAID_STATUS_NAME}</label>
                <!-- END BLOCK : PAID_STATUS_RADIO -->
            </td>
        </tr>
        <tr>
            <th>付款方式:</th>
            <td>
                {VALUE_O_PAYMENT_TYPE}
            </td>
        </tr>
        <!-- START BLOCK : ATM_LAST5 -->
        <tr>
            <th>匯款後五碼</th>
            <td>{VALUE_O_ATM_LAST5}</td>
        </tr>        
        <!-- END BLOCK : ATM_LAST5 -->
        <tr>
            <th>到貨日期</th>
            <td>{VALUE_O_ARRIVAL_TIME}</td>
        </tr>
        <tr>
            <th>內容:</th>
            <td>
                &nbsp;{VALUE_O_CONTENT}</td>
        </tr>              
        <!-- START BLOCK : NOTCART_INFO -->
        <tr>
            <th colspan="2" class="table_title_color">非信用卡付款資訊</th>
        </tr> 
        <tr>
            <th>{Msg_RtnCode}</th>
            <td>{Val_RtnCode}</td>
        </tr>         
        <tr>
            <th>{Msg_RtnMsg}</th>
            <td>{Val_RtnMsg}</td>
        </tr>         
        <tr>
            <th>{Msg_TradeNo}</th>
            <td>{Val_TradeNo}</td>
        </tr>          
        <tr>
            <th>{Msg_TradeAmt}</th>
            <td>{Val_TradeAmt}</td>
        </tr>           
        <tr>
            <th>{Msg_PaymentType}</th>
            <td>{Val_PaymentType}</td>
        </tr>          
        <tr>
            <th>{Msg_TradeDate}</th>
            <td>{Val_TradeDate}</td>
        </tr>                 
        <tr>
            <th>{Msg_BankCode}</th>
            <td>{Val_BankCode}</td>
        </tr>                 
        <tr>
            <th>{Msg_vAccount}</th>
            <td>{Val_vAccount}</td>
        </tr>                 
        <tr>
            <th>{Msg_PaymentNo}</th>
            <td>{Val_PaymentNo}</td>
        </tr>                 
        <tr>
            <th>{Msg_Barcode1}</th>
            <td>{Val_Barcode1}</td>
        </tr>                 
        <tr>
            <th>{Msg_Barcode2}</th>
            <td>{Val_Barcode2}</td>
        </tr>                 
        <tr>
            <th>{Msg_Barcode3}</th>
            <td>{Val_Barcode3}</td>
        </tr>                 
        <tr>
            <th>{Msg_ExpireDate}</th>
            <td>{Val_ExpireDate}</td>
        </tr>                 
        <!-- END BLOCK : NOTCART_INFO -->
        <!-- START BLOCK : CART_INFO -->
        <tr>
            <th colspan="2" class="table_title_color">實際付款資訊</th>
        </tr> 
        <tr>
            <th>{Msg_RtnCode}</th>
            <td>{Val_RtnCode}</td>
        </tr>         
        <tr>
            <th>{Msg_RtnMsg}</th>
            <td>{Val_RtnMsg}</td>
        </tr>         
        <tr>
            <th>{Msg_TradeNo}</th>
            <td>{Val_TradeNo}</td>
        </tr>         
        <tr>
            <th>{Msg_TradeAmt}</th>
            <td>{Val_TradeAmt}</td>
        </tr>         
        <tr>
            <th>{Msg_PaymentDate}</th>
            <td>{Val_PaymentDate}</td>
        </tr>         
        <tr>
            <th>{Msg_PaymentType}</th>
            <td>{Val_PaymentType}</td>
        </tr>         
        <tr>
            <th>{Msg_PaymentTypeChargeFee}</th>
            <td>{Val_PaymentTypeChargeFee}</td>
        </tr>         
        <tr>
            <th>{Msg_TradeDate}</th>
            <td>{Val_TradeDate}</td>
        </tr>         
        <!-- END BLOCK : CART_INFO -->   
        <tr>
            <th colspan="2" class="table_title_color">發票資訊</th>
        </tr>
        <tr>
            <th>發票類型:</th>
            <td>
                <!-- START BLOCK : INVOICE_TYPE_RADIO -->
                <label><input  type="radio" name="o_invoice_type" value="{VALUE_INVOICE_TYPE_KEY}" {CHECKED}>{VALUE_INVOICE_TYPE_NAME}</label>
                <!-- END BLOCK : INVOICE_TYPE_RADIO -->
            </td>
        </tr>
        <tr>
            <th>公司:</th>
            <td>
                <input type="text" name="o_invoice_name" value="{VALUE_O_INVOICE_NAME}"/></td>
        </tr>
        <tr>
            <th>統一編號:</th>
            <td>
                <input type="text" name="o_invoice_vat" value="{VALUE_O_INVOICE_VAT}" maxlength="8"/></td>
        </tr>
        <tr>
            <th>發票文字</th>
            <td>
                <textarea type="text" name="o_invoice_text" rows="5" cols="60">{VALUE_O_INVOICE_TEXT}</textarea></td>
        </tr>
        <tr>
            <th colspan="2" class="table_title_color">訂購者資訊</th>
        </tr>
        <tr>
            <th>姓名:</th>
            <td>
                {VALUE_O_NAME}</td>
        </tr>
        <tr>
            <th>公司名稱:</th>
            <td>
                {VALUE_O_COMPANY_NAME}</td>
        </tr>
        <tr>
            <th>電話:</th>
            <td>
                {VALUE_O_TEL}</td>
        </tr>
        <tr>
            <th>傳真:</th>
            <td>
                {VALUE_O_FAX}</td>
        </tr>
        <tr>
            <th>手機:</th>
            <td>
                {VALUE_O_CELLPHONE}</td>
        </tr>
        <tr>
            <th>郵遞區號:</th>
            <td>
                {VALUE_O_ZIP}</td>
        </tr>
        <tr>
            <th>住址:</th>
            <td>
                {VALUE_O_ADDRESS}</td>
        </tr>
        <tr>
            <th>E-mail:</th>
            <td>
                {VALUE_O_EMAIL}</td>
        </tr>
        <tr>
            <th colspan="2" class="table_title_color">收件者資訊</th>
        </tr>
        <tr>
            <th>姓名:</th>
            <td>
                <input type="text" name="o_add_name" value="{VALUE_O_ADD_NAME}"/></td>
        </tr>
        <tr>
            <th>電話:</th>
            <td>
                <input type="text" name="o_add_tel" value="{VALUE_O_ADD_TEL}"/></td>
        </tr>
        <tr>
            <th>手機:</th>
            <td>
                <input type="text" name="o_add_cellphone" value="{VALUE_O_ADD_CELLPHONE}"/></td>
        </tr>
        <tr>
            <th>郵遞區號:</th>
            <td>
                <input type="text" name="o_add_zip" id="o_add_zip" value="{VALUE_O_ADD_ZIP}" size="3"/>
            </td>
        </tr>        
        <!-- START BLOCK : SINGLE_ADDRESS -->
        <tr>
            <th>住址:</th>
            <td>
                <input type="text" name="o_add_address" value="{VALUE_O_ADD_ADDRESS}" size="50"/>
            </td>
        </tr>        
        <!-- END BLOCK : SINGLE_ADDRESS -->
        <!-- START BLOCK : TW_ADDRESS -->
        <tr id="m_zone_row">
            <th>住址:</th>
            <td>
                <select name="o_add_city" id="o_add_city"></select><select name="o_add_area" id="o_add_area"></select>
                <input type="text" name="o_add_address" value="{VALUE_O_ADD_ADDRESS}" size="50"/>
                <script type="text/javascript">
                    jQuery(function($){
                       //設定城市挑選器
                        $("#m_zone_row").zone_box({
                                MAIN_ID : "o_add_city", // 縣市元素 ID (select 元素)
                                SUB_ID : "o_add_area", // 區域元素 ID (select 元素)
                                ZIP_ID : "o_add_zip", // 郵遞區號 ID (input 元素)
                                ZIP_GET : "", // 輸入郵遞區號
                        });     
                        $("#o_add_zip").trigger("keyup");
                    });
                </script>
            </td>
        </tr>
        <!-- END BLOCK : TW_ADDRESS -->        
        <tr>
            <th>E-mail:</th>
            <td>
                <input type="text" name="o_add_mail" value="{VALUE_O_ADD_MAIL}"/></td>
        </tr>        
        <tr>
            <th colspan="2"  valign="top" class="table_title_color">訂單內容</th>
        </tr>
        <tr>
            <td colspan="2">
                <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="producttable">
                    <tr>
                        <th width="5%"> No.</th>
                        <th width=""> 產品</th>
                        <!-- START BLOCK : SPEC_TITLE -->
                        <th width="25%"> 規格</th>
                        <!-- END BLOCK : SPEC_TITLE -->                        
                        <th width="10%"> 數量</th>
                        <th width="10%"> {MSG_PRODUCT_SPECIAL_PRICE}{VALUE_P_DISCOUNT}</th>
                        <th width="10%"> {MSG_DISCOUNT}</th>
                        <th width="10%"> 小計</th>
                    </tr>
                    <!-- START BLOCK : ORDER_ITEMS_LIST -->
                    <tr>
                        <td>
                            {VALUE_P_SERIAL}
                        </td>
                        <td>
                            {VALUE_P_NAME}
                        </td>
                        <!-- START BLOCK : SPEC_FIELD -->
                        <td>
                            {VALUE_SPEC}
                        </td>
                        <!-- END BLOCK : SPEC_FIELD -->                        
                        <td>
                            {VALUE_P_AMOUNT}
                        </td>
                        <td>
                            {VALUE_P_SELL_PRICE}
                        </td>
                        <td>
                            {TAG_QUANTITY_DISCOUNT}
                        </td>
                        <td>
                            {VALUE_P_SUBTOTAL_PRICE}
                        </td>
                    </tr>
                    <!-- END BLOCK : ORDER_ITEMS_LIST -->
                    <tr>
                        <td colspan="{CART_FIELD_NUMS}">
                            <div align="right"> 小計:&nbsp;</div>
                        </td>
                        <td>
                        {VALUE_O_SUBTOTAL_PRICE}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="{CART_FIELD_NUMS}">
                            <div align="right"> 運費:&nbsp;</div>
                        </td>
                        <td>
                        {VALUE_O_SHIP_PRICE}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="{CART_FIELD_NUMS}">
                            <div align="right"> 手續費:&nbsp;</div>
                        </td>
                        <td>
                        {VALUE_O_FEE_PRICE}
                        </td>
                    </tr>
                    <tr>
                        <th colspan="{CART_FIELD_NUMS}">
                            <div align="right"> 合計:&nbsp;</div>
                        </th>
                        <th> 
                        {VALUE_O_TOTAL_PRICE}
                        </th>
                    </tr>
                </table>
            </td>
        </tr>
        <!-- START BLOCK : ALI_TABLE -->
        <tr>
        	<th colspan="2">支付寶、財富通 訂單訊息</th>
        </tr>
        <tr>
        	<th>訂單編號</th>
            <td>{VALUE_ALI_PNO}</td>
        </tr>
        <tr>
        	<th>平臺訂單號</th>
            <td>{VALUE_ALI_ORDER_NO}</td>
        </tr>
        <tr>
        	<th>支付平臺</th>
            <td>{VALUE_ALI_CHANNEL}</td>
        </tr>
        <!--
        <tr>
        	<th>平臺交易編號</th>
            <td>{VALUE_ALI_CHANNEL_NO}</td>
        </tr>
        -->
        <tr>
        	<th>訂單總價</th>
            <td>{VALUE_ALI_PRICE}</td>
        </tr>
        <tr>
        	<th>訂單原始價格</th>
            <td>{VALUE_ALI_O_PRICE}</td>
        </tr>
        <tr>
        	<th>收件人名稱</th>
            <td>{VALUE_ALI_NAME}</td>
        </tr>
        <tr>
        	<th>收件人電話</th>
            <td>{VALUE_ALI_TEL}</td>
        </tr>
        <tr>
        	<th>收件人電話 2</th>
            <td>{VALUE_ALI_TEL_2}</td>
        </tr>
        <tr>
        	<th>收件人E-mail</th>
            <td>{VALUE_ALI_MAIL}</td>
        </tr>
        <tr>
        	<th>收件地區代碼</th>
            <td>{VALUE_ALI_ZONE}</td>
        </tr>
        <tr>
        	<th>收件地址</th>
            <td>{VALUE_ALI_ADDRESS}</td>
        </tr>
        <tr>
        	<th>買方負擔運費</th>
            <td>{VALUE_ALI_SHIPAY}</td>
        </tr>
        <tr>
        	<th>貨運狀態</th>
            <td>{VALUE_ALI_SHIP_DESC}</td>
        </tr>
        <tr>
        	<th>訂單狀態</th>
            <td>{VALUE_ALI_STATUS}</td>
        </tr>
        <tr>
        	<th>狀態說明</th>
            <td>{VALUE_ALI_DESC}</td>
        </tr>
        <!-- END BLOCK : ALI_TABLE -->
        <!-- START BLOCK : ALI_ERROR -->
        <tr>
        	<th colspan="2">支付寶、財富通 訂單查尋失敗</th>
        </tr>
        <tr>
        	<th>查詢失敗</th>
            <td>無法查詢交易資料，此筆訂單並未交易完成。</td>
        </tr>
        <!-- END BLOCK : ALI_ERROR -->
    </table>
    <input type="hidden" name="o_id" value="{VALUE_O_ID}">
    <input name="st" type="hidden" id="st" value="{VALUE_SEARCH_TARGET}">
    <input name="sk" type="hidden" id="sk" value="{VALUE_SEARCH_KEYWORD}">
    <input name="nowp" type="hidden" id="nowp" value="{VALUE_NOW_PAGE}">
    <input name="jp" type="hidden" id="jp" value="{VALUE_JUMP_PAGE}">
</form>
</div>
<!-- INCLUDE BLOCK : FOOTER -->
