<div>
<div class="cart_step" {TAG_DISPLAY}><img src="{TAG_THEME_PATH}cart_step1.png" /></div>    
<div id="nodata">{MSG_CART_EMPTY}</div>
<form  name="myform" id="formID" action="cart.php?func=c_finish" method="post">
<!-- START BLOCK : SHOPPING_CART_ZONE -->
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="cart_table"> 
<tr>
    <th width="5%"> No.</th>
    <th width="15%"> {MSG_PRODUCT_IMAGE}</th>
    <th width=""> {MSG_PRODUCT}</th>
    <!-- START BLOCK : SPEC_TITLE -->
    <th width=""> {MSG_SPEC}</th>
    <!-- END BLOCK : SPEC_TITLE -->
    <th width="12%"> {MSG_AMOUNT}</th>
    <th width="12%"> {MSG_PRODUCT_SPECIAL_PRICE}</th>
    <th width="12%"> {MSG_DISCOUNT}</th>
    <th width="12%"> {MSG_SUBTOTAL}</th>
    <th width="7%"> {MSG_OPERATION}</th>
</tr>
<!-- START BLOCK : SHOPPING_CART_LIST -->
<tr {TAG_TR_CLASS} class="line {INVENTORY_SHORT_CLASS}">
    <td  class="no">{VALUE_P_SERIAL}</td>
    <td><center><a href="{VALUE_P_SMALL_IMG_M}" rel="lightbox[roadtrip]" ><img src="{VALUE_P_SMALL_IMG}" width="{VALUE_P_SMALL_IMG_W}" height="{VALUE_P_SMALL_IMG_H}" alt="{VALUE_P_NAME}" border="0"/></a></center></td>
    <td class="title"><a href="{VALUE_P_LINK}" target="_blank">{VALUE_P_NAME}</a></td>
    <!-- START BLOCK : SPEC_FIELD -->
    <td class="spec">{VALUE_SPEC}</td>
    <!-- END BLOCK : SPEC_FIELD -->
    <td><input type="text" name="shop_value[{VALUE_P_ID}]{TAG_PS_ID_STR}" value="{VALUE_P_AMOUNT}" size="2" class="spinner" readonly/></td>
    <td><span class="up">{VALUE_P_SPECIAL_PRICE}</span></td>
    <td><span class="dc">{TAG_QUANTITY_DISCOUNT}</span></td>
    <td><span class="sp">{VALUE_P_SUBTOTAL_PRICE}</span></td>
    <td>
        <a href="#" class="prodToCollect" rel="{VALUE_P_ID}">{TAG_COLLECTION}</span>
        <a href="#" class="cart-del" pid="{VALUE_P_ID}" {TAG_PS_ID}><img src="{TAG_THEME_PATH}ws-table-delete.gif" border="0" /></a>
    </td>
</tr>
<!-- END BLOCK : SHOPPING_CART_LIST -->
<!-- START BLOCK : TAG_CART_GIFT -->
<tr class="cart_line">
    <td  class="no">{VALUE_P_SERIAL}</td>
    <td><center><a href="{VALUE_P_SMALL_IMG}" rel="lightbox"><img src="{VALUE_P_SMALL_IMG}" width="60" alt="{VALUE_P_SMALL_IMG_ALT}" border="0"/></a></center></td>
    <td class="title">{VALUE_P_NAME}</td>
    <!-- START BLOCK : GIFT_SPEC_FIELD -->
    <td class="spec">{VALUE_SPEC}</td>
    <!-- END BLOCK : GIFT_SPEC_FIELD -->
    <td>{VALUE_P_AMOUNT}</td>
    <td>{VALUE_P_SPECIAL_PRICE}</td>
    <td>{TAG_QUANTITY_DISCOUNT}</td>
    <td>{VALUE_P_SUBTOTAL_PRICE}</td>
    <td></td>
</tr>
<!-- END BLOCK : TAG_CART_GIFT -->
<tr>
    <td colspan="{CART_FIELDS_NUMS}">
        <div align="right">{MSG_SUBTOTAL}:&nbsp;</div>
    </td>
    <td> <span id="sub_total_str">{VALUE_SUBTOTAL}</span></td>
    <td></td>
</tr> 
<!-- START BLOCK : MINUS_ROW -->
<tr>
    <td colspan="5">
        <div align="right">折扣:&nbsp;</div>
    </td>
    <td> <span id="minus_price_str">-{VALUE_MINUS_PRICE}</span></td>
    <td></td>
</tr> 
<!-- END BLOCK : MINUS_ROW -->
<tr>
    <td colspan="{CART_FIELDS_NUMS}"><div align="right"> {MSG_SHIPPING_PRICE}:&nbsp;</div></td>
    <td> <span id="ship_price">{VALUE_SHIPPING_PRICE_STR}</span></td>
    <td></td>
</tr> 
<tr>
    <th colspan="{CART_FIELDS_NUMS}"><div align="right"> {MSG_TOTAL}:&nbsp;</div></th>
    <th> <span id="total_str">{VALUE_TOTAL}</span>    </th>
    <th></th>
</tr> 
</table>

<div id="shipment_zone">
    {MSG_SHIP_ZONE}:
    <!-- START BLOCK : SHIPMENT_TYPE_RADIO -->
    <label><input type="radio" name="shipment_type" id="shipment_type_{VALUE_SHIPMENT_TYPE_KEY}" value="{VALUE_SHIPMENT_TYPE_KEY}"/>{VALUE_SHIPMENT_TYPE_NAME}</label>
    <!-- END BLOCK : SHIPMENT_TYPE_RADIO -->
</div>
    <div class="cart_btn">
        <input type="button" class="shop_btn" value="{MSG_CONTINUE_SHOPPING}" onclick="cart_continue(myform,'{LINK_CONTINUE}');return false;" />
        <input type="button" class="shop_btn" value="{MSG_NEXT_STEP}>>" id="btn_finish" />
    </div>
<br/>
<div class="cart-finish-bottom">
    {MSG_PAYMENT_TERM}
</div>
<div class="cart-finish-bottom">
    {MSG_SHOPPING_TERM}
</div>
<div id="del-cart-dialog" title="刪除購物車項目" style="display:none">
    確定刪除嗎？
</div>
<script type="text/javascript">
    jQuery(function($){
       $(document).ready(function(){
           var NO_SHIP_PRICE = {VALUE_SC_NO_SHIPPING_PRICE};
           var MSG = [null,{VALUE_SC_SHIPPING_PRICE},{VALUE_SC_SHIPPING_PRICE2},"請洽支付寶網站"];
           $("#btn_finish").click(function(evt){
               evt.preventDefault();
               if($(":radio:checked").size()==0){
                   alert("請選擇送貨區域");
                   return false;
               }
               if($("tr.stocks_short").size()>0){
                   alert("購物車有產品庫存不足!");
                   return false;
               }
               var sz = $(":radio:checked").next().text();
               var sz_other = [];
               //未選擇的區域文字
               $(":radio").each(function(){
                   if(!this.checked){
                       sz_other.push( $(this).next().text());
                   }
               });
               $(this.form).trigger('submit');
//               if(confirm("目前選擇的送貨區域是:"+sz+"\n若送貨地區為"+sz_other[0]+" \n請重新選擇送貨區域。\n確定結帳請按 送出，重新選擇請按 取消。")){
//                   $(this.form).trigger('submit');
//               }
           });
           $(":radio[name=shipment_type]").click(function(evt){
                var dataStr = "func=ajax_show_ship_price&shipment_type="+$(this).val();
                $.post("{TAG_ROOT_PATH}cart.php",dataStr,function(req){
                    $("#sub_total_str").text(req.subtotal_price);
                    $("#ship_price").text(req.shipping_price);
                    $("#o_subtotal_price").val(req.subtotal_price);
                    $("#o_plus_price").val(req.shipping_price);
                    $("#total_str").text(req.total_price);
                    //$("#formID").trigger("calculate");
                },"json");
           });
           $("#formID").bind("calculate",function(evt){
                this['o_total_price'].value = parseInt(this['o_subtotal_price'].value) + parseInt(this['o_plus_price'].value);
                $("#total_str").text(this['o_total_price'].value);            
           });
           $("#btn_modify_amount").click(function(evt){
               var serial_data = $("#formID").serialize();
               serial_data += "&via_ajax=1";
               $.post("cart.php?func=c_mod",serial_data,function(req){
                   if(req=='1'){
                      alert("已更新數量");
                   }
                   //location.href = "cart.php";
               });
           });
            $(".spinner").spinner({
                min: 1,
                spin: function( event, ui ) {
                    var cur = $(this).val();
                    var elm = $(this);
                    if($(":radio[name=shipment_type]:checked").size()==0){
                        alert("請先選擇運送區域!");
                        elm.val(cur);
                        return false;
                    }
                    var data = "via_ajax=1&"+$(this).attr("name")+"="+ui.value+"&shipment_type="+$(":radio[name=shipment_type]:checked").val();
                    if(cur != ui.value){
                        $.post("{TAG_ROOT_PATH}cart.php?func=c_mod",data,function(req){
                            if(req.code == '1'){
                                elm.parents('tr').find('.dc').text(req.product.discount<1?req.product.discount:'');
                                elm.parents('tr').find('.sp').text(req.product.subtotal_price);
                                $("#sub_total_str").text(req.subtotal_price);
                                $("#ship_price").text(req.shipping_price);
                                $("#o_subtotal_price").val(req.subtotal_price);
                                $("#o_plus_price").val(req.shipping_price>=0?req.shipping_price:0);
                                $("#minus_price_str").text('-'+req.minus_price);
                                $("#total_str").text(req.total_price);
                                //$("#formID").trigger("calculate");
                            }else{
                                alert('error occure!');
                                elm.val(cur);
                            }
                        },'json');
                    }
                },
                change: function( event, ui ) {
                }            
            }).change(function(evt){
                var nv = $(this).val();
                nv = parseInt(nv.replace(/[^\d\.]/,'')); 
                $(this).val(nv);
                $(this).spinner("value",$(this).val());
                var elm = $(this);
                var data = "via_ajax=1&"+$(this).attr("name")+"="+$(this).val();
                $.post("{TAG_ROOT_PATH}cart.php?func=c_mod",data,function(req){
                    if(req.code == '1'){
                        elm.parents('tr').find('.dc').text(req.product.discount<1?req.product.discount:'');
                        elm.parents('tr').find('.sp').text(req.product.subtotal_price);
                        $("#sub_total_str").text(req.subtotal_price);
                        $("#ship_price").text(req.shipping_price>=0?req.shipping_price:'運費另議');
                        $("#o_subtotal_price").val(req.subtotal_price);
                        $("#o_plus_price").val(req.shipping_price>=0?req.shipping_price:0);
                        $("#formID").trigger("calculate");
                    }else{
                        alert('error occure!');
                        elm.val(cur);
                    }
                },'json');                
            });
            $(".cart-del").click(function(evt){
                evt.preventDefault();
                $("#del-cart-dialog").data('activeRow',$(this).parents('tr'));
                $("#del-cart-dialog").data('p_id',$(this).attr('pid'));
                $("#del-cart-dialog").data('ps_id',$(this).attr('psid'));
                $("#del-cart-dialog").dialog('open');
            });
            $("#del-cart-dialog").dialog({
                autoOpen:false,
                modal:true,
                width:400,
                height:180,
                buttons:{
                    確定:function(){
                        var data = {
                            p_id: $("#del-cart-dialog").data('p_id'),
                            ps_id: $("#del-cart-dialog").data('ps_id'),
                            via_ajax:true
                        };
                        var dialog = $(this);
                        $.post("cart.php?func=c_del",data,function(req){
                            if(req.code==1){
                                var activeRow = $("#del-cart-dialog").data('activeRow');
                                var redirect = false;
                                activeRow.remove();
                                if($("tr.line").size()>0){
                                    $("tr.line").each(function(idx,elm){
                                        $(elm).find("td.no").text(idx+1);
                                    });
                                }
                                $("#del-cart-dialog").data('activeRow',null);
                                $("#del-cart-dialog").data('p_id',null);
                                $("#del-cart-dialog").data('ps_id',null)
                                $("#sub_total_str").text(req.subtotal_price);
                                if(req.subtotal_price==0){
                                    redirect = true;
                                }
                                dialog.dialog('close');
                                if(redirect)location.replace('products.htm');
                            }else{
                                alert('操作失敗!');
                            }
                        },'json');
                    },
                    取消:function(){
                        $(this).dialog('close');
                    }
                }
            });
            $(".prodToCollect").click(function(evt){
                evt.preventDefault();
                var data = new Object();
                data.p_id = $(this).attr('rel');
                $.post("{TAG_ROOT_PATH}member.php?func=ajax&action=collect",data,function(res){
                    alert(res.msg);
                    if(res.code==1){
                        $("#collectnums").text(res.nums);
                    }
                },'json');
            });            
       });
    });
</script>
<input type="hidden" name="cart_type" value="shopping">
<input type="hidden" name="o_plus_price" id="o_plus_price" value="{VALUE_SHIPPING_PRICE}">
<input type="hidden" name="o_subtotal_price" id="o_subtotal_price" value="{VALUE_SUBTOTAL}">
<input type="hidden" name="o_total_price" id="o_total_price" value="{VALUE_TOTAL}">
<!-- END BLOCK : SHOPPING_CART_ZONE -->
</form>
</div>