
          <div class="seo_zone">{MSG_CONTACTUS_TERM}</div>

<form name="myform" method="post" action="contactus.php?func=cu_replace"  id="formID" class="formular"{TAG_FORM_ENCTYPE}>
    {MSG_REQUIRED_DESC}<br /><br />

    <div class="contact_table1">
          <table width="350" border="0" cellspacing="0" cellpadding="0">
            <tr class="altrow">
              <td width="128">{MSG_CONTACT_PERSON}</td>
              <td width="222">
                   {TAG_CONTACT_WITH_S}
                </td>
            </tr>
            <!-- START BLOCK : POSITION_FIELD -->
          <tr>
              <th>{MSG_POSITION}</th>
              <td><input name="cu_position"  value="{VALUE_CU_POSITION}" type="text" /></td>
            </tr>
            <!-- END BLOCK : POSITION_FIELD -->          
          <!-- START BLOCK : SELECT_COUNTRY -->
          <tr>
              <td><font color="#ff0000">*</font>{MSG_COUNTRY}</td>
              <td><select name="cu_country" id="cu_country" type="select-one" class="validate[required]">
                  {TAG_SELECT_OPTION_COUNTRY}
                  </select></td>
          </tr>
          <!-- END BLOCK : SELECT_COUNTRY -->       
          <tr>
              <td>{MSG_COMPANY_NAME}</td>
              <td><input name="cu_company_name"  value="{VALUE_CU_COMPANY_NAME}" type="text" /></td>
            </tr>          
          <!-- START BLOCK : SINGLE_ADDRESS -->
          <tr class="altrow">
            <td>{MSG_ADDRESS}</td>
            <td><input name="cu_address" type="text" class="input" value="{VALUE_CU_ADDRESS}" ></td>
          </tr>    
          <!-- END BLOCK : SINGLE_ADDRESS -->
          <!-- START BLOCK : TW_ADDRESS -->
          <tr id="m_zone_row">
            <td>{MSG_ADDRESS}</td>
            <td>
                <select name="cu_city" id="cu_city" style="width:60px"></select>&nbsp;<select name="cu_area" id="cu_area" style="width:60px"></select>&nbsp;{MSG_ZIP}<input name="cu_zip" id="cu_zip" type="text" class="input" style="width:60px" value="{VALUE_CU_ZIP}" size="5"><br/>
                <input name="cu_address" type="text" class="input" value="{VALUE_CU_ADDRESS}" >
                    <script type="text/javascript" src="{TAG_ROOT_PATH}js/zone_box.js"></script>
                    <script type="text/javascript">
                        jQuery(function($){
                           //設定城市挑選器
                            $("#m_zone_row").zone_box({
                                    MAIN_ID : "cu_city", // 縣市元素 ID (select 元素)
                                    SUB_ID : "cu_area", // 區域元素 ID (select 元素)
                                    ZIP_ID : "cu_zip", // 郵遞區號 ID (input 元素)
                                    ZIP_GET : "", // 輸入郵遞區號
                            });     
                            $("#cu_zip").trigger("keyup");
                        });
                    </script>                 
            </td>
          </tr>
          <!-- END BLOCK : TW_ADDRESS -->          
          <tr class="altrow">
            <td>{MSG_TEL}</td>
            <td><input name="cu_tel" type="text" class="input" value="{VALUE_CU_TEL}" ></td>
          </tr>
<!--          <tr>
            <td>{MSG_FAX}</td>
            <td><input name="cu_fax" type="text" class="input" value="{VALUE_CU_FAX}" ></td>
          </tr>-->
          <tr>
            <td><font color="#ff0000">*</font>E-mail</td>
            <td><input name="cu_email" type="text" id="cu_email" class="validate[required,custom[email]]" class="input" value="{VALUE_CU_EMAIL}" ></td>
          </tr>
          <!-- START BLOCK : ATTACH_FILES -->
              <!-- START BLOCK : AF_FIRST_ROW -->
              <tr class="altrow">
                <td rowspan="{AF_ROWS}">{MSG_ATTACH_FILES}</td>
                <td><input type="file" class="hide_file" id="file_{SERIAL}" name="cu_file[]" /></td>
              </tr>
              <!-- END BLOCK : AF_FIRST_ROW -->
              <!-- START BLOCK : AF_OTHER_ROW -->
              <tr>
                <td><input type="file" class="hide_file" id="file_{SERIAL}" name="cu_file[]" /></td>
                </tr>
              <!-- END BLOCK : AF_OTHER_ROW -->
          <!-- END BLOCK : ATTACH_FILES -->       
          <tr class="altrow">
            <td>{MSG_CATE}</td>
            <td>
            <select name="cu_cate" id="cu_cate">
            <!-- START BLOCK : TAG_SELECT_CONTACTUS_CATE -->
            <option value="{TAG_SELECT_CONTACTUS_CATE_VALUE}" {STR_CU_SEL}> {TAG_SELECT_CONTACTUS_CATE_NAME}</option>
            <!-- END BLOCK : TAG_SELECT_CONTACTUS_CATE -->
            </select></td>
          </tr>         
          <!-- START BLOCK : PRODUCTS_LIST -->
          <tr>
              <th>{MSG_PRODUCT_LIST}</th>
              <td>
                  <ul class="contact_prod_list">
                      <!-- START BLOCK : PRODUCT_LIST_CHECKBOX -->
                      <li><input type="checkbox" name="cu_pid[]" id="cu_pid_{VALUE_PRODUCT_LIST_KEY}" value="{VALUE_PRODUCT_LIST_KEY}" {CHECKED}/><label for="cu_pid_{VALUE_PRODUCT_LIST_KEY}">{VALUE_PRODUCT_LIST_NAME}</label></li>
                      <!-- END BLOCK : PRODUCT_LIST_CHECKBOX -->                      
                  </ul>
              </td>
          </tr>
          <!-- END BLOCK : PRODUCTS_LIST -->          
          <!-- START BLOCK : MATH_SECURITY_ZONE -->
          <tr>
            <td>{MSG_LOGIN_SECURITY}</td>
            <td>{TAG_MATH_SECURITY}&nbsp;{TAG_MATH_INPUT}&nbsp;&nbsp;<font color="red">{MSG_ERROR_MESSAGE}</font></td>
          </tr>
          <!-- END BLOCK : MATH_SECURITY_ZONE -->
          <!-- START BLOCK : IMAGE_SECURITY_ZONE -->
          <tr>
            <td>{MSG_LOGIN_SECURITY}</td>
            <td><div class="security_pic">{TAG_IMAGE_SECURITY_IMAGE}</div>&nbsp;{TAG_INPUT_SECURITY}&nbsp;&nbsp;<font color="red">{MSG_ERROR_MESSAGE}</font></td>
          </tr>
          <!-- END BLOCK : IMAGE_SECURITY_ZONE -->
          </table>
        <input type="hidden" name="callback" value="1">
    </div>
    <div class="contact_table2">     
        {MSG_CONTENT_DESC}<br /><br />
        <textarea name="cu_content" id="cu_content" type="textarea" class="validate[required]" cols="50" rows="5" class="text_area">{VALUE_CU_CONTENT}</textarea>
        <div class="ctbtn">
            <input type="reset" class="contact_btn" value="{MSG_CLEAN}"><input type="submit" class="contact_btn" value="{MSG_MODE}" name="Submit" />
        </div>
    </div>
</form>

