<div class="cart-login_f">
    <div id="cart-login-member">
        <form name="loginform" method="post" action="login.php?func=check_data" style="margin:0px;padding:0px;">
            {MSG_LOGIN_NOTICE1}
            <table cellpadding="2" cellspacing="0" border="0" class="login_table" >
                <tr>
                    <th>{MSG_LOGIN_ACCOUNT}:</th>
                    <td><input type="text" name="mm_account" id="mm_account" size="28" value="範例：fancy@jelly.com" rel="範例：fancy@jelly.com"></td>
                </tr>
                <tr>
                    <th>{MSG_LOGIN_PASSWORD}:</th>
                    <td><input type="password" name="mm_password" size="28"> </td>
                </tr>
                <tr>
                    <th>{MSG_LOGIN_SECURITY}</th>
                    <td>{TAG_INPUT_SECURITY}&nbsp;{TAG_IMAGE_SECURITY_IMAGE}&nbsp;&nbsp;<font color="red" style="font-size:13px;">{MSG_ERROR_MESSAGE}</font></td>
                </tr>
                <tr>
                    <td></td>
                    <td class="cart-login-m_btn02">
                        <input type="submit" value="{MSG_LOGIN_BUTTON}"/>                    
                    </td>
                </tr>
                <tr>

                    <td colspan="2">
                    <table width="100%" border="0" class="cart-login-m_btn">
                      <tr>
                           <td width="50%" align="center"><a href="member.php?func=m_forget">{MSG_LOGIN_FORGOT_PASSWORD}</a> </td>
                           <td width="50%" align="center"><a href="member.php?func=m_add">{MSG_LOGIN_REGISTER}</a> </td>
                      </tr>
              </table>    
                  </td>
                </tr>
            </table>
            <input type="hidden" name="callback" value="1">
            <input type="hidden" name="return_url" value="{TAG_ROOT_PATH}cart.php?func=c_finish"/>
        </form>
    </div>
    <div id="cart-login-first">
        <form name="fsfrm" action="{TAG_ROOT_PATH}cart.php?func=c_finish" method="post">
            <input type="hidden" name="shop_and_register" value="1"/>
            <div>歡迎光臨 <br/> Feng Hsi 豐喜 &amp; Touched 塔吉特 !!!<br/> 
                  <ul><li>為了簡化您的購物流程，請直接將商品加入購物車，即可進入結帳流程！完成訂購後，系統自動為您加入會員喔！</li>
                      <li>已在網站消費的會員可以登入會員後查詢『我的購物車』，了解自己消費情況。</li>
                  </ul>
            </div>
            <div class="cart-login_f_btn"><input type="button" value="{TAG_FS_SHOPPING}" onclick="fsfrm.submit();"/></div>
        </form>
    </div>
    <div style="clear:both;margin-bottom:20px;"></div>
</div>