<!-- START BLOCK : SHOW_STYLE_EBC1 -->
<div class="ebook_list">
<div class="ebook_pic"><img src="{VALUE_EBC_CATE_IMG}" border="0" width="180" height="212"></div>
<div class="ebook_title">{VALUE_EBC_NAME}</div>
</div>
<!-- END BLOCK : SHOW_STYLE_EBC1 -->
<!-- START BLOCK : SHOW_STYLE_EB1 -->
<div class="ebook_list">
<div class="ebook_pic"><a href="{VALUE_EB_LINK}"><img src="{VALUE_EB_SMALL_IMG}" border="0" width="180" height="212"></a></div>
<div class="ebook_title"><a href="{VALUE_EB_LINK}" {TAG_TARGET_BLANK}>{VALUE_EB_NAME}</a></div>
</div>
<!-- END BLOCK : SHOW_STYLE_EB1 -->
<!-- INCLUDE BLOCK : ./templates/ws-fn-pagination-tpl.html -->