<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="refresh" content="3; url={TAG_ROOT_PATH}" />    
<link type="text/css" rel="stylesheet" href="{TAG_ROOT_PATH}css/cms-index.css" />
<head>
    <title>{MSG}</title>
</head>

<body {TAG_MOUSE_DISABLE}>
    <div id="wrap">
      <div class="topbox">
        <div class="top">
          <div class="logo"><a href="{TAG_ROOT_PATH}">Flylight</a></div>
          <div class="btn-box">
            <div class="language"><a href="#" rel="lang_list">Language</a></div>
            <div class="btn"> 
                <a href="{TAG_ROOT_PATH}aboutus.htm">{TAG_MENU_ABOUTUS}</a> 
                <a href="{TAG_ROOT_PATH}products.htm">{TAG_MENU_PRODUCTS}</a> 
                <a href="{TAG_ROOT_PATH}technology.htm">{TAG_MENU_TECH}</a> 
                <a href="{TAG_ROOT_PATH}faq.htm">{TAG_MENU_FAQ}</a> 
                <a href="{TAG_ROOT_PATH}news.htm">{TAG_MENU_NEWS}</a> 
                <a href="{TAG_ROOT_PATH}contactus.htm">{TAG_MENU_CONTACTUS}</a> 
            </div>
          </div>
        </div>
      </div>
      <!--topbox end-->
      <div id="main">
          <div class="epaper-msg">{MSG}</div>   
<!--       <script type="text/javascript">
//           alert("{MSG}");
//           location.href = "{TAG_ROOT_PATH}";
       </script>-->
      </div> <!--main end-->
      <div id="foot">
        <div class="left"> Copyright © 2012 Flylight Display Co., Ltd. ALL RIGHTS RESERVED.<br />
          4F.-4, No.211, Jhongming Rd., North Dist., Taichung City 404, Taiwan. <br />
          {TAG_FOOTER_TEL}：+886-4-2202-5620      {TAG_FOOTER_FAX}：+886-4-2202-5619      {TAG_FOOTER_EMAIL}：<a href="mailto:sales@flylight.com.tw">sales@flylight.com.tw</a></div>
      </div>
    </div><!--wrap end-->
</body>
</html>
