     <!-- START BLOCK : CONTACT_S_ZONE -->
     <input name="cu_name" id="cu_name" type="text" class="validate[required]" value="{VALUE_CU_NAME}" size="12" style="width:120px" />
     <select name="cu_contact_s"  style="width:60px">
         <!-- START BLOCK : CONTACT_S_LIST -->
        <option value="{VALUE_CONTACT_S_ID}" {TAG_SELECTED}>{VALUE_CONTACT_S_NAME}</option>
         <!-- END BLOCK : CONTACT_S_LIST -->
     </select>
     <!-- END BLOCK : CONTACT_S_ZONE -->
     <!-- START BLOCK : CART_S_ZONE -->
    <input name="m_name" id="m_name" class="validate[required]" type="text" value="{VALUE_M_NAME}" size="12" />     
    <select name="m_contact_s">
         <!-- START BLOCK : CART_S_LIST -->
        <option value="{VALUE_CONTACT_S_ID}" {TAG_SELECTED}>{VALUE_CONTACT_S_NAME}</option>
         <!-- END BLOCK : CART_S_LIST -->
     </select>
     <!-- END BLOCK : CART_S_ZONE -->
     <!-- START BLOCK : CARTR_S_ZONE -->
    <input name="m_reci_name" id="m_reci_name"  class="validate[required]" type="text" value="" size="12" />     
    <select name="m_reci_contact_s" id="m_reci_contact_s" class="validate[required]" type="select-one">
         <!-- START BLOCK : CARTR_S_LIST -->
        <option value="{VALUE_CONTACT_S_ID}" {TAG_SELECTED}>{VALUE_CONTACT_S_NAME}</option>
         <!-- END BLOCK : CARTR_S_LIST -->
     </select>
     <!-- END BLOCK : CARTR_S_ZONE -->         
    <!-- START BLOCK : MEMBER_S_ZONE -->
    {MSG_MEMBER_LNAME}<input name="m_lname" type="text" value="{VALUE_M_LNAME}" size="12" />
    {MSG_MEMBER_FNAME}<input name="m_fname" type="text" value="{VALUE_M_FNAME}" size="12" />
    <select name="m_contact_s">
         <!-- START BLOCK : MEMBER_S_LIST -->
        <option value="{VALUE_CONTACT_S_ID}" {TAG_SELECTED}>{VALUE_CONTACT_S_NAME}</option>
         <!-- END BLOCK : MEMBER_S_LIST -->
     </select>
    <!-- END BLOCK : MEMBER_S_ZONE -->     