<!-- START BLOCK : AD_TYPE_IMAGE_580_120 -->
    <!-- START BLOCK : AD_TYPE_IMAGE_580_120_LINK -->
    <a href="{VALUE_AD_LINK}"><img src="{VALUE_AD_FILE}" title="{VALUE_AD_SUBJECT}"/></a>
    <!-- END BLOCK : AD_TYPE_IMAGE_580_120_LINK -->
    <!-- START BLOCK : AD_TYPE_IMAGE_580_120_NOLINK -->
    <img src="{VALUE_AD_FILE}" title="{VALUE_AD_SUBJECT}"/>
    <!-- END BLOCK : AD_TYPE_IMAGE_580_120_NOLINK -->
<!-- END BLOCK : AD_TYPE_IMAGE_580_120 -->
<!-- START BLOCK : AD_TYPE_IMAGE_150_150 -->
    <!-- START BLOCK : AD_TYPE_IMAGE_150_150_LINK -->
    <a href="{VALUE_AD_LINK}"><img src="{VALUE_AD_FILE}" title="{VALUE_AD_SUBJECT}"/></a>
    <!-- END BLOCK : AD_TYPE_IMAGE_150_150_LINK -->
    <!-- START BLOCK : AD_TYPE_IMAGE_150_150_NOLINK -->
    <img src="{VALUE_AD_FILE}" title="{VALUE_AD_SUBJECT}"/>
    <!-- END BLOCK : AD_TYPE_IMAGE_150_150_NOLINK -->
<!-- END BLOCK : AD_TYPE_IMAGE_150_150 -->
<!-- START BLOCK : AD_TYPE_IMAGE_150_50 -->
    <!-- START BLOCK : AD_TYPE_IMAGE_150_50_LINK -->
    <a href="{VALUE_AD_LINK}"><img src="{VALUE_AD_FILE}" title="{VALUE_AD_SUBJECT}"/></a>
    <!-- END BLOCK : AD_TYPE_IMAGE_150_50_LINK -->
    <!-- START BLOCK : AD_TYPE_IMAGE_150_50_NOLINK -->
    <img src="{VALUE_AD_FILE}" title="{VALUE_AD_SUBJECT}"/>
    <!-- END BLOCK : AD_TYPE_IMAGE_150_50_NOLINK -->
<!-- END BLOCK : AD_TYPE_IMAGE_150_50 -->