<!-- START BLCOK : DROPDOWN_ABOUTUS -->
<div id="dd_aboutus" class="btn_submenu">
    <div class="dd_content">
        <!-- START BLOCK : DROPDOWN_ABOUTUS_LIST -->
        <a href="{LIST_LINK}">{LIST_NAME}</a>
        <!-- END BLOCK : DROPDOWN_ABOUTUS_LIST -->
    </div>
    <div class="dd_background"></div>
</div>
<!-- END BLOCK : DROPDOWN_ABOUTUS -->

<!-- START BLOCK : DROPDOWN_PRODUCTS -->
<div id="dd_products" class="btn_submenu">
    <div class="dd_content">
    <!-- START BLOCK : DROPDOWN_PRODUCTS_LIST -->
    <a href="{LIST_LINK}">{LIST_NAME}
        {SUB_MENU_LIST}
    </a>
    <!-- END BLOCK : DROPDOWN_PRODUCTS_LIST -->
    </div>
    <div class="dd_background"></div>
</div>
<!-- END BLOCK : DROPDOWN_PRODUCTS -->

<!-- START BLOCK : DROPDOWN_NEWS -->
<div id="dd_news" class="btn_submenu">
    <div class="dd_content">
    <!-- START BLOCK : DROPDOWN_NEWS_LIST -->
    <a href="{LIST_LINK}">{LIST_NAME}</a>
    <!-- END BLOCK : DROPDOWN_NEWS_LIST -->
    </div>
    <div class="dd_background"></div>
</div>
<!-- END BLOCK : DROPDOWN_NEWS -->

<!-- START BLOCK : DROPDOWN_SHOWROOM -->
<div id="dd_showroom" class="btn_submenu">
    <div class="dd_content">
    <!-- START BLOCK : DROPDOWN_SHOWROOM_LIST -->
    <a href="{LIST_LINK}">{LIST_NAME}</a>
    <!-- END BLOCK : DROPDOWN_SHOWROOM_LIST -->
    </div>
    <div class="dd_background"></div>
</div>
<!-- END BLOCK : DROPDOWN_SHOWROOM -->

<!-- START BLOCK : DROPDOWN_SERVICE -->
<div id="dd_service" class="btn_submenu">
    <div class="dd_content">
    <!-- START BLOCK : DROPDOWN_SERVICE_LIST -->
    <a href="{LIST_LINK}">{LIST_NAME}</a>
    <!-- END BLOCK : DROPDOWN_SERVICE_LIST -->
    </div>
    <div class="dd_background"></div>
</div>
<!-- END BLOCK : DROPDOWN_SERVICE -->