<!-- START BLOCK : AD_TYPE_IMAGE_150_150 -->
    <!-- START BLOCK : AD_TYPE_IMAGE_150_150_LINK -->
    <a href="{VALUE_AD_LINK}"><img src="{VALUE_AD_FILE}" title="{VALUE_AD_SUBJECT}"/></a>
    <!-- END BLOCK : AD_TYPE_IMAGE_150_150_LINK -->
    <!-- START BLOCK : AD_TYPE_IMAGE_150_150_NOLINK -->
    <img src="{VALUE_AD_FILE}" title="{VALUE_AD_SUBJECT}"/>
    <!-- END BLOCK : AD_TYPE_IMAGE_150_150_NOLINK -->
<!-- END BLOCK : AD_TYPE_IMAGE_150_150 -->
<!-- START BLOCK : AD_TYPE_IMAGE_150_50 -->
    <!-- START BLOCK : AD_TYPE_IMAGE_150_50_LINK -->
    <a href="{VALUE_AD_LINK}"><img src="{VALUE_AD_FILE}" title="{VALUE_AD_SUBJECT}"/></a>
    <!-- END BLOCK : AD_TYPE_IMAGE_150_50_LINK -->
    <!-- START BLOCK : AD_TYPE_IMAGE_150_50_NOLINK -->
    <img src="{VALUE_AD_FILE}" title="{VALUE_AD_SUBJECT}"/>
    <!-- END BLOCK : AD_TYPE_IMAGE_150_50_NOLINK -->
<!-- END BLOCK : AD_TYPE_IMAGE_150_50 -->
<!-- START BLOCK : AD_TYPE_TXT_150_150 -->
    <!-- START BLOCK : AD_TYPE_TXT_150_150_LINK -->
    <div class="ad_txt">
        <div class="ad_title"><a href="{VALUE_AD_LINK}">{VALUE_AD_SUBJECT}</a></div>
        {VALUE_AD_FILE}
    </div>
    <!-- END BLOCK : AD_TYPE_TXT_150_150_LINK -->
    <!-- START BLOCK : AD_TYPE_TXT_150_150_NOLINK -->
    <div class="ad_txt">
        <div class="ad_title">{VALUE_AD_SUBJECT}</div>
        {VALUE_AD_FILE}
    </div>
    <!-- END BLOCK : AD_TYPE_TXT_150_150_NOLINK -->
<!-- END BLOCK : AD_TYPE_TXT_150_150 -->
<!-- START BLOCK : AD_TYPE_TXT_150_50 -->
    <!-- START BLOCK : AD_TYPE_TXT_150_50_LINK -->
    <div class="ad_txt">
        <div class="ad_title"><a href="{VALUE_AD_LINK}">{VALUE_AD_SUBJECT}</a></div>
        {VALUE_AD_FILE}
    </div>
    <!-- END BLOCK : AD_TYPE_TXT_150_50_LINK -->
    <!-- START BLOCK : AD_TYPE_TXT_150_50_NOLINK -->
    <div class="ad_txt">
        <div class="ad_title">{VALUE_AD_SUBJECT}</div>
        {VALUE_AD_FILE}
    </div>
    <!-- END BLOCK : AD_TYPE_TXT_150_50_NOLINK -->
<!-- END BLOCK : AD_TYPE_TXT_150_50 -->