     <!-- START BLOCK : CONTACT_S_ZONE -->
     <input name="cu_name" id="cu_name" type="text" class="validate[required]" value="{VALUE_CU_NAME}" size="12" style="width:120px" />
     <select name="cu_contact_s"  style="width:60px">
         <!-- START BLOCK : CONTACT_S_LIST -->
        <option value="{VALUE_CONTACT_S_ID}" {TAG_SELECTED}>{VALUE_CONTACT_S_NAME}</option>
         <!-- END BLOCK : CONTACT_S_LIST -->
     </select>
     <!-- END BLOCK : CONTACT_S_ZONE -->
     <!-- START BLOCK : CART_S_ZONE -->
    {MSG_MEMBER_NAME}:<input name="m_name" id="m_name" class="validate[required]" type="text" value="{VALUE_M_NAME}" size="12" />     
    <select name="m_contact_s">
         <!-- START BLOCK : CART_S_LIST -->
        <option value="{VALUE_CONTACT_S_ID}" {TAG_SELECTED}>{VALUE_CONTACT_S_NAME}</option>
         <!-- END BLOCK : CART_S_LIST -->
     </select>
     <!-- END BLOCK : CART_S_ZONE -->