<div class="submenu" {TAG_LEFT_MENU_TYPE}>
<!-- START BLOCK : LEFT_CATE_LIST -->
<p class="menu_head"><a href="{VALUE_CATE_LINK}" {TAG_CURRENT_CLASS}>{VALUE_CATE_NAME}</a></p>
{TAG_SUB_UL1}
<!-- START BLOCK : LEFT_SUBCATE_LIST -->
<li><a href="{VALUE_SUBCATE_LINK}">{VALUE_SUBCATE_NAME}</a></li>
<!-- END BLOCK : LEFT_SUBCATE_LIST -->
{TAG_SUB_UL2}
<!-- END BLOCK : LEFT_CATE_LIST -->
<!-- START BLOCK : LEFT_PRODUCTS_LIST -->
<p class="menu_head"><a href="{VALUE_PRODUCTS_LINK}">{VALUE_PRODUCTS_NAME}</a></p>
<!-- END BLOCK : LEFT_PRODUCTS_LIST -->
</div>