<div class="submenu" {TAG_LEFT_MENU_TYPE}>
    <ul>
        <!-- START BLOCK : LEFT_CATE_LIST -->
        <li class="menu_head"><a href="{VALUE_CATE_LINK}" {TAG_CURRENT_CLASS}>{VALUE_CATE_NAME}</a>
            <!-- START BLOCK : LEFT_SUBCATEZONE -->
            <ul class="menu_body">
                <!-- START BLOCK : LEFT_SUBCATE_LIST -->
                <li><a href="{VALUE_SUBCATE_LINK}" {TAG_CURRENT_CLASS}>{VALUE_SUBCATE_NAME}</a>
                    <!-- START BLOCK :  LEFT_SSUBCATEZONE -->
                    <ul>
                        <!-- START BLOCK : LEFT_SSUBCATE_LIST -->
                        <li><a href="{VALUE_SSUBCATE_LINK}" {TAG_CURRENT_CLASS}>{VALUE_SSUBCATE_NAME}</a>
                        <!-- END BLOCK : LEFT_SSUBCATE_LIST -->
                    </ul>
                    <!-- END BLOCK : LEFT_SSUBCATEZONE -->
                </li>
                <!-- END BLOCK : LEFT_SUBCATE_LIST -->
            </ul>
            <!-- END BLOCK : LEFT_SUBCATEZONE -->
        </li>
        <!-- END BLOCK : LEFT_CATE_LIST -->
        <!-- START BLOCK : LEFT_PRODUCTS_LIST -->
        <li class="menu_head"><a href="{VALUE_PRODUCTS_LINK}" {VALUE_CATE_LINK_CLASS}>{VALUE_PRODUCTS_NAME}</a></li>
        <!-- END BLOCK : LEFT_PRODUCTS_LIST -->
    </ul>
</div>
{TAG_INSIDE_LEFT_AD}