<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title> {HEADER_META_TITLE} </title>
{TAG_META_REFRESH}
<meta name="keywords" content="{HEADER_META_KEYWORD}" />
<meta name="description" content="{HEADER_META_DESCRIPTION}" />
<meta name="robots" content="all" />
<!-- START BLOCK : GOOGLE_SITEMAP_METATAG -->
<meta name="google-site-verification" content="{VALUE_GS_CODE}" />
<!-- END BLOCK : GOOGLE_SITEMAP_METATAG -->
<link type="text/css" rel="stylesheet" href="{TAG_ROOT_PATH}css/cms-index.css" >
<script type="text/javascript" src="{TAG_FILE_ROOT}tiny_mce/plugins/media/js/embed.js"></script> 
<script src="{TAG_ROOT_PATH}js/jquery/jquery-1.5.2.min.js" type="text/javascript"></script>
<!-- START BLOCK : JS_LEFT_MENU -->
<script src="{TAG_ROOT_PATH}js/jquery.clearfield.js" type="text/javascript"></script>
<script type="text/javascript">
(function($){
    $(document).ready(function()
    {
    <!-- START BLOCK : CLICK_MODE -->
        //slides the element with class "menu_body" when paragraph with class "menu_head" is clicked 
        $("#firstpane p.menu_head").click(function() {
            //$(this).css({ backgroundImage:"url(down.png)" }).next("div.menu_body").slideToggle(300).siblings("div.menu_body").slideUp("slow");
            //$(this).siblings().css({ backgroundImage:"url(left.png)" });
            $(this).next("div.menu_body").slideToggle(300).siblings("div.menu_body").slideUp("slow");            
        });
        $("#firstpane > p").eq({CLICK_NUM1}).click();
    <!-- END BLOCK : CLICK_MODE -->
    <!-- START BLOCK : OVER_MODE -->
        //slides the element with class "menu_body" when mouse is over the paragraph
        $("#secondpane p.menu_head").mouseover(function() {
            //$(this).css({ backgroundImage:"url(down.png)" }).next("div.menu_body").slideDown(500).siblings("div.menu_body").slideUp("slow");
            //$(this).siblings().css({ backgroundImage:"url(left.png)" });
            $(this).next("div.menu_body").slideDown(500).siblings("div.menu_body").slideUp("slow");            
        });
        $("#secondpane>p").eq({OVER_NUM1}).mouseover();
    <!-- END BLOCK : OVER_MODE -->
        
        $("#psearch").clearField();
    });    
})(jQuery);
</script>
<!-- END BLOCK : JS_LEFT_MENU -->
<!-- START BLOCK : JS_FORMVALID -->
<link type="text/css" rel="stylesheet" href="{TAG_ROOT_PATH}js/formvalid/validationEngine.jquery.css"/>
<script type="text/javascript" src="{TAG_ROOT_PATH}js/formvalid/jquery.js" ></script>
<script type="text/javascript" src="{TAG_ROOT_PATH}js/formvalid/jquery.validationEngine-{TAG_LANG}.js" ></script>
<script>    
(function($){
    $(document).ready(function() {
        // SUCCESS AJAX CALL, replace "success: false," by:     success : function() { callSuccessFunction() }, 
        $("#formID").validationEngine();
        //$.validationEngine.buildPrompt("#date","This is an example","error")           // Exterior prompt build example
        //$.validationEngine.closePrompt(".date")                                        // Exterior prompt close example
    });    
})(jjQuery);
</script>   
<!-- END BLOCK : JS_FORMVALID -->
<!-- START BLOCK : JS_MAIN -->
<script language="JavaScript" src="{TAG_ROOT_PATH}js/ws_main.js"></script>
<!-- END BLOCK : JS_MAIN -->
<!-- START BLOCK : JS_SHOW_STYLE_P1 -->
<script language="JavaScript" src="{TAG_ROOT_PATH}js/style1/showimages.js"></script>
<link type="text/css" rel="stylesheet" href="{TAG_ROOT_PATH}js/style1/style1.css"/>
<script type="text/javascript">
    (function($){
        $(document).ready(function(){
            $(".products_show").showImages({ img_height:294,img_limit:4 }); 
        });         
    })(jQuery);   
</script>  
<!-- END BLOCK : JS_SHOW_STYLE_P1 -->
<!-- START BLOCK : JS_POP_IMG -->
<link rel="stylesheet" href="{TAG_ROOT_PATH}js/lightbox/jquery.lightbox-0.5.css" type="text/css" media="screen" />
<script type="text/javascript" src="{TAG_ROOT_PATH}js/lightbox/jquery.lightbox-0.5.pack.js"></script>
<script type="text/javascript">
(function($){
    $(document).ready(function(){
       $('a[rel*=lightbox]').lightBox({
            overlayBgColor: '#000',
            overlayOpacity: 0.6,
            imageLoading: '{TAG_ROOT_PATH}js/lightbox/images/lightbox-ico-loading.gif',
            imageBtnClose: '{TAG_ROOT_PATH}js/lightbox/images/lightbox-btn-close.gif',
            imageBtnPrev: '{TAG_ROOT_PATH}js/lightbox/images/lightbox-btn-prev.gif',
            imageBtnNext: '{TAG_ROOT_PATH}js/lightbox/images/lightbox-btn-next.gif',
			imageBlank: '{TAG_ROOT_PATH}js/lightbox/images/lightbox-blank.gif',
            containerResizeSpeed: 1000,
            txtImage: 'Image',
            txtOf: 'of'
       });        
    });
})(jQuery);    
</script>
<!-- END BLOCK : JS_POP_IMG -->
<!-- START BLOCK : JS_IMAGE_FLOW -->
<link rel="stylesheet" href="{TAG_ROOT_PATH}js/imageflow/cms_imageflow.css" type="text/css" />
<script type="text/javascript" src="{TAG_ROOT_PATH}js/imageflow/cms_imageflow.js"></script>
<!-- END BLOCK : JS_IMAGE_FLOW -->
<!-- START BLOCK : GOOGLE_ANALYTICS -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{VALUE_GA_CODE}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- END BLOCK : GOOGLE_ANALYTICS -->
<!-- START BLOCK : DROPDOWN_MENU -->
<script type="text/javascript" src="{TAG_ROOT_PATH}js/ddMenu.js"></script>
<script type="text/javascript">
    (function($){
        $(document).ready(function(){
            $(".btn").ddMenu();
        });
    })(jQuery);
</script>
<!-- END BLOCK : DROPDOWN_MENU -->    
<!-- START BLOCK : SCROLL_FLOAT_SCRIPT -->
<script type="text/javascript" src="{TAG_ROOT_PATH}js/floatMark.js"></script>
<script type="text/javascript">
    (function($){
        $(document).ready(function(){
             var floatDiv = new floatMark("cart-mune",20); 
             floatDiv.setScroll(10);
        });
    })(jQuery);
</script>
<!-- END BLOCK : SCROLL_FLOAT_SCRIPT -->
<!-- START BLOCK : DOMTAB_SCRIPT -->
<link type="text/css" rel="stylesheet" href="{TAG_ROOT_PATH}js/domtab/domtab.css" />
<script type="text/javascript" src="{TAG_ROOT_PATH}js/domtab/domtab.js"></script>
<!-- END BLOCK : DOMTAB_SCRIPT -->
<!-- START BLOCK : EASYACCORDION_SCRIPT -->
<link type="text/css" rel="stylesheet" href="{TAG_ROOT_PATH}js/easyAccordion/jquery.easyAccordion.css"/>
<script type="text/javascript" src="{TAG_ROOT_PATH}js/easyAccordion/jquery.easyAccordion.js"></script>
<script type="text/javascript">
(function($){
    $(document).ready(function(){
	$('#accordion-1').easyAccordion({ 
            autoStart: true, 
            slideInterval: 3000
	});        
    });
})(jQuery);    
</script>
<!-- END BLOCK : EASYACCORDION_SCRIPT -->
