<p>&nbsp;</p>
<!-- START BLOCK : GALLERY_SHOW -->
  <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
  <tr></td>&nbsp;</td></tr>
  <tr>
    <!-- START BLOCK : GALLERY_PIC_LIST -->
    <td width="33%" align="center" valign="top" style="padding-bottom:20px">
      <table width="1%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>
        <a href="{VALUE_BIG_PIC}" rel="lightbox[roadtrip]" ><img src="{VALUE_BIG_PIC}" alt="" width="199" height="126" border="0" class="board-2" /></a>
        </td>
      </tr>
      </table>
    </td>
    {TAG_TR}
    <!-- END BLOCK : GALLERY_PIC_LIST -->
  </tr>
</table>
<table  width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" >
    <input name="button" type="button" onclick="javascript:history.back();" value="Go Back" />
    </td>
  </tr>
</table>
</div>
<!-- END BLOCK : GALLERY_SHOW -->