  <table width="90%" border="0" align="left" cellpadding="0" cellspacing="0">
  <tr>
    <td colspan="3"><img src="images/album-1.gif" /></td>
  </tr>
  <tr>
    <!-- START BLOCK : GALLERY_LIST -->
    <td width="33%" align="center" valign="top" style="padding-bottom:20px">
    <table width="1%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><a href="{VALUE_G_LINK}" target="{VALUE_G_TARGET}"><img src="{VALUE_G_S_PIC}" alt="" width="199" height="126" class="board-2" /></a></td>
      </tr>
      <tr>
        <td>{VALUE_G_SUBJECT}</td>
      </tr>
    </table>
    </td>
    {TAG_TR}
    <!-- END BLOCK : GALLERY_LIST --> 
  </tr>
</table>
    <!-- START BLOCK : PAGE_DATA_SHOW -->
   <div id="page">
        <!-- START BLOCK : PAGE_BACK_SHOW -->
        <a href="{VALUE_PAGES_BACK}"><img src="{TAG_THEME_PATH}bt-page02.gif" ></a>
        <!-- END BLOCK : PAGE_BACK_SHOW -->
        {VALUE_PAGES_STR}
        <!-- START BLOCK : PAGE_NEXT_SHOW -->
        <a href="{VALUE_NEXT_BACK}"><img src="{TAG_THEME_PATH}bt-page03.gif" ></a>
        <!-- END BLOCK : PAGE_NEXT_SHOW -->
   </div>
    <!-- END BLOCK : PAGE_DATA_SHOW -->