<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="x-ua-compatible" content="IE=edge"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title> {HEADER_META_TITLE} </title>
{TAG_META_REFRESH}
<meta name="keywords" content="{HEADER_META_KEYWORD}" />
<meta name="description" content="{HEADER_META_DESCRIPTION}" />
<meta name="robots" content="nofllow" />
<link href="{TAG_ROOT_PATH}css/index.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" language="javascript" src="{TAG_ROOT_PATH}js/jquery/jquery-1.8.2.js"></script>
<link href="{TAG_ROOT_PATH}js/nivo/themes/nivo-slider.css" rel="stylesheet" type="text/css">
<link href="{TAG_ROOT_PATH}js/nivo/themes/default/default.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{TAG_ROOT_PATH}js/nivo/jquery.nivo.slider.pack.js"></script>
<!--[if IE 6]>
<script src="js/DD_belatedPNG_0.0.8a.js"></script>
<script type="text/javascript">
DD_belatedPNG.fix('.theme-default .nivo-controlNav a, .theme-default .nivo-directionNav a');

/* PNG IE6 */
</script>
<![endif]-->
</head>

<body>
<div id="wrapper">

<div id="top">
<div id="logo"><a href="{TAG_ROOT_PATH}"><img src="{TAG_THEME_PATH}hit.gif" width="290" height="90" /></a></div>
<div id="lang"><a href="{TAG_ROOT_PATH}sitemap.htm">Sitemap</a> <a href="/">Home</a> <a href="#">English</a> <a href="#">中文</a></div>

<div id="menu">
<ul>
<li><a href="{TAG_ROOT_PATH}aboutus.htm" >About Us</a></li>
<li><a href="{TAG_ROOT_PATH}products.htm" >Products</a></li>
<li><a href="{TAG_ROOT_PATH}new-products.htm" >New Products</a></li>
<li><a href="{TAG_ROOT_PATH}news.htm" >News</a></li>   
<li><a href="{TAG_ROOT_PATH}ebook/ebook1" >Catalog</a></li>
<li><a href="{TAG_ROOT_PATH}contactus.htm" >Contact Us</a></li>
</ul>
</div>
<!--end menu -->
</div>

<div id="banner">
<!--<embed src="swf/index.swf" width="1004" height="551" type="application/x-shockwave-flash" wmode="transparent"></embed>-->

    <div class="slider-wrapper theme-default">
        <div class="ribbon"></div>
        <div id="slider" class="nivoSlider">
            <a href="#"><img src="{TAG_THEME_PATH}banner_01.jpg" alt="banner1"/></a>
            <a href="#"><img src="{TAG_THEME_PATH}banner_02.jpg" alt="banner2"/></a>
            <a href="#"><img src="{TAG_THEME_PATH}banner_03.jpg" alt="banner3"/></a>
            <a href="#"><img src="{TAG_THEME_PATH}banner_04.jpg" alt="banner4"/></a>
        </div>
        <div id="htmlcaption" class="nivo-html-caption">
        <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.
        </div>
    </div>
</div>



<div id="bottom">

<div class="t01">Information</div>
<div class="t02">
ADD: No. 82, 32nd Road, Taichung Industrial Park, Taichung, Taiwan<br />
TEL: 886-4-23509600 FAX: 886-4-23509601<br />
E-MAIL: <a href="mailto:sales@cuttway.com">sales@cuttway.com</a></div>

<h1>Folding Survival Knives Manufacturer</h1>
<h2>
  Cuttway <a href="{TAG_ROOT_PATH}aboutus.htm" title="Knife Manufacturer">knife manufacturer</a> offers all kinds of <a href="daily-folders.htm" title="Folding Survival Knives">folding survival knives</a>, <a href="#" title="Military Survival Knife">military survival knife</a>,  <a href="#">outdoor knife</a>, <a href="#">double blade folding knife</a>. Looking for an experienced and the best knife manufacturer? Cuttway is a trustworthy knives manufacturer for you.</h2>

<div class="nsbtn"><a href="{TAG_ROOT_PATH}news.htm"><img src="{TAG_THEME_PATH}hit.gif" width="50" height="50" /></a></div>

<div id="footer">Copyright &copy; 2012 CUTTWAY PRODUCTS CO., LTD.  All Rights Reserved.</div>


</div>
<!--end bottom -->




</div>
<!--end wrapper -->


</body>

<script type="text/javascript">
$(window).load(function() {
    $('#slider').nivoSlider({
        directionNav: true, // Next & Prev navigation
        directionNavHide: true, // Only show on hover
        controlNav: true, // 1,2,3... navigation
        controlNavThumbs: false, // Use thumbnails for Control Nav
        pauseOnHover: true, // Stop animation while hovering
        manualAdvance: false, // Force manual transitions
    });
});
</script>
</html>
