        <form name="loginform" method="post" action="{TAG_ROOT_PATH}login.php?func=check_data" style="margin:0px;padding:0px;">

            {MSG_LOGIN_NOTICE1}
            <div class="member_login">
            <table>
              <tr>
                <td class="cart_title_icon">{MSG_MEMBER_LOGIN}</td>
              </tr>
              <tr>
                <td><input class="ipt1 iptbox" type="text" name="mm_account" placeholder="{MSG_LOGIN_ACCOUNT}{MSG_LOGIN_EX_DESC}"></td>
              </tr>
              <tr>
                <td><input class="ipt1 iptbox" type="password" name="mm_password" placeholder="{MSG_LOGIN_PASSWORD}"></td>
              </tr>
              <tr>
                <td><input class="ipt2 iptbox" style="float: left;" type="text" name="security" placeholder="{MSG_LOGIN_SECURITY}"> <div class="security_pic">{TAG_IMAGE_SECURITY_IMAGE}</div>&nbsp;&nbsp;<br/>
                    <font color="red">{MSG_ERROR_MESSAGE}</font>
                </td>
              </tr>
              <tr>
                <td class="fg_pw">
                <a href="{TAG_ROOT_PATH}member.php?func=m_forget">{MSG_LOGIN_FORGOT_PASSWORD}</a>
                <input type="button" class="shop_btn" value="{MSG_LOGIN_BUTTON}" onclick="loginform.submit();" />
                </td>
              </tr>
            </table>
            </div>



            <div class="login_first">
            <table>
              <tr>
                <td class="cart_title_icon">{MSG_LOGIN_REGISTER}</td>
              </tr>
              <tr>
                <td><a href="{TAG_ROOT_PATH}member.php?func=m_add"><div class="firstbuy_btn"><span>{MSG_MEMBER_LOGIN_DESC1}</span><br>{MSG_MEMBER_LOGIN_DESC2}</div></a></td>
              </tr>
            </table>
                <!-- START BLOCK : SOCIAL_LOGIN -->
                <div id="social-login-tool">
                    <h4>以現有帳號登入</h4>
                    <!-- START BLOCK : FB_LOGIN -->
                    <div id="fb-login">
                        <fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>
                        <!--<a href="#" id="login-fb">以fb帳號登入</a>-->
                    </div>
                    <!-- END BLOCK : FB_LOGIN -->
                </div>
                <!-- END BLOCK : SOCIAL_LOGIN -->
            </div>
            <input type="hidden" name="callback" value="1">
            <input type="hidden" name="return_url" value="{TAG_RETURN_URL}"/>            
        </form>
        <!-- START BLOCK : FB_JS -->
        <script src="{TAG_ROOT_PATH}js/fb-app.js" type="text/javascript"></script>
        <script type="text/javascript">
            function checkLoginState(){
                FB.getLoginStatus(function(response) {
                    if (response.status === 'connected') {
                        var fb_uid = response.authResponse.userID;
                        location.href = "{TAG_ROOT_PATH}fb-login.php?fb_uid="+fb_uid+"&return="+loginform['return_url'].value;
                    } else if (response.status === 'not_authorized') {
                        // The person is logged into Facebook, but not your app.
                    } else {
                        // The person is not logged into Facebook, so we're not sure if
                        // they are logged into this app or not.
                    }
                }); 
            }
            function getLoginedAuthInfo(){
                console.log('calling getLoginedAuthInfo');
            }
        </script>
        <!-- END BLOCK : FB_JS -->
