        <form name="loginform" method="post" action="{TAG_ROOT_PATH}login.php?func=check_data" style="margin:0px;padding:0px;">

            {MSG_LOGIN_NOTICE1}
            <div class="member_login">
            <table>
              <tr>
                <td class="cart_title_icon">{MSG_MEMBER_LOGIN}</td>
              </tr>
              <tr>
                <td><input class="ipt1 iptbox" type="text" name="mm_account" placeholder="{MSG_LOGIN_ACCOUNT}{MSG_LOGIN_EX_DESC}"></td>
              </tr>
              <tr>
                <td><input class="ipt1 iptbox" type="password" name="mm_password" placeholder="{MSG_LOGIN_PASSWORD}"></td>
              </tr>
              <tr>
                <td><input class="ipt2 iptbox" style="float: left;" type="text" name="security" placeholder="{MSG_LOGIN_SECURITY}"> <div class="security_pic">{TAG_IMAGE_SECURITY_IMAGE}</div>&nbsp;&nbsp;<br/>
                    <font color="red">{MSG_ERROR_MESSAGE}</font>
                </td>
              </tr>
              <tr>
                <td class="fg_pw">
                <a href="{TAG_ROOT_PATH}member.php?func=m_forget">{MSG_LOGIN_FORGOT_PASSWORD}</a>
                <input type="button" class="shop_btn" value="登入" onclick="loginform.submit();" />
                </td>
              </tr>
            </table>
            </div>



            <div class="login_first">
            <table>
              <tr>
                <td class="cart_title_icon">{MSG_LOGIN_REGISTER}</td>
              </tr>
              <tr>
                <td><a href="{TAG_ROOT_PATH}member.php?func=m_add"><div class="firstbuy_btn"><span>您不需先加入會員，按此即可完成結帳</span><br>※如您已是會員，請由左邊選項登入</div></a></td>
              </tr>
            </table>
            </div>
            <input type="hidden" name="callback" value="1">
            <input type="hidden" name="return_url" value="{TAG_RETURN_URL}"/>            
        </form>
