<div id="tp_product">
    <!-- START BLOCK : ORDER_LIST_ZONE -->
    <table width="98%" border="0" align="center" cellpadding="4" cellspacing="1" class="member_zone_table">
        <tr class="altrow">
            <th width="5%"> No.</th>
            <th width="15%"> {MSG_ORDER_ID}</th>
            <th width="22%"> {MSG_CREATEDATE}</th>
            <th width="22%"> {MSG_MODIFYDATE}</th>
            <th width="12%"> {MSG_TOTAL_MONEY}</th>
            <th width="12%"> {MSG_VIEWS}</th>
            <th width="12%"> {MSG_STATUS}</th>
        </tr>
        <!-- START BLOCK : ORDER_LIST -->
        <tr>
            <td>{VALUE_O_SERIAL}</td>
            <td>{VALUE_O_ID}</td>
            <td>{VALUE_O_CREATEDATE}</td>
            <td>{VALUE_O_MODIFYDATE}</td>
            <td>{VALUE_O_TOTAL_PRICE}</td>
            <td><a href="member.php?func=m_zone&mzt=order&type=detail&o_id={VALUE_O_ID}&now_page={VALUE_NOW_PAGE}&jump_page={VALUE_JUMP_PAGE}">{VALUE_O_DETAIL}</a></td>
            <td>
                <div class="ajax_place">
                    <!-- START BLOCK : UNATM_FIELD -->
                    <div class="unatm_block">
                        匯款帳號<br/>
                        <input type="text" name="o_atm_last5" data-field rel='last5' value="" maxlength="5" size="5"/><br/>
                        匯款金額<br/>
                        <input type="text" name="remit_amount" value="" size="5"/><br/>                        
                        <input type="button" class="ajax_remit" value="確認匯款" rel="{VALUE_O_ID}"/>                
                    </div>
                    <!-- END BLOCK : UNATM_FIELD -->
                    <!-- START BLOCK : BTN_CANCEL_ORDER -->
                    <input type="button" value="取消訂單" class="cancel_order" rel="{VALUE_O_ID}"/>
                    <!-- END BLOCK : BTN_CANCEL_ORDER -->
                    <span class="{STATUS_CLASS}">{VALUE_O_STATUS}</span>
                </div>                
            </td>
        </tr>
        <!-- END BLOCK : ORDER_LIST -->
    </table>
    <script type="text/javascript">
        jQuery(function($){
           $(document).ready(function(){
               $(".cancel_order").click(function(evt){
                   var obj = this;
                   var box = $(obj).parents(".ajax_place");                   
                   var data = {
                       o_id : $(this).attr("rel")
                   };                   
                   box.append("<div class='layerContent'><img src='{TAG_THEME_PATH}ajax-loader.gif'/></div><div class='layerBackground'></div>");
                   $.post("member.php?func=ajax&action=cancel_order",data,function(req){
                       if(req.code){
                           box.replaceWith(req.msg);
                       }else{
                           alert(req.msg);
                       }
                       box.children('.layerContent,.layerBackground').remove();
                   },"json");
               });
              $(".ajax_remit").click(function(){
                  var obj = this;
                  var box = $(obj).parents(".ajax_place");                      
                  var container = $(this).parents('div.unatm_block');
                  var fieldname = container.find(":input[data-field]").attr('name');
                  var datatype = container.find(":input[data-field]").attr('rel');
                  var fieldvalue = container.find(":input[data-field]").val();
                  var remit_amount = container.find(":input[name=remit_amount]").val();
                  var o_id = $(this).attr('rel');
                  if(fieldvalue!=""){
                      var data = { o_id:o_id,datatype:datatype };
                      data[fieldname] = fieldvalue;
                      data['remit_amount'] = remit_amount;
                      box.append("<div class='layerContent'><img src='{TAG_THEME_PATH}ajax-loader.gif'/></div><div class='layerBackground'></div>");
                      $.post("member.php?func=ajax&action=write_last5",data,function(req){
                            if(req.code){
                                container.remove();
                                alert("我們將在查核無誤後立即出貨, 謝謝您!");
                            }else{
                                alert(req.msg);
                            }
                            box.children('.layerContent,.layerBackground').remove();                           
                      },'json');
                  }else{
                      alert("請輸入匯款後五碼!");
                  }
              });               
           });
        });
    </script>    
    <!-- END BLOCK : ORDER_LIST_ZONE -->
    <!-- START BLOCK : ORDER_DETAIL_ZONE -->
    <table width="98%" border="0" align="center" cellpadding="4" cellspacing="1" class="member_zone_table">
        <tr>
            <th colspan="2"> {MSG_ORDER_DETAIL}</th>
        </tr>
        <tr>
            <th colspan="2">訂單資訊</th>
        </tr>
        <tr>
            <td>{MSG_ORDER_ID}</td>
            <td>{VALUE_O_ID}</td>
        </tr>
        <tr>
            <td>{MSG_STATUS}</td>
            <td>{VALUE_O_STATUS_SUBJECT}</td>
        </tr>
        <tr>
            <td>運送區域</td>
            <td>{VALUE_O_SHIPPMENT_TYPE}</td>
        </tr>        
        <tr>
            <td>{MSG_PAYMENT_TYPE}</td>
            <td>{VALUE_O_PAYMENT_TYPE}</td>
        </tr>
        <tr>
            <td>匯款後五碼</td>
            <td>{VALUE_O_ATM_LAST5}</td>
        </tr>
        <!-- START BLOCK : DELIVERY_TIMESEC -->
        <tr>
            <td>{MSG_DELIVER_STR}</td>
            <td>{VALUE_O_DELIVER_DATE} {VALUE_O_DELIVER_TIMESEC}</td>
        </tr>
        <!-- END BLOCK : DELIVERY_TIMESEC -->
        <tr>
            <td>{MSG_CONTENT}</td>
            <td>&nbsp;{VALUE_O_CONTENT}</td>
        </tr>        
        <tr>
            <th colspan="2">{MSG_INVOICE_INFO}</th>
        </tr>
        <tr>
            <td>{MSG_INVOICE_INFO}</td>
            <td>{VALUE_O_INVOICE_TYPE}</td>
        </tr>
        <tr>
            <td>{MSG_COMPANY_NAME}</td>
            <td>{VALUE_O_COMPANY_NAME}</td>
        </tr>
        <tr>
            <td>{MSG_VAT_NUMBER}</td>
            <td>{VALUE_O_VAT_NUMBER}</td>
        </tr>
        <tr>
            <td>{MSG_FAX}</td>
            <td>{VALUE_O_FAX}</td>
        </tr>          
        <tr>
            <th colspan="2">{MSG_BUYER_INFO}</th>
        </tr>
        <tr>
            <td>{MSG_CONTACT_PERSON}</td>
            <!-- START BLOCK : ORDER_S_1 -->
            <td>{VALUE_O_CONTACT_S}&nbsp;{VALUE_O_NAME}</td>
            <!-- END BLOCK : ORDER_S_1 -->
            <!-- START BLOCK : ORDER_S_2 -->
            <td>{VALUE_O_NAME}&nbsp;{VALUE_O_CONTACT_S}</td>
            <!-- END BLOCK : ORDER_S_2 -->            
        </tr>
        <tr>
            <td>{MSG_TEL}</td>
            <td>{VALUE_O_TEL}</td>
        </tr>
        <tr>
            <td>{MSG_CELLPHONE}</td>
            <td>{VALUE_O_CELLPHONE}</td>
        </tr>
        <tr>
            <td>{MSG_ZIP}</td>
            <td>
                {VALUE_O_ZIP}</td>
        </tr>
        <tr>
            <td>{MSG_ADDRESS}</td>
            <td>{VALUE_O_ADDRESS}</td>
        </tr>
        <tr>
            <td>e-mail</td>
            <td>{VALUE_O_EMAIL}</td>
        </tr>
        <tr>
            <th colspan="2">{MSG_RECI_INFO}</th>
        </tr>
        <tr>
            <td>{MSG_CONTACT_PERSON}</td>
            <!-- START BLOCK : RECI_ORDER_S_1 -->
            <td>{VALUE_O_CONTACT_S}&nbsp;{VALUE_O_NAME}</td>
            <!-- END BLOCK : RECI_ORDER_S_1 -->
            <!-- START BLOCK : RECI_ORDER_S_2 -->
            <td>{VALUE_O_NAME}&nbsp;{VALUE_O_CONTACT_S}</td>
            <!-- END BLOCK : RECI_ORDER_S_2 -->            
        </tr>
        <tr>
            <td>{MSG_TEL}</td>
            <td>{VALUE_O_RECI_TEL}</td>
        </tr>
        <tr>
            <td>{MSG_CELLPHONE}</td>
            <td>{VALUE_O_RECI_CELLPHONE}</td>
        </tr>
        <tr>
            <td>{MSG_ZIP}</td>
            <td>
                {VALUE_O_RECI_ZIP}</td>
        </tr>
        <tr>
            <td>{MSG_ADDRESS}</td>
            <td>{VALUE_O_RECI_ADDRESS}</td>
        </tr>
        <tr>
            <td>e-mail</td>
            <td>{VALUE_O_RECI_EMAIL}</td>
        </tr>        
        <tr>
            <th colspan="2"  valign="top">
                <center> {MSG_ORDER_CONTENT}</center>
            </th>
        </tr>
        <tr>
            <td colspan="2">
                <table width="98%" border="0" align="center" cellpadding="4" cellspacing="1" class="member_zone_table">
                    <tr class="altrow">
                        <th width="5%"> No.</th>
                        <th width=""> {MSG_PRODUCT}</th>
                        <!-- START BLOCK : SPEC_TITLE_ORDER -->
                        <th width=""> {MSG_SPEC}</th>
                        <!-- END BLOCK : SPEC_TITLE_ORDER -->    
                        <th width="10%"> {MSG_AMOUNT}</th>
                        <th width="10%"> {MSG_PRODUCT_SPECIAL_PRICE}</th>
                        <th width="10%"> {MSG_DISCOUNT}</th>
                        <th width="10%"> {MSG_SUBTOTAL}</th>
                    </tr>
                    <!-- START BLOCK : ORDER_ITEMS_LIST -->
                    <tr>
                        <td>{VALUE_P_SERIAL}</td>
                        <td>{VALUE_P_NAME}</td>
                        <!-- START BLOCK : SPEC_FIELD_ORDER -->
                        <td>{VALUE_SPEC}</td>
                        <!-- END BLOCK : SPEC_FIELD_ORDER -->  
                        <td class="nums">{VALUE_P_AMOUNT}</td>
                        <td class="nums">{VALUE_P_SELL_PRICE}</td>
                        <td class="nums">{TAG_QUANTITY_DISCOUNT}</td>
                        <td class="nums">{VALUE_P_SUBTOTAL_PRICE}</td>
                    </tr>
                    <!-- END BLOCK : ORDER_ITEMS_LIST -->
                    <tr>
                        <td colspan="{CART_FIELDS_NUMS}"><div align="right"> {MSG_SUBTOTAL}:&nbsp;</div></td>
                        <td class="nums">{VALUE_O_SUBTOTAL_PRICE}</td>
                    </tr>
                    <tr>
                        <td colspan="{CART_FIELDS_NUMS}"><div align="right"> 折扣:&nbsp;</div></td>
                        <td class="nums"><span style="color:red">{VALUE_O_MINUS_PRICE}</span></td>
                    </tr>
                    <tr>
                        <td colspan="{CART_FIELDS_NUMS}"><div align="right"> {MSG_SHIPPING_PRICE}:&nbsp;</div></td>
                        <td class="nums">{VALUE_O_PLUS_PRICE}</td>
                    </tr>
                    <tr>
                        <td colspan="{CART_FIELDS_NUMS}"><div align="right"> {MSG_PLUS_FEE}:&nbsp;</div></td>
                        <td class="nums"> {VALUE_O_CHARGE_FEE}</td>
                    </tr>                    
                    <tr>
                        <th colspan="{CART_FIELDS_NUMS}"><div align="right"> {MSG_TOTAL}:&nbsp;</div></th>
                        <th class="nums"> {VALUE_O_TOTAL_PRICE}</th>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <!-- END BLOCK : ORDER_DETAIL_ZONE -->
    <!-- START BLOCK : INQUIRY_LIST_ZONE -->
    <table width="98%" border="0" align="center" cellpadding="4" cellspacing="1" class="member_zone_table">
        <tr class="altrow">
            <th width="5%"> No.</th>
            <th width="15%"> {MSG_INQUIRY_ID}</th>
            <th width="25%"> {MSG_CREATEDATE}</th>
            <th width="25%"> {MSG_MODIFYDATE}</th>
            <th width="9%"> {MSG_VIEWS}</th>
            <th width="9%"> {MSG_STATUS}</th>
        </tr>
        <!-- START BLOCK : INQUIRY_LIST -->
        <tr>
            <td>{VALUE_I_SERIAL}</td>
            <td>{VALUE_I_ID}</td>
            <td>{VALUE_I_CREATEDATE}</td>
            <td>{VALUE_I_MODIFYDATE}</td>
            <td><a href="member.php?func=m_zone&mzt=inquiry&type=detail&i_id={VALUE_I_ID}&now_page={VALUE_NOW_PAGE}&jump_page={VALUE_JUMP_PAGE}">{VALUE_I_DETAIL}</a></td>
            <td>{VALUE_I_STATUS}</td>
        </tr>
        <!-- END BLOCK : INQUIRY_LIST -->
    </table>
    <!-- END BLOCK : INQUIRY_LIST_ZONE -->
    <!-- START BLOCK : INQUIRY_DETAIL_ZONE -->
    <table width="98%" border="0" align="center" cellpadding="4" cellspacing="1" class="member_zone_table">
        <tr>
            <th colspan="2"> {MSG_INQUIRY_DETAIL}</th>
        </tr>
        <tr>
            <td>{MSG_INQUIRY_ID}</td>
            <td>{VALUE_I_ID}</td>
        </tr>
        <tr>
            <td>{MSG_STATUS}</td>
            <td>{VALUE_I_STATUS_SUBJECT}</td>
        </tr>
        <tr>
            <td>{MSG_CONTACT_PERSON}</td>
            <!-- START BLOCK : INQUIRY_S_1 -->
            <td>{VALUE_I_CONTACT_S}&nbsp;{VALUE_I_NAME}</td>
            <!-- END BLOCK : INQUIRY_S_1 -->
            <!-- START BLOCK : INQUIRY_S_2 -->
            <td>{VALUE_I_NAME}&nbsp;{VALUE_I_CONTACT_S}</td>
            <!-- END BLOCK : INQUIRY_S_2 -->
        </tr>
        <tr>
            <td>{MSG_TEL}</td>
            <td>{VALUE_I_TEL}</td>
        </tr>
        <tr>
            <td>{MSG_FAX}</td>
            <td>{VALUE_I_FAX}</td>
        </tr>
        <tr>
            <td>{MSG_CELLPHONE}</td>
            <td>{VALUE_I_CELLPHONE}</td>
        </tr>
        <tr>
            <td>{MSG_ZIP}</td>
            <td>{VALUE_I_ZIP}</td>
        </tr>
        <tr>
            <td>{MSG_ADDRESS}</td>
            <td>{VALUE_I_ADDRESS}</td>
        </tr>
        <tr>
            <td>e-mail</td>
            <td>{VALUE_I_EMAIL}</td>
        </tr>
        <tr>
            <th colspan="2"  valign="top">
                <center> {MSG_INQUIRY_CONTENT}</center>
            </th>
        </tr>
        <tr>
            <td>{MSG_CONTENT}</td>
            <td>{VALUE_I_CONTENT}</td>
        </tr>
        <tr>
            <td>{MSG_REPLY}</td>
            <td>{VALUE_I_REPLY}</td>
        </tr>
        <tr>
            <td colspan="2">
                <table width="98%" border="0" align="center" cellpadding="4" cellspacing="1" class="member_zone_table">
                    <tr class="altrow">
                        <th width="5%"> No.</th>
                        <th width=""> {MSG_PRODUCT}</th>
                        <!-- START BLOCK : SPEC_TITLE -->
                        <th width=""> {MSG_SPEC}</th>
                        <!-- END BLOCK : SPEC_TITLE -->    
                        <th width="10%"> {MSG_AMOUNT}</th>
                    </tr>
                    <!-- START BLOCK : INQUIRY_ITEMS_LIST -->
                    <tr>
                        <td>{VALUE_P_SERIAL}</td>
                        <td>{VALUE_P_NAME}</td>
                        <!-- START BLOCK : SPEC_FIELD -->
                        <td>{VALUE_SPEC}</td>
                        <!-- END BLOCK : SPEC_FIELD -->  
                        <td>{VALUE_P_AMOUNT}</td>
                    </tr>
                    <!-- END BLOCK : INQUIRY_ITEMS_LIST -->
                </table>
            </td>
        </tr>
    </table>
    <!-- END BLOCK : INQUIRY_DETAIL_ZONE -->
    <!-- START BLOCK : CONTACTUS_LIST_ZONE -->
    <table width="98%" border="0" cellpadding="0" cellspacing="0" class="member_zone_table">
        <tr class="altrow">
            <th width="5%"> No.</th>
            <th width="20%"> {MSG_CATE}</th>
            <th width="45%"> {MSG_NAME}</th>
            <th width="20%"> {MSG_CREATEDATE}</th>
            <th width="10%"> {MSG_STATUS}</th>
        </tr>
        <!-- START BLOCK : CONTACTUS_LIST -->
        <tr>
            <td>{VALUE_CU_SERIAL}</td>
            <td>{VALUE_CUC_SUBJECT}</td>
            <td><a href="member.php?func=m_zone&mzt=contactus&type=detail&cu_id={VALUE_CU_ID}&now_page={VALUE_NOW_PAGE}&jump_page={VALUE_JUMP_PAGE}">{VALUE_CU_NAME}</a></td>
            <td>{VALUE_CU_MODIFYDATE}</td>
            <td>{VALUE_CU_STATUS}</td>
        </tr>
        <!-- END BLOCK : CONTACTUS_LIST -->
    </table>
    <!-- END BLOCK : CONTACTUS_LIST_ZONE -->
    <!-- START BLOCK : CONTACTUS_DETAIL_ZONE -->
    <table width="98%" border="0" cellpadding="0" cellspacing="0" class="member_zone_table">
        <tr>
            <th colspan="2"> {MSG_CONTACT_US_DETAIL}</th>
        </tr>
        <tr>
            <td>{MSG_CATE}</td>
            <td>{VALUE_CUC_SUBJECT}</td>
        </tr>
        <tr>
            <td>{MSG_STATUS}</td>
            <td>{VALUE_CU_STATUS_SUBJECT}</td>
        </tr>
        <tr>
            <td>{MSG_NAME}</td>
            <td>{VALUE_CU_NAME}</td>
        </tr>
        <tr>
            <td>{MSG_TEL}</td>
            <td>{VALUE_CU_TEL}</td>
        </tr>
        <tr>
            <td>{MSG_FAX}</td>
            <td>{VALUE_CU_FAX}</td>
        </tr>
        <tr>
            <td>{MSG_ADDRESS}</td>
            <td>{VALUE_CU_ADDRESS}</td>
        </tr>
        <tr>
            <td>e-mail</td>
            <td>{VALUE_CU_EMAIL}</td>
        </tr>
        <tr>
            <td colspan="2" align="center" valign="top">
                {MSG_CONTACT_US_REPLY}
            </td>
        </tr>
        <!-- START BLOCK : CONTACTUS_REPLY_LIST -->
        <tr>
            <td colspan="2"> {MSG_CONTACT_US_REPLY_TIME}:{VALUE_CUR_MODIFYDATE}
                <br>{MSG_CONTACT_US_REPLY_CONTENT}:{VALUE_CUR_CONTENT}</td>
        </tr>
        <!-- END BLOCK : CONTACTUS_REPLY_LIST -->
    </table>
    <!-- END BLOCK : CONTACTUS_DETAIL_ZONE -->
    <!-- START BLOCK : MEMBER_PAGEVIEW -->
    <span>說明:顯示最新20筆瀏覽記錄</span>
    <table width="98%" border="0" align="center" cellpadding="4" cellspacing="1" class="member_zone_table">
        <tr>
            <th width="5%"> No.</th>
            <th width="25%">頁面類別</th>
            <th width="50%">網址</th>
            <th width="20%">瀏覽時間</th>
        </tr>
        <!-- START BLOCK : HISTORY_LIST -->
        <tr>
            <td>{TAG_SERIAL}</td>
            <td>{MSG_PAGE_TYPE}</td>
            <td><a href="{MSG_REQUEST_URI}" target="history">{MSG_REQUEST_URI}</a></td>
            <td>{MSG_MODIFYDATE}</td>
        </tr>
        <!-- END BLOCK : HISTORY_LIST -->
    </table>
    <!-- END BLOCK : MEMBER_PAGEVIEW -->
    <!-- START BLOCK : MEMBER_COLLECT -->
    <form name="myform" action="{TAG_ROOT_PATH}member.php?func=m_zone&mzt=collect&act=delete" method="post">
        <div>說明:顯示最新20筆收藏記錄</div>
        <div class="operator"><input type="button" class="op-del" value="刪除"/></div>
        <table width="98%" border="0" align="center" cellpadding="4" cellspacing="1" class="member_zone_table">
            <tr>
                <th width="7%"> 刪除</th>
                <th width="7%"> No.</th>
                <th width="15%">產品圖片</th>
                <th width="">產品名稱</th>
                <!-- START BLOCK : SHOP_TITLE -->
                <th width="12%">特價</th>
                <th width="12%">加入購物車</th>
                <!-- END BLOCK : SHOP_TITLE -->
                <th width="12%">收藏時間</th>
            </tr>
            <!-- START BLOCK : COLLECT_LIST -->
            <tr>
                <td><input type="checkbox" name="delete[]" value="{COLLECT_ID}"/></td>
                <td>{TAG_SERIAL}</td>
                <td><a href="{VALUE_P_LINK}"><img src="{VALUE_P_SMALL_IMG}" width="{VALUE_P_SMALL_IMG_W}" height="{VALUE_P_SMALL_IMG_H}"/></a></td>
                <td><a href="{VALUE_P_LINK}">{VALUE_P_NAME}</a></td>
                <!-- START BLOCK : SHOP_FIELD -->
                <td>{VALUE_P_PRICE}</td>
                <td>{TAG_CART_LINK}</td>
                <!-- END BLOCK : SHOP_FIELD -->
                <td>{MSG_CREATEDATE}</td>
            </tr>
            <!-- END BLOCK : COLLECT_LIST -->
        </table>
        <div class="operator"><input type="button" class="op-del" value="刪除"/></div>
        <script type="text/javascript">
            jQuery(function($){
                $(".op-del").click(function(evt){
                    if(confirm("確定刪除嗎?")){
                        $(myform).trigger("submit");
                    }
                });
                $(".prodToCart").click(function(evt){
                     evt.preventDefault();
                     var formData = "func=c_add";
                     if($(this).attr('rel')!=''){
                         formData += "&p_id="+$(this).attr('rel');
                     }
                     formData += "&amount=1&via_ajax=1";
                     $.post("{CART_PATH}",formData,function(req){
                         if(req.code=='1'){
                             alert("已加入購物車");
                         }else{
                             alert(req.msg);
                         }
                         $("#cart-nums").text(req.cart_nums);
                     },'json');
                });               
            });
        </script>
    </form>
    <!-- END BLOCK : MEMBER_COLLECT -->
    <div align="center">
        <font size='3' color="#ff0000"> {MSG_NO_DATA}</font>
    </div>
    <!-- INCLUDE BLOCK : ./templates/ws-fn-pagination-tpl.html -->
</div>
