<!-- START BLOCK : ENG_REGISTER_FORGET_PASSWORD -->
<form name="myform" method="post" action="{TAG_ROOT_PATH}member.php?func=m_forget" style="margin:0px;padding:0px;">
<table cellpadding="0" cellspacing="0" border="0">
<tr>
    <td valign="top">
    <div class="member">
    <table cellpadding="2" cellspacing="0" border="0" class="member_forget_table">
    <tr>
        <td colspan="2">Enter in your email address to recover your password.<br>
        When you submit this request, your password will be reset, and a new password will be sent to you via email.<br><br>
        Enter your Email address and click "Submit". 
        </td>
    </tr>
    <tr>
        <th>E-mail:</th>
        <td><input type="text" name="m_email" size="28"> <input type="submit" value="Submit"></td>
    </tr>
    <tr>
        <th>{MSG_LOGIN_SECURITY}</th>
        <td>{TAG_IMAGE_SECURITY_IMAGE}{TAG_INPUT_SECURITY}</td>
    </tr>      
    </table>
    </div>
    </td>
</tr>
</table>
</form>
<!-- END BLOCK : ENG_REGISTER_FORGET_PASSWORD -->
<!-- START BLOCK : ENG_REGISTER_SEND_PASSWORD_SUCCESSFULLY -->
<table cellpadding="0" cellspacing="0" border="0">
<tr>
    <td valign="top">
    <div class="member">
    <table cellpadding="2" cellspacing="0" border="0" class="member_forget_table">
    <tr>
        <td colspan="2">Send Password Successfully!<br>
        We have sent the password to your email address.</td>
    </tr>
    </table>
    </div>
    </td>
</tr>
</table>
<!-- END BLOCK : ENG_REGISTER_SEND_PASSWORD_SUCCESSFULLY -->


<!-- START BLOCK : CHT_REGISTER_FORGET_PASSWORD -->
<form name="myform" method="post" action="{TAG_ROOT_PATH}member.php?func=m_forget" style="margin:0px;padding:0px;">
<table cellpadding="0" cellspacing="0" border="0">
<tr>
    <td valign="top">
    <div class="member">
    <table cellpadding="2" cellspacing="0" border="0" class="member_forget_table">
    <tr>
        <td colspan="2">請輸入您的電子郵件地址，以恢復您的密碼。<br>
        當您提交此要求，您的密碼將被重置，新密碼將通過電子郵件發送給您。<br><br>
        請輸入您的電子郵件地址，然後點擊“提交”。 
        </td>
    </tr>
    <tr>
        <th>E-mail:</th>
        <td><input type="text" name="m_email" size="28"> <input type="submit" value="提交"></td>
    </tr>
    <tr>
        <th>{MSG_LOGIN_SECURITY}</th>
        <td>{TAG_IMAGE_SECURITY_IMAGE}{TAG_INPUT_SECURITY}</td>
    </tr>    
    </table>
    </div>
    </td>
</tr>
</table>
</form>
<!-- END BLOCK : CHT_REGISTER_FORGET_PASSWORD -->
<!-- START BLOCK : CHT_REGISTER_SEND_PASSWORD_SUCCESSFULLY -->
<table cellpadding="0" cellspacing="0" border="0">
<tr>
    <td valign="top">
    <div class="member">
    <table cellpadding="2" cellspacing="0" border="0" class="member_forget_table">
    <tr>
        <td colspan="2">發送密碼成功！<br>
        我們發出的密碼到您的電子郵件地址。</td>
    </tr>
    </table>
    </div>
    </td>
</tr>
</table>
<!-- END BLOCK : CHT_REGISTER_SEND_PASSWORD_SUCCESSFULLY -->


<!-- START BLOCK : CHS_REGISTER_FORGET_PASSWORD -->
<form name="myform" method="post" action="{TAG_ROOT_PATH}member.php?func=m_forget" style="margin:0px;padding:0px;">
<table cellpadding="0" cellspacing="0" border="0">
<tr>
    <td valign="top">
    <div class="member">
    <table cellpadding="2" cellspacing="0" border="0" class="member_forget_table">
    <tr>
        <td colspan="2" style="font:16px 新細明體, 細明體, 標楷體">请输入您的电子邮件地址，以恢复您的密码。<br>
        当您提交此要求，您的密码将被重置，新密码将通过电子邮件发送给您。<br><br>
        请输入您的电子邮件地址，然后点击“提交”。 
        </td>
    </tr>
    <tr>
        <th>E-mail:</th>
        <td><input type="text" name="m_email" size="28"> <input type="submit" value="提交"></td>
    </tr>
    <tr>
        <th>{MSG_LOGIN_SECURITY}</th>
        <td>{TAG_IMAGE_SECURITY_IMAGE}{TAG_INPUT_SECURITY}</td>
    </tr>      
    </table>
    </div>
    </td>
</tr>
</table>
</form>
<!-- END BLOCK : CHS_REGISTER_FORGET_PASSWORD -->
<!-- START BLOCK : CHS_REGISTER_SEND_PASSWORD_SUCCESSFULLY -->
<table cellpadding="0" cellspacing="0" border="0" class="member_forget_table">
<tr>
    <td valign="top">
    <div class="member">
    <table cellpadding="2" cellspacing="0" border="0">
    <tr>
        <td colspan="2" style="font:16px 新細明體, 細明體, 標楷體">发送密码成功！<br>
        我们发出的密码到您的电子邮件地址。</td>
    </tr>
    </table>
    </div>
    </td>
</tr>
</table>
<!-- END BLOCK : CHS_REGISTER_SEND_PASSWORD_SUCCESSFULLY -->


<!-- START BLOCK : JAP_REGISTER_FORGET_PASSWORD -->
<form name="myform" method="post" action="{TAG_ROOT_PATH}member.php?func=m_forget" style="margin:0px;padding:0px;">
<table cellpadding="0" cellspacing="0" border="0">
<tr>
    <td valign="top">
    <div class="member">
    <table cellpadding="2" cellspacing="0" border="0" class="member_forget_table">
    <tr>
        <td colspan="2">パスワードを回復するためにメールアドレスを入力してください。<br>
        あなたはこの要求を送信すると、パスワードがリセットされ、新しいパスワードがあなたに電子メールで送信されます。<br><br>
        あなたのメールアドレスを入力してくださいクリックして"提出してください。" 
        </td>
    </tr>
    <tr>
        <th>電子メール:</th>
        <td><input type="text" name="m_email" size="28"> <input type="submit" value="提出"></td>
    </tr>
    <tr>
        <th>{MSG_LOGIN_SECURITY}</th>
        <td>{TAG_IMAGE_SECURITY_IMAGE}{TAG_INPUT_SECURITY}</td>
    </tr>      
    </table>
    </div>
    </td>
</tr>
</table>
</form>
<!-- END BLOCK : JAP_REGISTER_FORGET_PASSWORD -->
<!-- START BLOCK : JAP_REGISTER_SEND_PASSWORD_SUCCESSFULLY -->
<table cellpadding="0" cellspacing="0" border="0">
<tr>
    <td valign="top">
    <div class="member">
    <table cellpadding="2" cellspacing="0" border="0" class="member_forget_table">
    <tr>
        <td colspan="2">パスワードが正常に送信！<br>
        私たちはあなたのメールアドレスにパスワードを送信します。</td>
    </tr>
    </table>
    </div>
    </td>
</tr>
</table>
<!-- END BLOCK : JAP_REGISTER_SEND_PASSWORD_SUCCESSFULLY -->


<!-- START BLOCK : SPA_REGISTER_FORGET_PASSWORD -->
<form name="myform" method="post" action="{TAG_ROOT_PATH}member.php?func=m_forget" style="margin:0px;padding:0px;">
<table cellpadding="0" cellspacing="0" border="0">
<tr>
    <td valign="top">
    <div class="member">
    <table cellpadding="2" cellspacing="0" border="0" class="member_forget_table">
    <tr>
        <td colspan="2">Ingrese su dirección de correo electrónico para recuperar su contraseña.<br>
        Al presentar esta solicitud, su contraseña se restablecerá y una nueva contraseña le será enviada vía correo electrónico.<br><br>
        Ingrese su dirección de correo electrónico y haga clic en "Enviar". 
        </td>
    </tr>
    <tr>
        <th>E-mail:</th>
        <td><input type="text" name="m_email" size="28"> <input type="submit" value="Enviar"></td>
    </tr>
    <tr>
        <th>{MSG_LOGIN_SECURITY}</th>
        <td>{TAG_IMAGE_SECURITY_IMAGE}{TAG_INPUT_SECURITY}</td>
    </tr>      
    </table>
    </div>
    </td>
</tr>
</table>
</form>
<!-- END BLOCK : SPA_REGISTER_FORGET_PASSWORD -->
<!-- START BLOCK : SPA_REGISTER_SEND_PASSWORD_SUCCESSFULLY -->
<table cellpadding="0" cellspacing="0" border="0">
<tr>
    <td valign="top">
    <div class="member">
    <table cellpadding="2" cellspacing="0" border="0" class="member_forget_table">
    <tr>
        <td colspan="2">Enviar Contraseña éxito!<br>
        Hemos enviado la contraseña a su dirección de correo electrónico.</td>
    </tr>
    </table>
    </div>
    </td>
</tr>
</table>
<!-- END BLOCK : SPA_REGISTER_SEND_PASSWORD_SUCCESSFULLY -->