<!-- START BLOCK : REGISTER_FORGET_PASSWORD -->
<div class="forget_pw">
    <form name="myform" method="post" action="{TAG_ROOT_PATH}member.php?func=m_forget">
        <table>
          <tr>
            <td>
            <!-- START BLOCK : LANG_ENG -->
            Enter in your email address to recover your password.<br>
            When you submit this request, your password will be reset, and a new password will be sent to you via email.<br><br>
            Enter your Email address and click "Submit". 
            <!-- END BLOCK : LANG_ENG -->
            <!-- START BLOCK : LANG_CHT -->
            請輸入您的電子郵件地址，以恢復您的密碼。<br>
            當您提交此要求，您的密碼將被重置，新密碼將透過電子郵件發送給您。<br><br>
            請輸入您的電子郵件地址，然後點擊“提交”。 
            <!-- END BLOCK : LANG_CHT -->
            <!-- START BLOCK : LANG_CHS -->
            请输入您的电子邮件地址，以恢复您的密码。<br>
            当您提交此要求，您的密码将被重置，新密码将通过电子邮件发送给您。<br><br>
            请输入您的电子邮件地址，然后点击“提交”。 
            <!-- END BLOCK : LANG_CHS -->
            <!-- START BLOCK : LANG_JAP -->
            パスワードを回復するためにメールアドレスを入力してください。<br>
            あなたはこの要求を送信すると、パスワードがリセットされ、新しいパスワードがあなたに電子メールで送信されます。<br><br>
            あなたのメールアドレスを入力してくださいクリックして"提出してください。" 
            <!-- END BLOCK : LANG_JAP -->
            <!-- START BLOCK : LANG_SPA -->
            Ingrese su dirección de correo electrónico para recuperar su contraseña.<br>
            Al presentar esta solicitud, su contraseña se restablecerá y una nueva contraseña le será enviada vía correo electrónico.<br><br>
            Ingrese su dirección de correo electrónico y haga clic en "Enviar". 
            <!-- END BLOCK : LANG_SPA -->
            </td>
          </tr>
          <tr>
            <td><input class="ipt1 iptbox" type="text" name="m_email" placeholder="E-mail"></td>
          </tr>
          <tr>
            <td><input class="ipt2 iptbox" type="text" name="security" placeholder="{MSG_LOGIN_SECURITY}"> <div class="security_pic">{TAG_IMAGE_SECURITY_IMAGE}</div></td>
          </tr>
          <tr>
            <td><input type="button" class="shop_btn v-mid" value="提交" /></td>
          </tr>
        </table>
    </form>
</div>
<!-- END BLOCK : REGISTER_FORGET_PASSWORD -->

<!-- START BLOCK : REGISTER_SEND_PASSWORD_SUCCESSFULLY -->
    <div class="forget_pw">
        <table>
        <tr>
            <td>
                <!-- START BLOCK : LANG_ENG -->
                Send Password Successfully!<br>
                We have sent the password to your email address.
                <!-- END BLOCK : LANG_ENG -->
                <!-- START BLOCK : LANG_CHT -->
                發送密碼成功！<br>
                我們已寄出新密碼到您的電子郵件地址。
                <!-- END BLOCK : LANG_CHT -->            
                <!-- START BLOCK : LANG_CHS -->
                发送密码成功！<br>
                我们已寄出新密码到您的电子邮件地址。
                <!-- END BLOCK : LANG_CHS -->
                <!-- START BLOCK : LANG_JAP -->
                パスワードが正常に送信！<br>
                私たちはあなたのメールアドレスにパスワードを送信します。
                <!-- END BLOCK : LANG_JAP -->            
                <!-- START BLOCK : LANG_SPA -->
                Enviar Contraseña éxito!<br>
                Hemos enviado la contraseña a su dirección de correo electrónico.
                <!-- END BLOCK : LANG_SPA -->
            </td>
        </tr>
        </table>
    </div>
<!-- END BLOCK : REGISTER_SEND_PASSWORD_SUCCESSFULLY -->

