		<div class="member-subtitle"><b>
        會員訊息中心</b>&nbsp;</div>
    <ul class="member-news">

        <table id="ctl00_ContentPlaceHolder1_DataList1" cellspacing="0" border="0" style="width:100%;border-collapse:collapse;">
	<!-- START BLOCK : MESSAGE_LIST -->
    <tr>
		<td>
		        <li>
			        <div class="news-title">
                        <span>{VALUE_MM_SUBJECT}</span></div>
			        <div class="news-date"><span>{VALUE_MM_MODIFYDATE}</span></div>
			        <span>{VALUE_MM_CONTENT}</span>
			        <br />
		        </li>
            </td>
	</tr>
    <!-- END BLOCK : MESSAGE_LIST -->
</table>	
	</ul>