<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <style type="text/css">
<!--
.body1 {
	line-height: 20px;
	font-size: 13px;
	color: #333333;
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
}
a:hover {
	color: #FF6600;
}
a:link {
	color: #0066CC;
}
a:visited {
	color: #0066CC;
}

-->
</style>
    </head>
<body>
<div id="tp_product">
    {VALUE_TERM}
    <!-- START BLOCK : CONTACTUS_MAIL -->
    <table width="92%" border="0" align="center" cellPadding="5" cellSpacing="1" bgColor="#888888">
        <tr bgColor="#ffffff" class="body1">
            <td bgcolor="#D5D5D5">
                {MSG_CATE}{MSG_CATE_MAPPED}</td>
            <td bgcolor="#ffffff">
                {VALUE_CUC_SUBJECT}</td>
        </tr>
        <tr bgColor="#ffffff" class="body1">
            <td bgcolor="#D5D5D5">
                {MSG_COMPANY_NAME}{MSG_COMPANY_NAME_MAPPED}</td>
            <td>
                {VALUE_CU_COMPANY_NAME}</td>
        </tr>
        <!-- START BLOCK : CONTACT_S_STYLE_1 -->
        <tr bgColor="#ffffff" class="body1">
            <td bgcolor="#D5D5D5">
                {MSG_CONTACT_PERSON}{MSG_CONTACT_PERSON_MAPPED}</td>
            <td bgcolor="#ffffff">
                {VALUE_CU_CONTACT_S}&nbsp;{VALUE_CU_NAME}</td>
        </tr>
        <!-- END BLOCK : CONTACT_S_STYLE_1 -->
        <!-- START BLOCK : CONTACT_S_STYLE_2 -->
        <tr bgColor="#ffffff" class="body1">
            <td bgcolor="#D5D5D5">
                {MSG_CONTACT_PERSON}{MSG_CONTACT_PERSON_MAPPED}</td>
            <td bgcolor="#ffffff">
                {VALUE_CU_NAME}&nbsp;{VALUE_CU_CONTACT_S}</td>
        </tr>
        <!-- END BLOCK : CONTACT_S_STYLE_2 -->
        <!-- START BLOCK : POSITION_FIELD -->
        <tr bgColor="#ffffff" class="body1">
            <td bgcolor="#D5D5D5">
                {MSG_POSITION}{MSG_POSITION_MAPPED}</td>
            <td bgcolor="#ffffff">
                {VALUE_CU_POSITION}</td>
        </tr>
        <!-- END BLOCK : POSITION_FIELD -->
        <!-- START BLOCK : CONTACTUS_COUNTRY_ZONE -->
        <tr bgColor="#ffffff" class="body1">
            <td bgcolor="#D5D5D5">
                {MSG_COUNTRY}{MSG_COUNTRY_MAPPED}</td>
            <td bgcolor="#ffffff">
                {VALUE_CU_COUNTRY}</td>
        </tr>
        <!-- END BLOCK : CONTACTUS_COUNTRY_ZONE -->
        <tr bgColor="#ffffff" class="body1">
            <td bgcolor="#D5D5D5">
                {MSG_TEL}{MSG_TEL_MAPPED}</td>
            <td bgcolor="#ffffff">
                {VALUE_CU_TEL}</td>
        </tr>
        <tr bgColor="#ffffff" class="body1">
            <td bgcolor="#D5D5D5">
                {MSG_FAX}{MSG_FAX_MAPPED}</td>
            <td bgcolor="#ffffff">
                {VALUE_CU_FAX}</td>
        </tr>
        <tr bgColor="#ffffff" class="body1">
            <td bgcolor="#D5D5D5">
                {MSG_ADDRESS}{MSG_ADDRESS_MAPPED}</td>
            <td bgcolor="#ffffff">
                {VALUE_CU_ADDRESS}</td>
        </tr>
        <tr bgColor="#ffffff" class="body1">
            <td bgcolor="#D5D5D5">
                E-mail</td>
            <td bgcolor="#ffffff">
                {VALUE_CU_EMAIL}</td>
        </tr>
        <tr bgColor="#ffffff" class="body1">
            <td bgcolor="#D5D5D5">
                {MSG_CONTENT}{MSG_CONTENT_MAPPED}</td>
            <td bgcolor="#ffffff">
                {VALUE_CU_CONTENT}</td>
        </tr> 
        <!-- START BLOCK : UPFILE_ROW -->
        <tr bgColor="#ffffff" class="body1">
            <td bgcolor="#D5D5D5">
                {MSG_ATTACH_FILES}</td>
            <td bgcolor="#ffffff">
                {VALUE_CU_FILE}</td>
        </tr>          
        <!-- END BLOCK : UPFILE_ROW -->      
        <!-- START BLOCK : PROD_LIST_ROW -->
        <tr bgColor="#ffffff" class="body1">
            <td bgcolor="#D5D5D5">
                {MSG_PRODUCT_LIST}{MSG_PRODUCT_LIST_MAPPED}</td>
            <td bgcolor="#ffffff">
                {VALUE_CU_PRODUCT_LIST}</td>
        </tr>          
        <!-- END BLOCK : PROD_LIST_ROW -->      
    </table>
    <!-- END BLOCK : CONTACTUS_MAIL -->
    <!-- START BLOCK : MEMBER_MAIL -->
        <table width="92%" border="0" align="center" cellPadding="5" cellSpacing="1" bgColor="#888888"> 
            <tr bgColor="#ffffff" class="body1">
                <td bgcolor="#D5D5D5">
                    {MSG_ACCOUNT}</td>
                <td>
                    {VALUE_M_ACCOUNT}</td>
            </tr>
            <tr bgColor="#ffffff" class="body1">
                <td bgcolor="#D5D5D5">
                    {MSG_PASSWORD}</td>
                <td>
                    <span class="not_for_admin">{VALUE_M_PASSWORD}</span></td>
            </tr>
            <tr bgColor="#ffffff" class="body1">
                <td bgcolor="#D5D5D5">
                    {MSG_CONTACT_PERSON}</td>
                <td>
                    <!-- START BLOCK : MEMBER_S_STYLE_1 -->
                    {VALUE_M_CONTACT_S}&nbsp;{VALUE_M_FNAME}&nbsp;{VALUE_M_LNAME}
                    <!-- END BLOCK : MEMBER_S_STYLE_1 -->
                    <!-- START BLOCK : MEMBER_S_STYLE_2 -->
                    {VALUE_M_LNAME}&nbsp;{VALUE_M_FNAME}&nbsp;{VALUE_M_CONTACT_S}
                    <!-- END BLOCK : MEMBER_S_STYLE_2 -->
                </td>
            </tr>
            <!-- START BLOCK : COMPANY_ZONE -->
            <tr bgColor="#ffffff" class="body1">
                <td bgcolor="#D5D5D5">
                    {MSG_COMPANY_NAME}</td>
                <td>
                    {VALUE_M_COMPANY_NAME}</td>
            </tr>
            <tr bgColor="#ffffff" class="body1">
                <td bgcolor="#D5D5D5">
                    {MSG_FAX}</td>
                <td>
                    {VALUE_M_FAX}
                    </td>
            </tr>
            <!-- END BLOCK : COMPANY_ZONE -->
            <!-- START BLOCK : MEMBER_COUNTRY_ZONE -->
            <tr bgColor="#ffffff" class="body1">
                <td bgcolor="#D5D5D5">
                    {MSG_COUNTRY}</td>
                <td bgcolor="#ffffff">
                    {VALUE_M_COUNTRY}</td>
            </tr>
            <!-- END BLOCK : MEMBER_COUNTRY_ZONE -->
            <tr bgColor="#ffffff" class="body1">
                <td bgcolor="#D5D5D5">
                    {MSG_ZIP}</td>
                <td>
                    {VALUE_M_ZIP}</td>
            </tr>
            <tr bgColor="#ffffff" class="body1">
                <td bgcolor="#D5D5D5">
                    {MSG_ADDRESS}</td>
                <td>
                    {VALUE_M_ADDRESS}</td>
            </tr>
            <tr bgColor="#ffffff" class="body1">
                <td bgcolor="#D5D5D5">
                    {MSG_TEL}</td>
                <td>
                    {VALUE_M_TEL}
                    </td>
            </tr>
            <tr bgColor="#ffffff" class="body1">
                <td bgcolor="#D5D5D5">
                    {MSG_CELLPHONE}</td>
                <td>
                    {VALUE_M_CELLPHONE}
                    </td>
            </tr>
            <tr bgColor="#ffffff" class="body1">
                <td bgcolor="#D5D5D5">
                    e-mail</td>
                <td>
                    {VALUE_M_EMAIL}
                    </td>
            </tr>
        </table>
    <!-- END BLOCK : MEMBER_MAIL -->
    <!-- START BLOCK : SHOPPING_CART_ZONE -->
    <div id="tp_product">
        <table width="90%" border="0" align="center" cellPadding="5" cellSpacing="1" bgColor="#888888">
            <tr bgcolor="#D5D5D5">
                <th width="5%"> No.</th>
                <th width="10%"> {MSG_PRODUCT_IMAGE}</th>
                <th width="30%"> {MSG_PRODUCT}</th>
                <th width="10%"> {MSG_AMOUNT}</th>
                <th width="25%"> {MSG_PRODUCT_SPECIAL_PRICE}{VALUE_P_DISCOUNT}</th>
                <th width="20%"> {MSG_SUBTOTAL}</th>
            </tr>
            <!-- START BLOCK : SHOPPING_CART_LIST -->
            <tr bgcolor="#FFFFFF">
                <td>{VALUE_P_SERIAL}</td>
                <td><center><a href="{VALUE_P_LINK}"><img src="{VALUE_P_SMALL_IMG}" width="60"  border="0"/></a></center></td>
                <td>{VALUE_P_NAME}</td>
                <td>{VALUE_P_AMOUNT}</td>
                <td>{VALUE_P_SPECIAL_PRICE}</td>
                <td>{VALUE_P_SUBTOTAL_PRICE}</td>
            </tr>
            <!-- END BLOCK : SHOPPING_CART_LIST -->
            <tr bgcolor="#FFFFFF">
                <td colspan="4">
                    <div align="right"> {MSG_SHIPPING_PRICE}:&nbsp;
                    </div>
                </td>
                <td colspan="2"> {VALUE_SHIPPING_PRICE}
                </td>
            </tr>
            <tr bgcolor="#FFFFFF">
                <th colspan="4">
                    <div align="right"> {MSG_TOTAL}:&nbsp;
                    </div>
                </th>
                <th colspan="2" align="left"> {VALUE_TOTAL}
                </th>
            </tr>
        </table>
    <!-- END BLOCK : SHOPPING_CART_ZONE -->
    <!-- START BLOCK : INQUIRY_CART_ZONE -->
    <div id="tp_product">
        <table width="90%" border="0" align="center" cellPadding="5" cellSpacing="1" bgColor="#888888">
            <tr class="body1">
                <th width="5%"> No.</th>
                <th width="20%"> {MSG_PRODUCT_IMAGE}</th>
                <th width="55%"> {MSG_PRODUCT}</th>
                <th width="10%"> {MSG_SERIAL}</th>
                <th width="10%"> {MSG_AMOUNT}</th>
            </tr>
            <!-- START BLOCK : INQUIRY_CART_LIST -->
            <tr bgcolor="#FFFFFF">
                <td>{VALUE_P_SERIAL}</td>
                <td><center><a href="{VALUE_P_LINK}"><img src="{VALUE_P_SMALL_IMG}" width="60"  border="0"/></a></center></td>
                <td>{VALUE_P_NAME}</td>
                <td>{VALUE_P_SERIAL_LIST}</td>
                <td>{VALUE_P_AMOUNT}</td>
            </tr>
            <!-- END BLOCK : INQUIRY_CART_LIST -->
        </table>
        </div>
    <!-- END BLOCK : INQUIRY_CART_ZONE -->
    <!-- START BLOCK : MEMBER_DATA_FORM -->
        <table width="90%" border="0" align="center" cellPadding="5" cellSpacing="1" bgColor="#888888">
            <!-- START BLOCK : PAYMENT_TYPE -->
            <tr>
                <td bgcolor="#D5D5D5">
                    {MSG_PAYMENT_TYPE}</td>
                <td bgcolor="#FFFFFF">
                    {VALUE_PAYMENT_TYPE}</td>
            </tr>
            <!-- END BLOCK : PAYMENT_TYPE -->
            <!-- START BLOCK : ATM_LAST_FIVE -->
            <tr>
                <td bgcolor="#D5D5D5">匯款帳號後五碼</td>
                <td bgcolor="#FFFFFF">{VALUE_ATM_LAST5}</td>
            </tr>
            <!-- END BLOCK : ATM_LAST_FIVE -->
            <!-- START BLOCK : VIRTUAL_ACCOUNT -->           
            <tr>
                <td bgcolor="#D5D5D5">
                    {MSG_TRANSFER_BANK}</td>
                <td bgcolor="#FFFFFF">
                    {VALUE_TRANSFER_BANK_CODE}</td>
            </tr>            
            <tr>
                <td bgcolor="#D5D5D5">
                    {MSG_TRANSFER_ACCOUNT}</td>
                <td bgcolor="#FFFFFF">
                    {VALUE_VIRTUAL_ACCOUNT}</td>
            </tr>
            <!-- END BLOCK : VIRTUAL_ACCOUNT -->
            <tr>
                <td bgColor="#D5D5D5">
                    {MSG_COMPANY_NAME}</td>
                <td bgColor="#ffffff">
                    {VALUE_M_COMPANY_NAME}</td>
            </tr>
            <!-- START BLOCK : CART_S_STYLE_1 -->
            <tr bgColor="#ffffff" class="body1">
                <td bgcolor="#D5D5D5">
                    {MSG_CONTACT_PERSON}</td>
                <td bgColor="#ffffff">
                    {VALUE_M_CONTACT_S}&nbsp;{VALUE_M_NAME}</td>
            </tr>
            <!-- END BLOCK : CART_S_STYLE_1 -->
            <!-- START BLOCK : CART_S_STYLE_2 -->
            <tr bgColor="#ffffff" class="body1">
                <td bgcolor="#D5D5D5">
                    {MSG_CONTACT_PERSON}</td>
                <td bgcolor="#ffffff">
                    {VALUE_M_NAME}&nbsp;{VALUE_M_CONTACT_S}</td>
            </tr>
            <!-- END BLOCK : CART_S_STYLE_2 -->  
            <!-- START BLOCK : MEMBER_DATA_COUNTRY_ZONE -->
            <tr bgColor="#ffffff" class="body1">
                <td bgcolor="#D5D5D5">
                    {MSG_COUNTRY}</td>
                <td bgcolor="#ffffff">
                    {VALUE_M_COUNTRY}</td>
            </tr>
            <!-- END BLOCK : MEMBER_DATA_COUNTRY_ZONE -->
            <tr>
                <td bgcolor="#D5D5D5">
                    {MSG_ZIP}</td>
                <td bgcolor="#FFFFFF">
                    {VALUE_M_ZIP}</td>
            </tr>
            <tr>
                <td bgcolor="#D5D5D5">
                    {MSG_ADDRESS}</td>
                <td bgcolor="#FFFFFF">
                    {VALUE_M_ADDRESS}</td>
            </tr>
            <tr>
                <td bgcolor="#D5D5D5">
                    {MSG_TEL}</td>
                <td bgcolor="#FFFFFF">
                    {VALUE_M_TEL}
                    </td>
            </tr>
            <tr>
                <td bgcolor="#D5D5D5">
                    {MSG_FAX}</td>
                <td bgcolor="#FFFFFF">
                    {VALUE_M_FAX}
                    </td>
            </tr>
            <tr>
                <td bgcolor="#D5D5D5">
                    {MSG_CELLPHONE}</td>
                <td bgcolor="#FFFFFF">
                    {VALUE_M_CELLPHONE}
                    </td>
            </tr>
            <tr>
                <td bgcolor="#D5D5D5">
                    e-mail</td>
                <td bgcolor="#FFFFFF">
                    {VALUE_M_EMAIL}
                    </td>
            </tr>
            <!-- START BLOCK : DELIVERY_ZONE -->
            <tr>
                <td bgcolor="#D5D5D5">到貨日期</td>
                <td bgcolor="#FFFFFF">{VALUE_M_DELIVER_DATE}</td>
            </tr>
            <tr>
                <td bgcolor="#D5D5D5">配送時段</td>
                <td bgcolor="#FFFFFF">{VALUE_M_DELIVER_TIMESEC}</td>
            </tr>
            <!-- END BLOCK : DELIVERY_ZONE -->
            <tr>
              <td bgcolor="#D5D5D5">
                    {MSG_CONTENT}</td>
              <td bgcolor="#FFFFFF">
                 {VALUE_CONTENT}
              </td>
            </tr>
        </table>
        </div>
    <!-- END BLOCK : MEMBER_DATA_FORM -->
    <!-- START BLOCK : MEMBER_FORGET_PASSWORD -->
    <table width="80%" border="0" align="center" cellPadding="5" cellSpacing="1" bgColor="#888888">
        <tr>
            <th colspan="2" bgcolor="#D5D5D5">{MSG_TITLE}</th>
        </tr>
        <tr>
            <td width="30%" bgcolor="#D5D5D5">
                {MSG_M_ACCOUNT}</td>
            <td bgcolor="#FFFFFF">
                {VALUE_M_ACCOUNT}</td>
        </tr>
        <tr>
            <td bgcolor="#D5D5D5">
                {MSG_M_PASSWORD}</td>
            <td bgcolor="#FFFFFF">
                {VALUE_M_PASSWORD}</td>
        </tr>
    </table>
    <!-- END BLOCK : MEMBER_FORGET_PASSWORD -->
</div>
</body>
</html>
