<!-- START BLOCK : SEO_SHORT_DESC -->
    {VALUE_SEO_SHORT_DESC}
<!-- END BLOCK : SEO_SHORT_DESC -->


<!-- START BLOCK : NEWS_LIST -->
<div class="news_list">
<a href="{VALUE_N_LINK}" target="{VALUE_N_TARGET}"><img src="{VALUE_N_S_PIC}" width="116" height="86" border="0" /></a>
<div class="news_date"><a href="{VALUE_N_LINK}" target="{VALUE_N_TARGET}">{VALUE_N_SHOWDATE}</a></div>
<!--{VALUE_N_SUBJECT}-->
<div class="news_text">{VALUE_N_SHORT}</div>
</div>
<!-- END BLOCK : NEWS_LIST -->
<!-- INCLUDE BLOCK : ./templates/ws-fn-pagination-tpl.html -->