<table width="100%" border="0" cellpadding="0" cellspacing="0" class="news_show">
<!-- START BLOCK : NEWS_SHOW -->
<tr>
    <td class="main">{VALUE_N_CONTENT}</td>
</tr>
<!-- START BLOCK : ATTACH_BLOCK -->
<tr id="news_files">
    <td>
        附檔:
        <!-- START BLOCK : NEWS_FILE_LIST -->   
        <a href="{TAG_LINK}">{TAG_NAME}</a>
        <!-- END BLOCK : NEWS_FILE_LIST -->   
        
    </td>
</tr>
<!-- END BLOCK : ATTACH_BLOCK -->
<tr>
    <td>
        <table width="100%">
            <tr>
                <td width="25%" align="left">{TAG_PREVIOUS_NEWS}</td>
                <td width="50%"></td>
                <td width="25%" align="right">{TAG_NEXT_NEWS}</td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td height="50" align="center"><span id="page-back"><a href="#" onclick="history.back();return false;">{TAG_PAGE_BACK}</a></span></td>
</tr>
<!-- END BLOCK : NEWS_SHOW -->
</table>
