<!-- START BLOCK : SEO_SHORT_DESC -->
<table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>
    {VALUE_SEO_SHORT_DESC}</td>
  </tr>
</table>
<!-- END BLOCK : SEO_SHORT_DESC -->
<!-- START BLOCK : NEWS_LIST -->
<div class="news_list">
    <div class="news_list_pic"><a href="{VALUE_N_LINK}" target="{VALUE_N_TARGET}"><img width="{VALUE_N_S_PIC_W}" height="{VALUE_N_S_PIC_H}" src="{VALUE_N_S_PIC}"/></a></div>
    <div class="news_title"><a href="{VALUE_N_LINK}" target="{VALUE_N_TARGET}">{VALUE_N_SUBJECT}</a></div>
    <div class="news_date">{VALUE_N_SHOWDATE}</div>
    {VALUE_N_SHORT}
</div>
<!-- END BLOCK : NEWS_LIST -->   
<!-- INCLUDE BLOCK : ./templates/ws-fn-pagination-tpl.html -->