<!-- START BLOCK : PRODUCTS_DETAIL_CUSTOM -->
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td>
    {VALUE_P_CUSTOM}
    </td>
  </tr>
</table>
<!-- END BLOCK : PRODUCTS_DETAIL_CUSTOM -->
<!-- START BLOCK : PRODUCTS_DETAIL_DEFAULT -->
<!-- START BLOCK : SHOW_STYLE_P2 -->
<!-- START BLOCK : BIG_IMG_MUTI -->
    <div id="slider">
        <ul id="sliderContent">
            <!-- START BLOCK : BIG_IMG_LIST -->
            <li class="sliderImage">
                <a href=""><img src="{VALUE_P_BIG_IMG}" alt="{VALUE_P_NAME_ALIAS}" width="{VALUE_P_BIG_IMG_W}" height="{VALUE_P_BIG_IMG_H}"/></a>
                <span class="left"><strong>{VALUE_P_NAME}</strong><br />Content text...</span>
            </li>
            <!-- END BLOCK : BIG_IMG_LIST -->
            <div class="clear sliderImage"></div>
        </ul>
    </div>
<!-- END BLOCK : BIG_IMG_MUTI -->
<!-- START BLOCK : BIG_IMG_SINGLE -->
<div id="products_single">
    <a href="{VALUE_P_BIG_IMG}" rel="lightbox[roadtrip]" ><img src="{VALUE_P_BIG_IMG}" alt="{VALUE_P_NAME_ALIAS}" width="{VALUE_P_BIG_IMG_W}" height="{VALUE_P_BIG_IMG_H}" border="0" /></a>
</div>
<!-- END BLOCK : BIG_IMG_SINGLE -->
<!-- END BLOCK : SHOW_STYLE_P2 -->
<!-- END BLOCK : PRODUCTS_DETAIL_DEFAULT -->