<div align="left">{HEADER_SHORT_DESC}</div>
<div id="sitemap">
<ul>
<li><a href="{TAG_ROOT_PATH}">{VALUE_STR_HOME}</a></li>
<!-- START BLOCK : SITEMAP_ABOUTUS -->
<!-- START BLOCK : ABOUTUS_LIST -->
<li><a href="{TAG_LINK}">{TAG_NAME}</a></li>
<!-- END BLOCK : ABOUTUS_LIST -->
<!-- END BLOCK : SITEMAP_ABOUTUS -->
<!-- START BLOCK : SITEMAP_NEWS -->
<li><a href="{VALUE_NEWS_LINK}">{VALUE_STR_NEWS}</a></li>
<!-- END BLOCK : SITEMAP_NEWS -->
<!-- START BLOCK : SITEMAP_PRODUCTS -->
<!-- START BLOCK : SITEMAP_NEW_PRODUCT -->
<li><a href="{VALUE_NEW_PRODUCT_LINK}">{VALUE_STR_NEW_PRODUCT}</a></li>
<!-- END BLOCK : SITEMAP_NEW_PRODUCT -->
<!-- START BLOCK : SITEMAP_HOT_PRODUCT -->
<li><a href="{VALUE_HOT_PRODUCT_LINK}">{VALUE_STR_HOT_PRODUCT}</a></li>
<!-- END BLOCK : SITEMAP_HOT_PRODUCT -->
<!-- START BLOCK : SITEMAP_PRO_PRODUCT -->
<li><a href="{VALUE_PRO_PRODUCT_LINK}">{VALUE_STR_PRO_PRODUCT}</a></li>
<!-- END BLOCK : SITEMAP_PRO_PRODUCT -->
<li id="product"><a href="{VALUE_PRODUCTS_LINK}">{VALUE_STR_PRODUCTS}</a>
    <!-- START BLOCK : PRODUCTS_CATE0_ZONE -->
    <ul class="{LAYER_ID}">
        <!-- START BLOCK : PRODUCTS_CATE0_LIST -->
        <li><a href="{VALUE_PC_LINK}">{VALUE_PC_NAME}</a>
            <!-- START BLOCK : PRODUCTS_CATE1_ZONE -->
            <ul class="{LAYER_ID}">
                <!-- START BLOCK : PRODUCTS_CATE1_LIST -->
                <li><a href="{VALUE_PC_LINK}">{VALUE_PC_NAME}</a>
                    <!-- START BLOCK : PRODUCTS_CATE2_ZONE -->
                    <ul class="{LAYER_ID}">
                        <!-- START BLOCK : PRODUCTS_CATE2_LIST -->
                        <li><a href="{VALUE_PC_LINK}">{VALUE_PC_NAME}</a>
                            <!-- START BLOCK : PRODUCTS_CATE3_ZONE -->
                            <ul class="{LAYER_ID}">
                                <!-- START BLOCK : PRODUCTS_CATE3_LIST -->
                                <li><a href="{VALUE_PC_LINK}">{VALUE_PC_NAME}</a></li>    
                                <!-- END BLOCK : PRODUCTS_CATE3_LIST -->
                                <!-- START BLOCK : PRODUCTS_CATE3_PROD_ZONE -->
                                <li {TAG_PRODUCTS_CLASS}>
                                    <!-- START BLOCK : PRODUCTS_CATE3_PROD_LIST -->
                                    <a href="{VALUE_P_LINK}">{VALUE_P_NAME}</a>
                                    <!-- END BLOCK : PRODUCTS_CATE3_PROD_LIST -->
                                </li>    
                                <!-- END BLOCK : PRODUCTS_CATE3_PROD_ZONE -->
                            </ul>
                            <!-- END BLOCK : PRODUCTS_CATE3_ZONE -->
                        </li>    
                        <!-- END BLOCK : PRODUCTS_CATE2_LIST -->
                        <!-- START BLOCK : PRODUCTS_CATE2_PROD_ZONE -->
                        <li {TAG_PRODUCTS_CLASS}>
                            <!-- START BLOCK : PRODUCTS_CATE2_PROD_LIST -->
                            <a href="{VALUE_P_LINK}">{VALUE_P_NAME}</a>
                            <!-- END BLOCK : PRODUCTS_CATE2_PROD_LIST -->
                        </li>    
                        <!-- END BLOCK : PRODUCTS_CATE2_PROD_ZONE -->                        
                    </ul>
                    <!-- END BLOCK : PRODUCTS_CATE2_ZONE -->                    
                </li>    
                <!-- END BLOCK : PRODUCTS_CATE1_LIST -->
                <!-- START BLOCK : PRODUCTS_CATE1_PROD_ZONE -->
                <li {TAG_PRODUCTS_CLASS}>
                    <!-- START BLOCK : PRODUCTS_CATE1_PROD_LIST -->
                    <a href="{VALUE_P_LINK}">{VALUE_P_NAME}</a>
                    <!-- END BLOCK : PRODUCTS_CATE1_PROD_LIST -->
                </li>    
                <!-- END BLOCK : PRODUCTS_CATE1_PROD_ZONE -->                
            </ul>
            <!-- END BLOCK : PRODUCTS_CATE1_ZONE -->
        </li>    
        <!-- END BLOCK : PRODUCTS_CATE0_LIST -->
        <!-- START BLOCK : PRODUCTS_CATE0_PROD_ZONE -->
        <li {TAG_PRODUCTS_CLASS}>
            <!-- START BLOCK : PRODUCTS_CATE0_PROD_LIST -->
            <a href="{VALUE_P_LINK}">{VALUE_P_NAME}</a>
            <!-- END BLOCK : PRODUCTS_CATE0_PROD_LIST -->
        </li>    
        <!-- END BLOCK : PRODUCTS_CATE0_PROD_ZONE -->        
    </ul>
    <!-- END BLOCK : PRODUCTS_CATE0_ZONE -->
</li>    
<!-- END BLOCK : SITEMAP_PRODUCTS -->
<!-- START BLOCK : SITEMAP_APPLICATION -->
<li><a href="{VALUE_APPLICATION_LINK}">{VALUE_STR_APPLICATION}</a></li>
<!-- END BLOCK : SITEMAP_APPLICATION -->
<!-- START BLOCK : SITEMAP_CONTACTUS -->
<li><a href="{VALUE_CONTACTUS_LINK}">{VALUE_STR_CONTACTUS}</a></li>
<!-- END BLOCK : SITEMAP_CONTACTUS -->
<!-- START BLOCK : SITEMAP_DOWNLOAD -->
<li><a href="{VALUE_DOWNLOAD_LINK}">{VALUE_STR_DOWNLOAD}</a></li>
<!-- END BLOCK : SITEMAP_DOWNLOAD -->
<!-- START BLOCK : SITEMAP_FAQ -->
<li><a href="{VALUE_FAQ_LINK}">{VALUE_STR_FAQ}</a></li>
<!-- END BLOCK : SITEMAP_FAQ -->
<!-- START BLOCK : SITEMAP_VIDEO -->
<li><a href="{VALUE_VIDEO_LINK}">{VALUE_STR_VIDEO}</a></li>
<!-- END BLOCK : SITEMAP_VIDEO -->
<!-- START BLOCK : SITEMAP_EBOOK -->
<li><a href="{VALUE_EBOOK_LINK}">{VALUE_STR_EBOOK}</a></li>
<!-- END BLOCK : SITEMAP_EBOOK -->
<!-- START BLOCK : SITEMAP_GUESTBOOK -->
<li><a href="{VALUE_GUESTBOOK_LINK}">{VALUE_STR_GUESTBOOK}</a></li>
<!-- END BLOCK : SITEMAP_GUESTBOOK -->
<!-- START BLOCK : SITEMAP_STORES -->
<li><a href="{VALUE_STORES_LINK}">{VALUE_STR_STORES}</a></li>
<!-- END BLOCK : SITEMAP_STORES -->
<!-- START BLOCK : SITEMAP_FACTORY -->
<li><a href="{VALUE_FACTORY_LINK}">{VALUE_STR_FACTORY}</a></li>
<!-- END BLOCK : SITEMAP_FACTORY -->
<!-- START BLOCK : SITEMAP_GALLERY -->
<li><a href="{VALUE_GALLERY_LINK}">{VALUE_STR_GALLERY}</a></li>
<!-- END BLOCK : SITEMAP_GALLERY -->
<li><a href="{VALUE_SITEMAP_LINK}">{VALUE_STR_SITEMAP}</a></li>
</ul>
</div>