<!-- START BLOCK : VIDEO_CATE_LIST -->
<div class="video_list">
    <div class="video_list_pic"><a href="{VALUE_VC_LINK}"><img src="{VALUE_VC_IMG}" width="150" height=""/></a></div>
    <div class="video_list_title"><a href="{VALUE_VC_LINK}">{VALUE_VC_SUBJECT}</a></div>
</div>
<!-- END BLOCK : VIDEO_CATE_LIST -->
<!-- START BLOCK : VIDEO_LIST -->
<div class="video_list">
    <div class="video_list_pic"><a href="{VALUE_V_LINK}"><img src="http://img.youtube.com/vi/{VALUE_V_CODE}/0.jpg" width="150" height=""/></a></div>
    <div class="video_list_title"><a href="{VALUE_V_LINK}">{VALUE_V_SUBJECT}</a></div>
</div>
<!-- END BLOCK : VIDEO_LIST -->
<!-- START BLOCK : VIDEO_CONTENT -->
{VALUE_V_CONTENT}
<!-- END BLOCK : VIDEO_CONTENT -->
<div id="nodata">{MSG_NO_DATA}</div>

