    <table width="92%" border="0" align="center" cellPadding="5" cellSpacing="1">
        <tr>
            <td>
                <p>
                    ※本信件由系统发出，请勿直接回覆，谢谢！<br/>
                    如有任何问题与建议，欢迎来信询问<br/>
                    {MSG_COMPANY} <a href="{TAG_BASE_URL}">{TAG_BASE_URL}</a> 祝您有个愉快的生活! <br/>
                    -------------------------------------<br/>
                    有关本公司对个人隐私权所制定的政策,请参照“<a href="{TAG_BASE_URL}service.php?st=privacy_policy">隐私权保护政策</a>”。
                </p>
            </td>
        </tr>
    </table>   