<!-- START BLOCK : AD_TYPE_IMAGE -->
<img src="{AD_CONTENT}"/>
<!-- END BLOCK : AD_TYPE_IMAGE -->
<!-- START BLOCK : AD_TYPE_IMAGE_LINK -->
<a href="{AD_LINK}"><img src="{AD_CONTENT}"/></a>
<!-- END BLOCK : AD_TYPE_IMAGE_LINK -->
<!-- START BLOCK : AD_TYPE_TXT -->
<div>{AD_CONTENT}</div>
<!-- END BLOCK : AD_TYPE_TXT -->
<!-- START BLOCK : AD_TYPE_TXT_LINK -->
<div><a href="{AD_LINK}">{AD_CONTENT}</a></div>
<!-- END BLOCK : AD_TYPE_TXT_LINK -->
<!-- START BLOCK : AD_TYPE_FLASH -->
{AD_CONTENT}
<!-- END BLOCK : AD_TYPE_FLASH -->