    <table width="92%" border="0" align="center" cellPadding="5" cellSpacing="1">
        <tr>
            <td>
                <p>
                    ※本信件由系統發出，請勿直接回覆，謝謝！<br/>
                    如有任何問題與建議，歡迎來信詢問<br/>
                    {MSG_COMPANY} <a href="{TAG_BASE_URL}">{TAG_BASE_URL}</a> 祝您有個愉快的生活! <br/>
                    -------------------------------------<br/>
                    有關本公司對個人隱私權所制定的政策,請參照「<a href="{TAG_BASE_URL}service.php?st=privacy_policy">隱私權保護政策</a>」。
                </p>
            </td>
        </tr>
    </table>   