    <table width="92%" border="0" align="center" cellPadding="5" cellSpacing="1">
        <tr>
            <td>
                <p>
                    ※The letter sent by the system, do not reply directly, thank you!<br/>
                    If you have any questions and suggestions, please email inquiry<br/>
                    {MSG_COMPANY} <a href="{TAG_BASE_URL}">{TAG_BASE_URL}</a> wish you a happy life! <br/>
                    -------------------------------------<br/>
                    Concerning the Company's privacy policy formulated, please refer to the「<a href="{TAG_BASE_URL}service.php?st=privacy_policy">Privacy Policy</a>」。
                </p>
            </td>
        </tr>
    </table>   