<div style="position:absolute;  width:300px; top:50px; left:80px; display:block; font-size:25px; font-weight:bold; color: #e1002a;">Dear Customer, </div>
<div style="position:absolute; width:300px; display:block; text-align:right; top:50px; right:80px;">
Customer ID: <a style="color:#000;  text-decoration:none;" href="mailto:modifyme@here.please">modifyme@here.please</a><br />
Account Number: 26421113</div>
<div style="position:absolute; width:840px; top:120px; left:80px; display:block; line-height:35px; font-size:15px;">
Thank you for shopping at Newegg.com.<br/>
We are happy to inform you that your order <strong>(Sales Order Number: 21710012)</strong> has been successfully charged to your<br/>
<strong> Preffered Account</strong> and order verification is now complete.<br/>
If you have any questions, please use our LiveChat function or visit our Contact Us Page.<br/>
Once You Know, You Newegg.<br/>
Your Newegg.com Customer Service Team</div>