<table width="800" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td > <p style="padding: 0px 20px 10px 20px;"><span style="color:#e1002a; font-size:20px; font-weight:bold; line-height:30px;  display:block; padding:10px 10px;">Take offline files everywhere</span></p>
<p style="padding: 0px 20px 10px 20px;">We've recently released a major update to Hightail's iOS apps with lots of great new features, including Offline Files.</p>

<p style="padding: 0px 20px 10px 20px;">Mark your most important files as Offline, so the next time you're on a flight or in the middle of nowhere, you can get to work. If you make changes to a file, they're updated automatically when you next get back online.</p></td>
  </tr>    
</table>