    <!-- START BLOCK : CONTACTUS_MAIL -->
    <table width="600" border="0" cellPadding="5" cellSpacing="2" bgColor="#888888">
        <tr bgColor="#ffffff" class="body1">
            <td width="100" bgcolor="#D5D5D5">
                {MSG_CONTENT}</td>
            <td width="500" bgcolor="#ffffff">
                {VALUE_CUR_CONTENT}</td>
        </tr>
        <tr bgColor="#ffffff" class="body1">
            <td bgcolor="#D5D5D5">
                {MSG_MODIFYDATE}</td>
            <td bgcolor="#ffffff">
                {VALUE_CUR_MODIFYDATE}</td>
        </tr>
    </table>
    <!-- END BLOCK : CONTACTUS_MAIL -->  