    <table width="92%" border="0" align="center" >
        <tr>
            <td>
                感謝您的來信，您的問題我們會儘快以 Email方式回覆，再次感謝您對友綠生活的支持～
            </td>
        </tr>
    </table>
    <!-- START BLOCK : CONTACTUS_MAIL -->
    <table width="92%" border="0" align="center" cellPadding="5" cellSpacing="1" bgColor="#888888">
        <tr bgColor="#ffffff" class="body1">
            <td bgcolor="#d6f691">
                {MSG_CATE}{MSG_CATE_MAPPED}</td>
            <td bgcolor="#ffffff">
                {VALUE_CUC_SUBJECT}</td>
        </tr>
        <tr bgColor="#ffffff" class="body1">
            <td bgcolor="#d6f691">
                問題主旨</td>
            <td>
                {VALUE_CU_SUBJECT}</td>
        </tr>
        <tr bgColor="#ffffff" class="body1">
            <td bgcolor="#d6f691">
                E-mail</td>
            <td bgcolor="#ffffff">
                {VALUE_CU_EMAIL}</td>
        </tr>        
        <tr bgColor="#ffffff" class="body1">
            <td bgcolor="#d6f691">
                單位或姓名</td>
            <td bgcolor="#ffffff">
                {VALUE_CU_NAME}</td>
        </tr>
        <!-- START BLOCK : POSITION_FIELD -->
        <tr bgColor="#ffffff" class="body1">
            <td bgcolor="#d6f691">
                {MSG_POSITION}{MSG_POSITION_MAPPED}</td>
            <td bgcolor="#ffffff">
                {VALUE_CU_POSITION}</td>
        </tr>
        <!-- END BLOCK : POSITION_FIELD -->
        <!-- START BLOCK : CONTACTUS_COUNTRY_ZONE -->
        <tr bgColor="#ffffff" class="body1">
            <td bgcolor="#d6f691">
                {MSG_COUNTRY}{MSG_COUNTRY_MAPPED}</td>
            <td bgcolor="#ffffff">
                {VALUE_CU_COUNTRY}</td>
        </tr>
        <!-- END BLOCK : CONTACTUS_COUNTRY_ZONE -->
        <tr bgColor="#ffffff" class="body1">
            <td bgcolor="#d6f691">
                問題說明{MSG_CONTENT_MAPPED}</td>
            <td bgcolor="#ffffff">
                {VALUE_CU_CONTENT}</td>
        </tr> 
        <!-- START BLOCK : UPFILE_ROW -->
        <tr bgColor="#ffffff" class="body1">
            <td bgcolor="#d6f691">
                {MSG_ATTACH_FILES}</td>
            <td bgcolor="#ffffff">
                {VALUE_CU_FILE}</td>
        </tr>          
        <!-- END BLOCK : UPFILE_ROW -->      
        <!-- START BLOCK : PROD_LIST_ROW -->
        <tr bgColor="#ffffff" class="body1">
            <td bgcolor="#d6f691">
                {MSG_PRODUCT_LIST}{MSG_PRODUCT_LIST_MAPPED}</td>
            <td bgcolor="#ffffff">
                {VALUE_CU_PRODUCT_LIST}</td>
        </tr>          
        <!-- END BLOCK : PROD_LIST_ROW -->      
    </table>
    <!-- END BLOCK : CONTACTUS_MAIL -->