    <table width="92%" border="0" align="center" >
        <tr>
            <td>
                {TOP_MESSAGE}
            </td>
        </tr>
    </table>
    <!-- START BLOCK : CONTACTUS_MAIL -->
    <table width="92%" border="0" align="center" cellPadding="5" cellSpacing="1" bgColor="#888888">
        <tr bgColor="#ffffff" class="body1">
            <td bgcolor="#D5D5D5">
                {MSG_CATE}{MSG_CATE_MAPPED}</td>
            <td bgcolor="#ffffff">
                {VALUE_CUC_SUBJECT}</td>
        </tr>
        <tr bgColor="#ffffff" class="body1">
            <td bgcolor="#D5D5D5">
                {MSG_COMPANY_NAME}{MSG_COMPANY_NAME_MAPPED}</td>
            <td>
                {VALUE_CU_COMPANY_NAME}</td>
        </tr>
        <!-- START BLOCK : CONTACT_S_STYLE_1 -->
        <tr bgColor="#ffffff" class="body1">
            <td bgcolor="#D5D5D5">
                {MSG_CONTACT_PERSON}{MSG_CONTACT_PERSON_MAPPED}</td>
            <td bgcolor="#ffffff">
                {VALUE_CU_CONTACT_S}&nbsp;{VALUE_CU_NAME}</td>
        </tr>
        <!-- END BLOCK : CONTACT_S_STYLE_1 -->
        <!-- START BLOCK : CONTACT_S_STYLE_2 -->
        <tr bgColor="#ffffff" class="body1">
            <td bgcolor="#D5D5D5">
                {MSG_CONTACT_PERSON}{MSG_CONTACT_PERSON_MAPPED}</td>
            <td bgcolor="#ffffff">
                {VALUE_CU_NAME}&nbsp;{VALUE_CU_CONTACT_S}</td>
        </tr>
        <!-- END BLOCK : CONTACT_S_STYLE_2 -->
        <!-- START BLOCK : POSITION_FIELD -->
        <tr bgColor="#ffffff" class="body1">
            <td bgcolor="#D5D5D5">
                {MSG_POSITION}{MSG_POSITION_MAPPED}</td>
            <td bgcolor="#ffffff">
                {VALUE_CU_POSITION}</td>
        </tr>
        <!-- END BLOCK : POSITION_FIELD -->
        <!-- START BLOCK : CONTACTUS_COUNTRY_ZONE -->
        <tr bgColor="#ffffff" class="body1">
            <td bgcolor="#D5D5D5">
                {MSG_COUNTRY}{MSG_COUNTRY_MAPPED}</td>
            <td bgcolor="#ffffff">
                {VALUE_CU_COUNTRY}</td>
        </tr>
        <!-- END BLOCK : CONTACTUS_COUNTRY_ZONE -->
        <tr bgColor="#ffffff" class="body1">
            <td bgcolor="#D5D5D5">
                {MSG_TEL}{MSG_TEL_MAPPED}</td>
            <td bgcolor="#ffffff">
                {VALUE_CU_TEL}</td>
        </tr>
        <tr bgColor="#ffffff" class="body1">
            <td bgcolor="#D5D5D5">
                {MSG_FAX}{MSG_FAX_MAPPED}</td>
            <td bgcolor="#ffffff">
                {VALUE_CU_FAX}</td>
        </tr>
        <tr bgColor="#ffffff" class="body1">
            <td bgcolor="#D5D5D5">
                {MSG_ADDRESS}{MSG_ADDRESS_MAPPED}</td>
            <td bgcolor="#ffffff">
                {VALUE_CU_ADDRESS}</td>
        </tr>
        <tr bgColor="#ffffff" class="body1">
            <td bgcolor="#D5D5D5">
                E-mail</td>
            <td bgcolor="#ffffff">
                {VALUE_CU_EMAIL}</td>
        </tr>
        <tr bgColor="#ffffff" class="body1">
            <td bgcolor="#D5D5D5">
                {MSG_CONTENT}{MSG_CONTENT_MAPPED}</td>
            <td bgcolor="#ffffff">
                {VALUE_CU_CONTENT}</td>
        </tr> 
        <!-- START BLOCK : UPFILE_ROW -->
        <tr bgColor="#ffffff" class="body1">
            <td bgcolor="#D5D5D5">
                {MSG_ATTACH_FILES}</td>
            <td bgcolor="#ffffff">
                {VALUE_CU_FILE}</td>
        </tr>          
        <!-- END BLOCK : UPFILE_ROW -->      
        <!-- START BLOCK : PROD_LIST_ROW -->
        <tr bgColor="#ffffff" class="body1">
            <td bgcolor="#D5D5D5">
                {MSG_PRODUCT_LIST}{MSG_PRODUCT_LIST_MAPPED}</td>
            <td bgcolor="#ffffff">
                {VALUE_CU_PRODUCT_LIST}</td>
        </tr>          
        <!-- END BLOCK : PROD_LIST_ROW -->      
    </table>
    <!-- END BLOCK : CONTACTUS_MAIL -->