<div style="width:92%;margin:0 auto">
    您已成功訂購蔬果宅配箱產品。
    此訂單訂單號碼為{VALUE_DO_ID}
</div>
<!-- START BLOCK : ATM_INFO -->
<div style="width:92%;margin:0 auto">底下是ATM轉帳資訊，請在{MSG_VALID_DAY}天內完成轉帳，謝謝。</div>
<table width="92%" border="0" align="center" cellPadding="5" cellSpacing="1">
    <tr>
        <th bgcolor="#d6f691" width="30%">繳費銀行-代碼</th>
        <td>{MSG_BANKNAME_STR}-{MSG_BANKCODE}</td>
    </tr>
    <tr>
        <th bgcolor="#d6f691">繳費帳號</th>
        <td>{MSG_VACCOUNT}</td>
    </tr>
    <tr>
        <th bgcolor="#d6f691">繳費期限</th>
        <td>{MSG_EXPIREDATE}</td>
    </tr>
    <tr>
        <th bgcolor="#d6f691">應繳帳款</th>
        <td>NT$ {MSG_TRADEAMOUNT}</td>
    </tr>
</table>
<!-- END BLOCK : ATM_INFO -->
