    <!-- START BLOCK : DELIVERY_NOTICE -->
    <table width="92%" border="0" cellPadding="5" cellSpacing="2" bgColor="#888888" align="center" >
        <tr bgColor="#ffffff" class="body1">
            <td width="100" bgcolor="#D5D5D5">
                {MSG_DELIVERY_ID}</td>
            <td width="500" bgcolor="#ffffff">
                {VALUE_DELIVERY_ID}</td>
        </tr>
        <tr bgColor="#ffffff" class="body1">
            <td width="100" bgcolor="#D5D5D5">
                {MSG_DELIVERY_TOTAL_PRICE}</td>
            <td width="500" bgcolor="#ffffff">
                {VALUE_DELIVERY_TOTAL_PRICE}</td>
        </tr>
        <tr bgColor="#ffffff" class="body1">
            <td bgcolor="#D5D5D5">
                {MSG_DELIVERY_DATE}</td>
            <td bgcolor="#ffffff">
                {VALUE_DELIVERY_DATE}</td>
        </tr>
    </table>    
    <!-- END BLOCK : DELIVERY_NOTICE -->