    <!-- START BLOCK : MEMBER_FORGET_PASSWORD -->
    <table width="80%" border="0" align="center" cellPadding="5" cellSpacing="1" bgColor="#888888">
        <tr>
            <th colspan="2" bgcolor="#D5D5D5">{MSG_TITLE}</th>
        </tr>
        <tr>
            <td width="30%" bgcolor="#D5D5D5">
                {MSG_M_ACCOUNT}</td>
            <td bgcolor="#FFFFFF">
                {VALUE_M_ACCOUNT}</td>
        </tr>
        <tr>
            <td bgcolor="#D5D5D5">
                {MSG_M_PASSWORD}</td>
            <td bgcolor="#FFFFFF">
                {VALUE_M_PASSWORD}</td>
        </tr>
    </table>
    <!-- END BLOCK : MEMBER_FORGET_PASSWORD -->