<div style="width:92%;margin:0 auto">
    <!-- START BLOCK : SHOPPING_ORDER -->
    <!-- START BLOCK : NORMAL_DELIVERY -->
    訂單{MSG_O_ID}已確認收款，預計於4-5個工作日內(不含假日), 由委託之物流公司統一送達。謝謝您的訂購!
    <!-- END BLOCK : NORMAL_DELIVERY -->
    <!-- START BLOCK : DBOX_DELIVERY -->
    訂單{MSG_O_ID}已確認收款，預計於{MSG_DELIVERY_DATE}隨蔬果宅配箱配送。謝謝您的訂購!
    <!-- END BLOCK : DBOX_DELIVERY -->
    <!-- END BLOCK : SHOPPING_ORDER -->
    <!-- START BLOCK : DELIVERY_ORDER -->
    <p>蔬果宅配箱訂單{MSG_DO_ID}已確認收款。謝謝您的訂購!</p>
    <p>我們將於{MSG_START_DATE}起，每週配送{MSG_FREQUENCE}次。</p>
    <!-- END BLOCK : DELIVERY_ORDER -->
</div>