    <!-- START BLOCK : SHOPPING_CART_ZONE -->
    <div id="tp_product">
        <table width="90%" border="0" align="center" cellPadding="5" cellSpacing="1" bgColor="#888888">
            <tr bgcolor="#D5D5D5">
                <th width="5%"> No.</th>
                <th width="10%"> {MSG_PRODUCT_IMAGE}</th>
                <th width=""> {MSG_PRODUCT}</th>
                <!-- START BLOCK : SPEC_TITLE -->
                <th width=""> {MSG_SPEC}</th>
                <!-- END BLOCK : SPEC_TITLE -->                
                <th width="10%"> {MSG_AMOUNT}</th>
                <th width="10%"> {MSG_PRODUCT_SPECIAL_PRICE}</th>
                <th width="12%"> {MSG_DISCOUNT}</th>
                <th width="10%"> {MSG_SUBTOTAL}</th>
            </tr>
            <!-- START BLOCK : SHOPPING_CART_LIST -->
            <tr bgcolor="#FFFFFF">
                <td>{VALUE_P_SERIAL}</td>
                <td><center><a href="{VALUE_P_LINK}"><img src="{VALUE_P_SMALL_IMG}" width="{VALUE_P_SMALL_IMG_W}" height="{VALUE_P_SMALL_IMG_H}"  border="0"/></a></center></td>
                <td>{VALUE_P_NAME}</td>
                <!-- START BLOCK : SPEC_FIELD -->
                <td>{VALUE_SPEC}</td>
                <!-- END BLOCK : SPEC_FIELD -->                
                <td>{VALUE_P_AMOUNT}</td>
                <td>{VALUE_P_SPECIAL_PRICE}</td>
                <td>{TAG_QUANTITY_DISCOUNT}</td>
                <td>{VALUE_P_SUBTOTAL_PRICE}</td>
            </tr>
            <!-- END BLOCK : SHOPPING_CART_LIST -->
            <!-- START BLOCK : TAG_CART_GIFT -->
            <tr bgcolor="#FFFFFF">
                <td>{VALUE_P_SERIAL}</td>
                <td><center><img src="{VALUE_P_SMALL_IMG}" width="60" alt="{VALUE_P_SMALL_IMG_ALT}" border="0"/></center></td>
                <td>{VALUE_P_NAME}</td>
                <!-- START BLOCK : GIFT_SPEC_FIELD -->
                <td>{VALUE_SPEC}</td>
                <!-- END BLOCK : GIFT_SPEC_FIELD -->
                <td>{VALUE_P_AMOUNT}</td>
                <td>{VALUE_P_SPECIAL_PRICE}</td>
                <td>{TAG_QUANTITY_DISCOUNT}</td>
                <td>{VALUE_P_SUBTOTAL_PRICE}</td>
            </tr>
            <!-- END BLOCK : TAG_CART_GIFT -->             
            <tr bgcolor="#FFFFFF">
                <td colspan="{CART_FIELDS_NUMS}">
                    <div align="right"><span style="color:red">{TAG_TOTAL_DISCOUNT}</span>{MSG_SUBTOTAL}:&nbsp;</div>
                </td>
                <td> {VALUE_SUBTOTAL}</td>
            </tr>               
            <!-- START BLOCK : MINUS_ROW -->
            <tr bgcolor="#FFFFFF">
                <td colspan="{CART_FIELDS_NUMS}">
                    <div align="right">折扣:&nbsp;</div>
                </td>
                <td> <span style="color:red">-{VALUE_MINUS_PRICE}</span></td>
            </tr>
            <!-- END BLOCK : MINUS_ROW -->             
            <tr bgcolor="#FFFFFF">
                <td colspan="{CART_FIELDS_NUMS}">
                    <div align="right"> {MSG_SHIPPING_PRICE}:&nbsp;</div>
                </td>
                <td> {VALUE_SHIPPING_PRICE_STR}</td>
            </tr>
            <!-- START BLOCK : CHARGE_FEE_ROW -->
            <tr bgcolor="#FFFFFF">
                <td colspan="{CART_FIELDS_NUMS}"><div align="right"> {MSG_PLUS_FEE}:&nbsp;</div></td>
                <td align="left"> {VALUE_CHARGE_FEE}</td>
            </tr>            
            <!-- END BLOCK : CHARGE_FEE_ROW -->            
            <tr bgcolor="#FFFFFF">
                <th colspan="{CART_FIELDS_NUMS}">
                    <div align="right"> {MSG_TOTAL}:&nbsp;</div>
                </th>
                <th align="left"> {VALUE_TOTAL}</th>
            </tr>
        </table>
    <!-- END BLOCK : SHOPPING_CART_ZONE -->
    <!-- START BLOCK : MEMBER_DATA_FORM -->
        <table width="90%" border="0" align="center" cellPadding="5" cellSpacing="1" bgColor="#888888">
            <tr>
                <th colspan="2">訂單資訊</th>
            </tr>            
            <tr>
                <td bgcolor="#D5D5D5">
                    訂單編號</td>
                <td bgcolor="#FFFFFF">
                    {VALUE_O_ID}</td>
            </tr>
            <tr>
                <td bgcolor="#D5D5D5">
                    運送區域</td>
                <td bgcolor="#FFFFFF">
                    {VALUE_SHIPPMENT_TYPE}</td>
            </tr>
            <!-- START BLOCK : PAYMENT_TYPE -->
            <tr>
                <td bgcolor="#D5D5D5">
                    {MSG_PAYMENT_TYPE}</td>
                <td bgcolor="#FFFFFF">
                    {VALUE_PAYMENT_TYPE}</td>
            </tr>
            <!-- END BLOCK : PAYMENT_TYPE -->
            <!-- START BLOCK : DELIVERY_ZONE -->
            <tr>
                <td bgcolor="#D5D5D5">到貨日期</td>
                <td bgcolor="#FFFFFF">{VALUE_M_DELIVER_DATE}</td>
            </tr>
            <tr>
                <td bgcolor="#D5D5D5">配送時段</td>
                <td bgcolor="#FFFFFF">{VALUE_M_DELIVER_TIMESEC}</td>
            </tr>
            <!-- END BLOCK : DELIVERY_ZONE -->
            <!-- START BLOCK : ATM_LAST_FIVE -->
            <tr>
                <td bgcolor="#D5D5D5">匯款帳號後五碼</td>
                <td bgcolor="#FFFFFF">{VALUE_ATM_LAST5}</td>
            </tr>
            <!-- END BLOCK : ATM_LAST_FIVE -->
            <!-- START BLOCK : VIRTUAL_ACCOUNT -->           
            <tr>
                <td bgcolor="#D5D5D5">
                    {MSG_TRANSFER_BANK}</td>
                <td bgcolor="#FFFFFF">
                    {VALUE_TRANSFER_BANK_CODE}</td>
            </tr>            
            <tr>
                <td bgcolor="#D5D5D5">
                    {MSG_TRANSFER_ACCOUNT}</td>
                <td bgcolor="#FFFFFF">
                    {VALUE_VIRTUAL_ACCOUNT}</td>
            </tr>
            <!-- END BLOCK : VIRTUAL_ACCOUNT -->
            <tr>
              <td bgcolor="#D5D5D5">
                    {MSG_CONTENT}</td>
              <td bgcolor="#FFFFFF">
                 {VALUE_O_CONTENT}
              </td>
            </tr>            
            <tr>
                <th colspan="2">發票資訊</th>
            </tr>
            <tr>
                <td bgColor="#D5D5D5">
                    發票類型</td>
                <td bgColor="#ffffff">
                    {VALUE_O_INVOICE_TYPE}</td>
            </tr>
            <tr>
                <td bgColor="#D5D5D5">
                    {MSG_COMPANY_NAME}</td>
                <td bgColor="#ffffff">
                    {VALUE_M_COMPANY_NAME}</td>
            </tr>
            <tr>
                <td bgColor="#D5D5D5">
                    統一編號</td>
                <td bgColor="#ffffff">
                    {VALUE_M_VAT_NUMBER}</td>
            </tr>                
            <tr>
                <th colspan="2">訂購者資訊</th>
            </tr>            
            <!-- START BLOCK : CART_S_STYLE_1 -->
            <tr bgColor="#ffffff" class="body1">
                <td bgcolor="#D5D5D5">
                    {MSG_CONTACT_PERSON}</td>
                <td bgColor="#ffffff">
                    {VALUE_M_CONTACT_S}&nbsp;{VALUE_M_NAME}</td>
            </tr>
            <!-- END BLOCK : CART_S_STYLE_1 -->
            <!-- START BLOCK : CART_S_STYLE_2 -->
            <tr bgColor="#ffffff" class="body1">
                <td bgcolor="#D5D5D5">
                    {MSG_CONTACT_PERSON}</td>
                <td bgcolor="#ffffff">
                    {VALUE_M_NAME}&nbsp;{VALUE_M_CONTACT_S}</td>
            </tr>
            <!-- END BLOCK : CART_S_STYLE_2 -->            
            <!-- START BLOCK : MEMBER_DATA_COUNTRY_ZONE -->
            <tr bgColor="#ffffff" class="body1">
                <td bgcolor="#D5D5D5">
                    {MSG_COUNTRY}</td>
                <td bgcolor="#ffffff">
                    {VALUE_M_COUNTRY}</td>
            </tr>
            <!-- END BLOCK : MEMBER_DATA_COUNTRY_ZONE -->
            <tr>
                <td bgcolor="#D5D5D5">
                    {MSG_ZIP}</td>
                <td bgcolor="#FFFFFF">
                    {VALUE_M_ZIP}</td>
            </tr>
            <tr>
                <td bgcolor="#D5D5D5">
                    {MSG_ADDRESS}</td>
                <td bgcolor="#FFFFFF">
                    {VALUE_M_ADDRESS}</td>
            </tr>
            <tr>
                <td bgcolor="#D5D5D5">
                    {MSG_TEL}</td>
                <td bgcolor="#FFFFFF">
                    {VALUE_M_TEL}
                    </td>
            </tr>
            <tr>
                <td bgcolor="#D5D5D5">
                    {MSG_CELLPHONE}</td>
                <td bgcolor="#FFFFFF">
                    {VALUE_M_CELLPHONE}
                    </td>
            </tr>
            <tr>
                <td bgcolor="#D5D5D5">
                    e-mail</td>
                <td bgcolor="#FFFFFF">
                    {VALUE_M_EMAIL}
                    </td>
            </tr>
            <tr>
                <th colspan="2">收件者資訊</th>
            </tr>
            <!-- START BLOCK : RECI_CART_S_STYLE_1 -->
            <tr>
                <td bgColor="#D5D5D5">
                    {MSG_CONTACT_PERSON}</td>
                <td bgColor="#ffffff">
                    {VALUE_M_CONTACT_S}&nbsp;{VALUE_M_NAME}</td>
            </tr>
            <!-- END BLOCK : RECI_CART_S_STYLE_1 -->
            <!-- START BLOCK : RECI_CART_S_STYLE_2 -->
            <tr>
                <td bgColor="#D5D5D5">
                    {MSG_CONTACT_PERSON}</td>
                <td bgColor="#ffffff">
                    {VALUE_M_NAME}&nbsp;{VALUE_M_CONTACT_S}</td>
            </tr>
            <!-- END BLOCK : RECI_CART_S_STYLE_2 -->
            <tr>
              <td bgcolor="#D5D5D5">
                    {MSG_ZIP}</td>
              <td bgcolor="#FFFFFF">
                    {VALUE_M_RECI_ZIP}</td>
            </tr>
            <tr>
                <td bgcolor="#D5D5D5">
                    {MSG_ADDRESS}</td>
                <td bgcolor="#FFFFFF">
                    {VALUE_M_RECI_ADDRESS}</td>
            </tr>
            <tr>
                <td bgcolor="#D5D5D5">
                    {MSG_TEL}</td>
                <td bgcolor="#FFFFFF">
                    {VALUE_M_RECI_TEL}
              </td>
            </tr>
            <tr>
                <td bgcolor="#D5D5D5">
                    {MSG_CELLPHONE}</td>
                <td bgcolor="#FFFFFF">
                    {VALUE_M_RECI_CELLPHONE}
                    </td>
            </tr>
            <tr>
                <td bgcolor="#D5D5D5">
                    e-mail</td>
                <td bgcolor="#FFFFFF">
                    {VALUE_M_RECI_EMAIL}
                    </td>
            </tr>               
        </table>
        </div>
    <!-- END BLOCK : MEMBER_DATA_FORM -->
    <!-- START BLOCK : ALYPAY_FAIL -->
    <div>{VALUE_O_MESSAGE}</div>
    <div><a href="{VALUE_O_LINK}">{VALUE_O_LINK}</a></div>
    <!-- END BLOCK : ALYPAY_FAIL -->    
