<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{EPAPER_TITLE}</title>



</head>

<body style="border:0px;margin:0px;font: 14px Arial, Helvetica, sans-serif;background: url({TAG_THEME_PATH}bg.png) center bottom no-repeat #f1f1f1;">
<div style="margin:0px auto;width:800px;height: auto;">
<div style="margin:0px auto;width:800px;height:60px;position:relative;padding-top:15px;border-bottom:1px solid #e1002a;">
    <table width="800" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td width="177"><img style="border:0;" src="{TAG_THEME_PATH}logo.png" /></td>
            <td align="right" valign="bottom">
              <div style=" width:190px; position:absolute; top:52px; right:0px; color:#e1002a;">
              <a style="color:#e1002a; font-size:14px; font-weight:bold; padding:0 10px; text-decoration:none;" href="{TAG_BASE_URL}contactus.htm">Contact Us</a> | 
              <a style="color:#e1002a; font-size:14px; font-weight:bold; padding:0 10px; text-decoration:none;" href="{TAG_BASE_URL}">Website</a></div>
            </td>
        </tr>
    </table>
</div>

<div style="width:780px; height:auto;font-size:16px; font-weight:bold; line-height:25px; padding:10px; color:#000;">
<div style="color: #e1002a; font-size:30px; font-weight:bold;  line-height:50px;">This is your captain speaking...</div> 	 
We're in airplane mode all flight long and we say hello to offline files and CloudOn.</div>
<table width="800" border="0" cellpadding="0" cellspacing="0" style="background-color:#FFF; border-radius:10px; border:1px solid #000;">
  <tr>
      <td>{EPAPER_CONTENT}</td>
    </tr>
  <tr>
      <td>
            <!-- START BLOCK : ATTACH_PRODUCT_LIST -->
            <div style="width:110px;display:inline-block;padding:5px;margin:5px;">
                <div style="width:110px;height:110px;display:table-cell;text-align:center;vertical-align: middle;">
                    <a href="{VALUE_P_LINK}"><img src="{VALUE_P_SMALL_IMG}" width="{VALUE_P_SMALL_IMG_W}" height="{VALUE_P_SMALL_IMG_H}" /></a>
                </div>
                <div style="height:60px;overflow: hidden;"><a href="{VALUE_P_LINK}" style="color:#8c0c09;text-decoration: none;font-size:12px">{VALUE_P_NAME}</a></div>
            </div>
            <!-- END BLOCK : ATTACH_PRODUCT_LIST -->      
      </td>
    </tr>
</table>
<div style="padding:20px 10px; text-align:center; line-height:25px; color:#FFF;"></div>
</div>
</body>
</html>
